{% extends 'base-template.html' %}
{% block title %} 1601-EQ {% endblock %}

{% block body %}
<style>
    #app2{
        background-image: url('/static/media/BIR/1601-EQ-1.png');
        height: 13in;
        width: 8.5in;
        background-size: contain;
    }

    #app3{
        background-image: url('/static/media/BIR/1601-EQ-2.png');
        height: 13in;
        width: 8.5in;
        background-size: contain;
    }

</style>
<div id="app">
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-reports" photo="/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>

    <div class="container">
        <reports-sec-nav active="1601-EQ"></reports-sec-nav>
    </div>

    <!-- BUTTON TO SAVE AS PDF -->
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @click="generatePDF()">Save</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#editForm">Edit</button>
            </div>
        </div>
    </div>

    <!-- EDIT MODAL -->
    <div class="modal fade" id="editForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content b-radius-15">
                <div class="modal-body">
                    <div class="mb-4">
                        <span class="modal-title">Edit 1601-EQ</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">For the Year</label>
                            <input type="text" v-model="bir.l1" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Quarter</label>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=1 v-model="bir.l2">
                                <label for="">1st</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=2 v-model="bir.l2">
                                <label for="">2nd</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=3 v-model="bir.l2">
                                <label for="">3rd</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=4 v-model="bir.l2">
                                <label for="">4th</label>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">Amended Return?</label>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=1 v-model="bir.l3">
                                <label for="">Yes</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=0 v-model="bir.l3">
                                <label for="">No</label>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">Any Taxes Withheld?</label>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=1 v-model="bir.l4">
                                <label for="">Yes</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=0 v-model="bir.l4">
                                <label for="">No</label>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">No. of Sheets/Attached</label>
                            <input type="text" v-model="bir.l5" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part I - Background Information</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Taxpayer Identification Number (TIN)</label>
                            <input type="text" v-model="bir.l6" class="form-control">
                        </div>
                        <div class="col-2 pl-1">
                            <label for="">RDO Code</label>
                            <input type="text" v-model="bir.l7" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Withholding Agent's Name</label>
                            <input type="text" v-model="bir.l8" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Registered Address</label>
                            <input type="text" v-model="bir.l9" class="form-control">
                        </div>
                        <div class="col-2 pl-1">
                            <label for="">ZIP Code</label>
                            <input type="text" v-model="bir.l9A" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <label for="">Contact Number</label>
                            <input type="tel" v-model="bir.l10" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="">Category of Withholding Agent</label>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=1 v-model="bir.l11">
                                <label for="">Private</label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input type="radio" value=0 v-model="bir.l11">
                                <label for="">Government</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Email Address</label>
                            <input type="email" v-model="bir.l12" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part II - Computation of Tax </span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">#</label>
                        </div>
                        <div class="col px-1">
                            <label for="">ATC</label>
                        </div>
                        <div class="col px-1">
                            <label for="">Tax Base</label>
                        </div>
                        <div class="col px-1">
                            <label for="">Tax Rate</label>
                        </div>
                        <div class="col pl-1">
                            <label for="">Tax Withheld</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">13</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l13.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l13.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l13.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l13.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">14</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l14.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l14.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l14.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l14.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">15</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l15.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l15.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l15.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l15.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">16</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l16.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l16.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l16.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l16.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">17</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l17.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l17.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l17.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l17.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 pr-1">
                            <label for="">18</label>
                        </div>
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l18.atc" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l18.tax" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l18.rate" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <input type="text" v-model="bir.l18.withheld" class="form-control">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>19</b>&emsp;Total Taxes Withheld for the Quarter (Sum of items 13 to 18)</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l19.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>20</b>&emsp;Less: Remittances Made: 1st Month of the Quarter</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l20.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>21</b>&emsp;Less: Remittances Made: 2nd Month of the Quarter</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l21.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>22</b>&emsp;Tax Remitted in Return Previously Filed, if this is an amended return</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l22.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>23</b>&emsp;Over-remittance from Previous Quarter of the same Taxable Year</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l23.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>24</b>&emsp;Other Payments Made (please attach proof of payments - BIR Form No. 1605)</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l24.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>25</b>&emsp;Total Remittances Made (Sum of items 20 to 24)</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l25.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>26</b>&emsp;Tax Still Due (Over-remittance) (Item 19 less item 25)</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l26.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>27</b>&emsp;Surcharge</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l27.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>28</b>&emsp;Interest</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l28.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>29</b>&emsp;Compromise</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l29.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>30</b>&emsp;Total Penalties</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l30.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <label for=""><b>31</b>&emsp;TOTAL AMOUNT STILL DUE (Over-remittance) (Sum of item 26 and 30)</label>
                        </div>
                        <div class="col-4 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l31.withheld" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part III - Details of Payment</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col pr-1 d-flex align-items-center">
                            <label for="">Particulars</label>
                        </div>
                        <div class="col px-1">
                            <label for="">Drawee Bank/Agency</label>
                        </div>
                        <div class="col px-1">
                            <label for="">Number</label>
                        </div>
                        <div class="col px-1">
                            <label for="">Date</label>
                        </div>
                        <div class="col pl-1">
                            <label for="">Amount</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1 d-flex align-items-center">
                            <span>Cash/Bank Debit Memo</span>
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l32.agency" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l32.number" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="date" v-model="bir.l32.date" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l32.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1 d-flex align-items-center">
                            <span>Check</span>
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l33.agency" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l33.number" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="date" v-model="bir.l33.date" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l33.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1 d-flex align-items-center">
                            <span>Tax Debit Memo</span>
                        </div>
                        <div class="col px-1">
                            
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l34.number" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="date" v-model="bir.l34.date" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l34.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1 d-flex align-items-center">
                            <input type="text" v-model="bir.l35.particulars" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l35.agency" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="text" v-model="bir.l35.number" class="form-control">
                        </div>
                        <div class="col px-1">
                            <input type="date" v-model="bir.l35.date" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l35.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Page 2</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col-5">
                            <label for="">TIN</label>
                            <input type="text" v-model="pg2.tin" class="form-control">
                        </div>
                        <div class="col-7">
                            <label for="">Withholding Agent's Name</label>
                            <input type="text" v-model="pg2.name" class="form-contorl">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- THE FILE -->
    <div class="d-flex justify-content-center container">
        <div id="form-container">
            <div id="app2" class="roboto-mono font-bold font-size-18 position-relative">
                <!-- SPANS BELOW -->
                <span class="position-absolute" style="top: 146px; left: 48px; letter-spacing: .45em;" >[[bir.l1]]</span>
                <span class="position-absolute" style="top: 146px; left: 160px; letter-spacing: .45em;" v-if="bir.l2 == 1"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 146px; left: 218px; letter-spacing: .45em;" v-if="bir.l2 == 2"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 146px; left: 276px; letter-spacing: .45em;" v-if="bir.l2 == 3"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 146px; left: 335px; letter-spacing: .45em;" v-if="bir.l2 == 4"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 146px; left: 410px; letter-spacing: .45em;" v-if="bir.l3 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 146px; left: 469px; letter-spacing: .45em;" v-if="bir.l3 == false"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 146px; left: 545px; letter-spacing: .45em;" v-if="bir.l4 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 146px; left: 602px; letter-spacing: .45em;" v-if="bir.l4 == false"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 146px; left: 700px; letter-spacing: .45em;">[[bir.l5]]</span>

                <span class="position-absolute" style="top: 190px; left: 314px; letter-spacing: .47em;">[[bir.l6]]</span>
                <span class="position-absolute" style="top: 190px; left: 736px; letter-spacing: .47em;">[[bir.l7]]</span>

                <span class="position-absolute" style="top: 228px; left: 28px; letter-spacing: .464em;">[[bir.l8]]</span>
                <span class="position-absolute" style="top: 265px; left: 28px; letter-spacing: .464em;">[[bir.l9]]</span>
                <span class="position-absolute" style="top: 288px; left: 716px; letter-spacing: .505em;">[[bir.l9A]]</span>
                <span class="position-absolute" style="top: 312px; left: 142px; letter-spacing: .464em;">[[bir.l10]]</span>

                <span class="position-absolute" style="top: 312px; left: 599px; letter-spacing: .464em;" v-if="bir.l11 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 312px; left: 695px; letter-spacing: .464em;" v-if="bir.l11 == false"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 335px; left: 142px; letter-spacing: .464em;">[[bir.l12]]</span>



                <span class="position-absolute" style="top: 394px; left: 48px; letter-spacing: .464em;">[[bir.l13.atc]]</span>
                <span class="position-absolute" style="top: 394px; right: 386px; letter-spacing: .464em;">[[bir.l13.tax]]</span>
                <span class="position-absolute" style="top: 394px; left: 447px; letter-spacing: .464em;">[[bir.l13.rate]]</span>
                <span class="position-absolute" style="top: 394px; right: 23px; letter-spacing: .464em;">[[bir.l13.withheld]]</span>

                <span class="position-absolute" style="top: 418px; left: 48px; letter-spacing: .464em;">[[bir.l14.atc]]</span>
                <span class="position-absolute" style="top: 418px; right: 386px; letter-spacing: .464em;">[[bir.l14.tax]]</span>
                <span class="position-absolute" style="top: 418px; left: 447px; letter-spacing: .464em;">[[bir.l14.rate]]</span>
                <span class="position-absolute" style="top: 418px; right: 23px; letter-spacing: .464em;">[[bir.l14.withheld]]</span>

                <span class="position-absolute" style="top: 441px; left: 48px; letter-spacing: .464em;">[[bir.l15.atc]]</span>
                <span class="position-absolute" style="top: 441px; right: 386px; letter-spacing: .464em;">[[bir.l15.tax]]</span>
                <span class="position-absolute" style="top: 441px; left: 447px; letter-spacing: .464em;">[[bir.l15.rate]]</span>
                <span class="position-absolute" style="top: 441px; right: 23px; letter-spacing: .464em;">[[bir.l15.withheld]]</span>

                <span class="position-absolute" style="top: 465px; left: 48px; letter-spacing: .464em;">[[bir.l16.atc]]</span>
                <span class="position-absolute" style="top: 465px; right: 386px; letter-spacing: .464em;">[[bir.l16.tax]]</span>
                <span class="position-absolute" style="top: 465px; left: 447px; letter-spacing: .464em;">[[bir.l16.rate]]</span>
                <span class="position-absolute" style="top: 465px; right: 23px; letter-spacing: .464em;">[[bir.l16.withheld]]</span>

                <span class="position-absolute" style="top: 489px; left: 48px; letter-spacing: .464em;">[[bir.l17.atc]]</span>
                <span class="position-absolute" style="top: 489px; right: 386px; letter-spacing: .464em;">[[bir.l17.tax]]</span>
                <span class="position-absolute" style="top: 489px; left: 447px; letter-spacing: .464em;">[[bir.l17.rate]]</span>
                <span class="position-absolute" style="top: 489px; right: 23px; letter-spacing: .464em;">[[bir.l17.withheld]]</span>

                <span class="position-absolute" style="top: 512px; left: 48px; letter-spacing: .464em;">[[bir.l18.atc]]</span>
                <span class="position-absolute" style="top: 512px; right: 386px; letter-spacing: .464em;">[[bir.l18.tax]]</span>
                <span class="position-absolute" style="top: 512px; left: 447px; letter-spacing: .464em;">[[bir.l18.rate]]</span>
                <span class="position-absolute" style="top: 512px; right: 23px; letter-spacing: .464em;">[[bir.l18.withheld]]</span>

                <span class="position-absolute" style="top: 535px; right: 23px; letter-spacing: .464em;">[[bir.l19.withheld]]</span>
                <span class="position-absolute" style="top: 558px; right: 23px; letter-spacing: .464em;">[[bir.l20.withheld]]</span>
                <span class="position-absolute" style="top: 581px; right: 23px; letter-spacing: .464em;">[[bir.l21.withheld]]</span>
                <span class="position-absolute" style="top: 605px; right: 23px; letter-spacing: .464em;">[[bir.l22.withheld]]</span>
                <span class="position-absolute" style="top: 628px; right: 23px; letter-spacing: .464em;">[[bir.l23.withheld]]</span>
                <span class="position-absolute" style="top: 651px; right: 23px; letter-spacing: .464em;">[[bir.l24.withheld]]</span>
                <span class="position-absolute" style="top: 675px; right: 23px; letter-spacing: .464em;">[[bir.l25.withheld]]</span>
                <span class="position-absolute" style="top: 698px; right: 23px; letter-spacing: .464em;">[[bir.l26.withheld]]</span>
                <span class="position-absolute" style="top: 721px; right: 23px; letter-spacing: .464em;">[[bir.l27.withheld]]</span>
                <span class="position-absolute" style="top: 744px; right: 23px; letter-spacing: .464em;">[[bir.l28.withheld]]</span>
                <span class="position-absolute" style="top: 767px; right: 23px; letter-spacing: .464em;">[[bir.l29.withheld]]</span>
                <span class="position-absolute" style="top: 790px; right: 23px; letter-spacing: .464em;">[[bir.l30.withheld]]</span>
                <span class="position-absolute" style="top: 813px; right: 23px; letter-spacing: .464em;">[[bir.l31.withheld]]</span>



                <span class="position-absolute" style="top: 1029px; left: 162px; letter-spacing: .464em;">[[bir.l32.agency]]</span>
                <span class="position-absolute" style="top: 1029px; left: 258px; letter-spacing: .464em;">[[bir.l32.number]]</span>
                <span class="position-absolute" style="top: 1029px; left: 371px; letter-spacing: .464em;">[[formatDate(bir.l32.date)]]</span>
                <span class="position-absolute" style="top: 1029px; right: 22px; letter-spacing: .464em;">[[bir.l32.amount]]</span>

                <span class="position-absolute" style="top: 1053px; left: 162px; letter-spacing: .464em;">[[bir.l33.agency]]</span>
                <span class="position-absolute" style="top: 1053px; left: 258px; letter-spacing: .464em;">[[bir.l33.number]]</span>
                <span class="position-absolute" style="top: 1053px; left: 371px; letter-spacing: .464em;">[[formatDate(bir.l33.date)]]</span>
                <span class="position-absolute" style="top: 1053px; right: 22px; letter-spacing: .464em;">[[bir.l33.amount]]</span>

                <span class="position-absolute" style="top: 1077px; left: 258px; letter-spacing: .464em;">[[bir.l33.number]]</span>
                <span class="position-absolute" style="top: 1077px; left: 371px; letter-spacing: .464em;">[[formatDate(bir.l33.date)]]</span>
                <span class="position-absolute" style="top: 1077px; right: 22px; letter-spacing: .464em;">[[bir.l33.amount]]</span>

                <span class="position-absolute" style="top: 1111px; left: 28px; letter-spacing: .464em;">[[bir.l32.particulars]]</span>
                <span class="position-absolute" style="top: 1111px; left: 162px; letter-spacing: .464em;">[[bir.l32.agency]]</span>
                <span class="position-absolute" style="top: 1111px; left: 258px; letter-spacing: .464em;">[[bir.l32.number]]</span>
                <span class="position-absolute" style="top: 1111px; left: 371px; letter-spacing: .464em;">[[formatDate(bir.l32.date)]]</span>
                <span class="position-absolute" style="top: 1114px; right: 22px; letter-spacing: .464em;">[[bir.l32.amount]]</span>
                <!-- END SPANS -->
            </div>

            <div id="app3" class="roboto-mono font-bold font-size-18 position-relative">
                <span class="position-absolute" style="top: 147px; left: 28px; letter-spacing: .47em;" >[[pg2.tin]]</span>
                <span class="position-absolute" style="top: 147px; left: 296px; letter-spacing: .47em;" >[[pg2.name]]</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            bir: {
                l1: null,
                l2: null,
                l3: null,
                l4: null,
                l5: null,
                l6: null,
                l7: null,
                l8: null,
                l9: null,
                l9A: null,
                l10: null,
                l11: null,
                l12: null,


                l13: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l14: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l15: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l16: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l17: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l18: {
                    atc: null,
                    tax: null,
                    rate: null,
                    withheld: null,
                },
                l19: {
                    withheld: null,
                },
                l20: {
                    withheld: null,
                },
                l21: {
                    withheld: null,
                },
                l22: {
                    withheld: null,
                },
                l23: {
                    withheld: null,
                },
                l24: {
                    withheld: null,
                },
                l25: {
                    withheld: null,
                },
                l26: {
                    withheld: null,
                },
                l27: {
                    withheld: null,
                },
                l28: {
                    withheld: null,
                },
                l29: {
                    withheld: null,
                },
                l30: {
                    withheld: null,
                },
                l31: {
                    withheld: null,
                },
                l32: {
                    particulars: null,
                    agency: null,
                    number: null,
                    date: null,
                    amount: null,
                },
                l33: {
                    particulars: null,
                    agency: null,
                    number: null,
                    date: null,
                    amount: null,
                },
                l34: {
                    particulars: null,
                    agency: null,
                    number: null,
                    date: null,
                    amount: null,
                },
                l35: {
                    particulars: null,
                    agency: null,
                    number: null,
                    date: null,
                    amount: null,
                },
            },
            pg2:{
                tin: null,
                name: null
            }
        },

        methods: {
            generatePDF(){
                var element = document.getElementById('form-container');
                var opt = {
                    margin:       0,
                    filename:     'myfile.pdf',
                    image:        { type: 'jpeg', quality: 1 },
                    html2canvas:  { scale: 1 },
                    jsPDF:        { unit: 'in', format: [8.5, 13], orientation: 'portrait' }
                };

                html2pdf().set(opt).from(element).save();
            },

            formatDate(value){
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                if (!value){
                    return null
                }
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                date = ('0' + String(value.getDate())).slice(-2)
                formatted = `${month}${date}${year}`

                return formatted
            },

            getMonth(value){
                if (!value){
                    return null
                }
                value = new Date(value)
                month = ('0' + String(value.getMonth() + 1)).slice(-2)

                return `${month}`
            },

            getYear(value){
                if (!value){
                    return null
                }
                value = new Date(value)
                year = value.getFullYear()

                return `${String(year).slice(-2)}`
            },

            formatMonth(value){
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                if (!value){
                    return null
                }
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                formatted = `${month}${year}`

                return formatted
            },
        }
    })
</script>

{% endblock %}