{% extends 'base-template.html' %}
{% block title %} 1702-Q {% endblock %}

{% block body %}
<style>
    #app2{
        background-image: url('/static/media/BIR/1702Q-1.png');
        height: 13in;
        width: 8.5in;
        background-size: contain;
    }

    #app3{
        background-image: url('/static/media/BIR/1702Q-2.png');
        height: 13in;
        width: 8.5in;
        background-size: contain;
    }

</style>
<div id="app">
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-forms" photo="/static/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>

    <div class="container">
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/2307/" class="mx-3">2307</a>
                <a href="/1702-Q/" class="active-gas mx-3">1702Q</a>
                <a href="/1601-C/" class="mx-3">1601-C</a>
                <a href="/1601-EQ/" class="mx-3">1601-EQ</a>
                <a href="/2316/" class="mx-3">2316</a>
                <a href="/0619-E/" class="mx-3">0619-E</a>
            </div>
        </div>
    </div>

    <!-- BUTTON TO SAVE AS PDF -->
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @click="generatePDF()">Save</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#editForm">Edit</button>
            </div>
        </div>
    </div>

    <!-- EDIT MODAL -->
    <div class="modal fade" id="editForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content b-radius-15">
                <div class="modal-body">
                    <div class="mb-4">
                        <span class="modal-title">Edit 1702-Q</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PIXEL -->
    <div class="sticky-top">
        <div id="pixels"></div>
        <br>
        Pg. 2
        <div id="pixels2"></div>
    </div>

    <!-- THE FILE -->
    <div class="d-flex justify-content-center container">
        <div id="form-container">
            <div id="app2" class="roboto-mono font-bold font-size-18 position-relative">
                <span class="position-absolute" style="top: 159px; left: 69px; letter-spacing: 8px;"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 159px; left: 145px; letter-spacing: 8px;"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 193px; left: 50px; letter-spacing: .35em;">[[ getMonth(bir.l2) ]]</span>
                <span class="position-absolute" style="top: 193px; left: 114px; letter-spacing: .35em;">[[ getYear(bir.l2) ]]</span>

                <span class="position-absolute" style="top: 180px; left: 210px; letter-spacing: .35em;" v-if="bir.l3 == 1"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 180px; left: 247px; letter-spacing: .35em;" v-else-if="bir.l3 == 2"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 180px; left: 286px; letter-spacing: .35em;" v-else-if="bir.l3 == 3"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 182px; left: 344px; letter-spacing: .35em;" v-if="bir.l4"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 182px; left: 402px; letter-spacing: .35em;" v-else><i class="fas fa-times"></i></span>

                <span class="position-absolute font-size-12" style="top: 192px; left: 480px; letter-spacing: 0em;">[[bir.l5.code]]</span>
                <span class="position-absolute font-size-12" style="top: 192px; left: 548px; letter-spacing: 0em;">[[bir.l5.name]]</span>
                <span class="position-absolute font-size-12" style="top: 192px; left: 752px; letter-spacing: 0em;">[[bir.l5.other]]</span>

                <span class="position-absolute" style="top: 236px; left: 292px; letter-spacing: .52em;">[[bir.l6]]</span>
                <span class="position-absolute" style="top: 236px; left: 716px; letter-spacing: .52em;">[[bir.l7]]</span>

                <span class="position-absolute" style="top: 277px; left: 29px; letter-spacing: .52em; width: 763px">[[bir.l8]]</span>
                <span class="position-absolute" style="top: 340px; left: 29px; letter-spacing: .52em; width: 763px">[[bir.l9]]</span>
                <span class="position-absolute" style="top: 364px; left: 715px; letter-spacing: .52em; width: 763px">[[bir.l9A]]</span>

                <span class="position-absolute" style="top: 404px; left: 29px; letter-spacing: .52em; width: 763px">[[bir.l10]]</span>
                <span class="position-absolute" style="top: 404px; left: 251px; letter-spacing: .52em; width: 763px">[[bir.l11]]</span>

                <span class="position-absolute" style="top: 430px; left: 184px; letter-spacing: .52em;"v-if="bir.l12 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 430px; left: 472px; letter-spacing: .52em;"v-else><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 454px; left: 241px; letter-spacing: .52em;"v-if="bir.l13 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 454px; left: 297px; letter-spacing: .52em;"v-else><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 457px; left: 414px; letter-spacing: .52em;">[[bir.l13A]]</span>

                <span class="position-absolute" style="top: 504px; right: 20px; letter-spacing: .52em;">[[bir.l14]]</span>
                <span class="position-absolute" style="top: 530px; right: 20px; letter-spacing: .52em;">[[bir.l15]]</span>
                <span class="position-absolute" style="top: 556px; right: 20px; letter-spacing: .52em;">[[bir.l16]]</span>
                <span class="position-absolute" style="top: 582px; right: 20px; letter-spacing: .52em;">[[bir.l17]]</span>
                <span class="position-absolute" style="top: 608px; right: 20px; letter-spacing: .52em;">[[bir.l18]]</span>
                <span class="position-absolute" style="top: 634px; right: 20px; letter-spacing: .52em;">[[bir.l19]]</span>
                <span class="position-absolute" style="top: 660px; right: 20px; letter-spacing: .52em;">[[bir.l20]]</span>
                <span class="position-absolute" style="top: 686px; right: 20px; letter-spacing: .52em;">[[bir.l21]]</span>
                <span class="position-absolute" style="top: 712px; right: 20px; letter-spacing: .52em;">[[bir.l22]]</span>
                <span class="position-absolute" style="top: 738px; right: 20px; letter-spacing: .52em;">[[bir.l23]]</span>
                <span class="position-absolute" style="top: 764px; right: 20px; letter-spacing: .52em;">[[bir.l24]]</span>
                <span class="position-absolute" style="top: 790px; right: 20px; letter-spacing: .52em;">[[bir.l25]]</span>

                <span class="position-absolute" style="top: 899px; left: 716px; letter-spacing: .52em;">[[bir.l26]]</span>
                
                <span class="position-absolute" style="top: 985px; left: 183px; letter-spacing: .44em;" >[[ bir.l27.agency ]]</span>
                <span class="position-absolute" style="top: 985px; left: 279px; letter-spacing: .46em;" >[[ bir.l27.number ]]</span>
                <span class="position-absolute" style="top: 985px; left: 413px; letter-spacing: .47em;" >[[ formatDate(bir.l27.date) ]]</span>
                <span class="position-absolute" style="top: 985px; right: 20px; letter-spacing: .46em;" >[[ bir.l27.amount ]]</span>

                <span class="position-absolute" style="top: 1010px; left: 183px; letter-spacing: .44em;" >[[ bir.l28.agency ]]</span>
                <span class="position-absolute" style="top: 1010px; left: 279px; letter-spacing: .46em;" >[[ bir.l28.number ]]</span>
                <span class="position-absolute" style="top: 1010px; left: 413px; letter-spacing: .47em;" >[[ formatDate(bir.l28.date) ]]</span>
                <span class="position-absolute" style="top: 1010px; right: 20px; letter-spacing: .46em;" >[[ bir.l28.amount ]]</span>

                <span class="position-absolute" style="top: 1036px; left: 279px; letter-spacing: .46em;" >[[ bir.l29.number ]]</span>
                <span class="position-absolute" style="top: 1036px; left: 413px; letter-spacing: .47em;" >[[ formatDate(bir.l29.date) ]]</span>
                <span class="position-absolute" style="top: 1036px; right: 20px; letter-spacing: .46em;" >[[ bir.l29.amount ]]</span>

                <span class="position-absolute" style="top: 1078px; left: 31px; letter-spacing: .52em;" >[[ bir.l30.particulars ]]</span>
                <span class="position-absolute" style="top: 1078px; left: 183px; letter-spacing: .44em;" >[[ bir.l30.agency ]]</span>
                <span class="position-absolute" style="top: 1078px; left: 279px; letter-spacing: .46em;" >[[ bir.l30.number ]]</span>
                <span class="position-absolute" style="top: 1078px; left: 413px; letter-spacing: .47em;" >[[ formatDate(bir.l30.date) ]]</span>
                <span class="position-absolute" style="top: 1078px; right: 20px; letter-spacing: .46em;" >[[ bir.l30.amount ]]</span>
                
            </div>

            <div id="app3" class="roboto-mono font-bold font-size-18 position-relative">
                <span class="position-absolute" style="top: 119px; left: 29px; letter-spacing: .52em;" >[[ pg2.tin ]]</span>
                <span class="position-absolute" style="top: 121px; left: 312px; letter-spacing: .52em;" >[[ pg2.name ]]</span>

                <span class="position-absolute" style="top: 180px; right: 262px; letter-spacing: .52em;" >[[ pg2.l1.ex ]]</span>
                <span class="position-absolute" style="top: 180px; right: 19px; letter-spacing: .52em;" >[[ pg2.l1.sp ]]</span>

                <span class="position-absolute" style="top: 203px; right: 262px; letter-spacing: .52em;" >[[ pg2.l2.ex ]]</span>
                <span class="position-absolute" style="top: 203px; right: 19px; letter-spacing: .52em;" >[[ pg2.l2.sp ]]</span>
                
                <span class="position-absolute" style="top: 226px; right: 262px; letter-spacing: .52em;" >[[ pg2.l3.ex ]]</span>
                <span class="position-absolute" style="top: 226px; right: 19px; letter-spacing: .52em;" >[[ pg2.l3.sp ]]</span>

                <span class="position-absolute" style="top: 249px; right: 262px; letter-spacing: .52em;" >[[ pg2.l4.ex ]]</span>
                <span class="position-absolute" style="top: 249px; right: 19px; letter-spacing: .52em;" >[[ pg2.l4.sp ]]</span>
                
                <span class="position-absolute" style="top: 272px; right: 262px; letter-spacing: .52em;" >[[ pg2.l5.ex ]]</span>
                <span class="position-absolute" style="top: 272px; right: 19px; letter-spacing: .52em;" >[[ pg2.l5.sp ]]</span>
                
                <span class="position-absolute" style="top: 295px; right: 262px; letter-spacing: .52em;" >[[ pg2.l6.ex ]]</span>
                <span class="position-absolute" style="top: 295px; right: 19px; letter-spacing: .52em;" >[[ pg2.l6.sp ]]</span>
                
                <span class="position-absolute" style="top: 318px; right: 262px; letter-spacing: .52em;" >[[ pg2.l7.ex ]]</span>
                <span class="position-absolute" style="top: 318px; right: 19px; letter-spacing: .52em;" >[[ pg2.l7.sp ]]</span>
                
                <span class="position-absolute" style="top: 341px; right: 262px; letter-spacing: .52em;" >[[ pg2.l8.ex ]]</span>
                <span class="position-absolute" style="top: 341px; right: 19px; letter-spacing: .52em;" >[[ pg2.l8.sp ]]</span>
                
                <span class="position-absolute" style="top: 364px; right: 262px; letter-spacing: .52em;" >[[ pg2.l9.ex ]]</span>
                <span class="position-absolute" style="top: 364px; right: 19px; letter-spacing: .52em;" >[[ pg2.l9.sp ]]</span>
                
                <span class="position-absolute" style="top: 385px; right: 284px; letter-spacing: .52em;" >[[ pg2.l10.ex ]]</span>
                <span class="position-absolute" style="top: 388px; right: 40px; letter-spacing: .52em;" >[[ pg2.l10.sp ]]</span>
                
                <span class="position-absolute" style="top: 409px; right: 262px; letter-spacing: .52em;" >[[ pg2.l11.ex ]]</span>
                <span class="position-absolute" style="top: 411px; right: 19px; letter-spacing: .52em;" >[[ pg2.l11.sp ]]</span>

                <span class="position-absolute" style="top: 434px; right: 19px; letter-spacing: .52em;" >[[ pg2.l12.sp ]]</span>

                <span class="position-absolute" style="top: 459px; right: 19px; letter-spacing: .52em;" >[[ pg2.l13.sp ]]</span>




                <span class="position-absolute" style="top: 504px; right: 19px; letter-spacing: .52em;" >[[ pg2.m1.sp ]]</span>
                <span class="position-absolute" style="top: 527px; right: 19px; letter-spacing: .52em;" >[[ pg2.m2.sp ]]</span>
                <span class="position-absolute" style="top: 550px; right: 19px; letter-spacing: .52em;" >[[ pg2.m3.sp ]]</span>
                <span class="position-absolute" style="top: 573px; right: 19px; letter-spacing: .52em;" >[[ pg2.m4.sp ]]</span>
                <span class="position-absolute" style="top: 596px; right: 19px; letter-spacing: .52em;" >[[ pg2.m5.sp ]]</span>
                <span class="position-absolute" style="top: 617px; right: 19px; letter-spacing: .52em;" >[[ pg2.m6.sp ]]</span>
                <span class="position-absolute" style="top: 640px; right: 19px; letter-spacing: .52em;" >[[ pg2.m7.sp ]]</span>
                <span class="position-absolute" style="top: 663px; right: 19px; letter-spacing: .52em;" >[[ pg2.m8.sp ]]</span>
                <span class="position-absolute" style="top: 684px; right: 19px; letter-spacing: .52em;" >[[ pg2.m9.sp ]]</span>
                <span class="position-absolute" style="top: 707px; right: 38px; letter-spacing: .52em;" >[[ pg2.m10.sp ]]</span>
                <span class="position-absolute" style="top: 731px; right: 19px; letter-spacing: .52em;" >[[ pg2.m11.sp ]]</span>
                <span class="position-absolute" style="top: 754px; right: 19px; letter-spacing: .52em;" >[[ pg2.m12.sp ]]</span>
                <span class="position-absolute" style="top: 777px; right: 19px; letter-spacing: .52em;" >[[ pg2.m13.sp ]]</span>

                <span class="position-absolute" style="top: 823px; right: 19px; letter-spacing: .52em;" >[[ pg2.n1.sp ]]</span>
                <span class="position-absolute" style="top: 846px; right: 19px; letter-spacing: .52em;" >[[ pg2.n2.sp ]]</span>
                <span class="position-absolute" style="top: 869px; right: 19px; letter-spacing: .52em;" >[[ pg2.n3.sp ]]</span>
                <span class="position-absolute" style="top: 892px; right: 19px; letter-spacing: .52em;" >[[ pg2.n4.sp ]]</span>
                <span class="position-absolute" style="top: 913px; right: 40px; letter-spacing: .52em;" >[[ pg2.n5.sp ]]</span>
                <span class="position-absolute" style="top: 938px; right: 19px; letter-spacing: .52em;" >[[ pg2.n6.sp ]]</span>
                
                <span class="position-absolute" style="top: 985px; right: 19px; letter-spacing: .52em;" >[[ pg2.o1.sp ]]</span>
                <span class="position-absolute" style="top: 1008px; right: 19px; letter-spacing: .52em;" >[[ pg2.o2.sp ]]</span>
                <span class="position-absolute" style="top: 1031px; right: 19px; letter-spacing: .52em;" >[[ pg2.o3.sp ]]</span>
                <span class="position-absolute" style="top: 1054px; right: 19px; letter-spacing: .52em;" >[[ pg2.o4.sp ]]</span>
                <span class="position-absolute" style="top: 1077px; right: 19px; letter-spacing: .52em;" >[[ pg2.o5.sp ]]</span>
                <span class="position-absolute" style="top: 1100px; right: 19px; letter-spacing: .52em;" >[[ pg2.o6.sp ]]</span>

                <span class="position-absolute" style="top: 1138px; left: 70px; letter-spacing: .52em;" >[[ pg2.a.other ]]</span>
                <span class="position-absolute" style="top: 1138px; right: 19px; letter-spacing: .52em;" >[[ pg2.a.sp ]]</span>

                <span class="position-absolute" style="top: 1161px; left: 70px; letter-spacing: .52em;" >[[ pg2.b.other ]]</span>
                <span class="position-absolute" style="top: 1161px; right: 19px; letter-spacing: .52em;" >[[ pg2.b.sp ]]</span>

                <span class="position-absolute" style="top: 1184px; right: 19px; letter-spacing: .52em;" >[[ pg2.o7.sp ]]</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function () {
        $("#app2").mousemove(function (e) {
            var pX = e.offsetX;
            var pY = e.offsetY;
            $("#pixels").html("Y="+pY+"; X="+pX);
        });

        $("#app3").mousemove(function (e) {
            var pX = e.offsetX;
            var pY = e.offsetY;
            $("#pixels2").html("Y="+pY+"; X="+pX);
        });
    });
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            bir: {
                l1: true,
                l2: "2021-02",
                l3: 1,
                l4: true,
                l5: {
                    code: 'W019',
                    name: "ATC CODE",
                    other: null,
                },
                l6: '777-888-888',
                l7: '019',
                l8: 'MANSEI TECHNO PHILS CORP.',
                l9: 'TEHCNO PARK SUBIC BAY',
                l9A: '2222',
                l10: '09990120129',
                l11: 'email@gmail.com',
                l12: true,
                l13: true,
                l13A: 'specify',
                l14: '0',
                l15: '0',
                l16: '0',
                l17: '0',
                l18: '0',
                l19: '0',
                l20: '0',
                l21: '0',
                l22: '0',
                l23: '0',
                l24: '0',
                l25: '0',
                l26: '1',
                l27: {
                    particulars: 'par',
                    agency: '15231',
                    number: '234223A',
                    date: '2021-12-30',
                    amount: '0',
                },
                l28: {
                    particulars: 'par',
                    agency: '15231',
                    number: '234223A',
                    date: '2021-12-30',
                    amount: '18000',
                },
                l29: {
                    particulars: 'par',
                    agency: '15231',
                    number: '234223A',
                    date: '2021-12-30',
                    amount: '18000',
                },
                l30: {
                    particulars: 'par',
                    agency: '15231',
                    number: '234223',
                    date: '2021-12-30',
                    amount: '18000',
                }
            },
            pg2: {
                tin: '777999000',
                name: 'Clark Kent',
                l1: {
                    ex: '1000',
                    sp: '1000',
                },
                l2: {
                    ex: '1000',
                    sp: '1000',
                },
                l3: {
                    ex: '1000',
                    sp: '1000',
                },
                l4: {
                    ex: '1000',
                    sp: '1000',
                },
                l5: {
                    ex: '1000',
                    sp: '1000',
                },
                l6: {
                    ex: '1000',
                    sp: '1000',
                },
                l7: {
                    ex: '1000',
                    sp: '1000',
                },
                l8: {
                    ex: '1000',
                    sp: '1000',
                },
                l9: {
                    ex: '1000',
                    sp: '1000',
                },
                l10: {
                    ex: '10',
                    sp: '10.0'
                },
                l11: {
                    ex: '1000',
                    sp: '1000',
                },
                l12: {
                    sp: '1000',
                },
                l13: {
                    sp: '1000',
                },

                m1: {
                    sp: '1000',
                },
                m2: {
                    sp: '1000',
                },
                m3: {
                    sp: '1000',
                },
                m4: {
                    sp: '1000',
                },
                m5: {
                    sp: '1000',
                },
                m6: {
                    sp: '1000',
                },
                m7: {
                    sp: '1000',
                },
                m8: {
                    sp: '1000',
                },
                m9: {
                    sp: '1000',
                },
                m10: {
                    sp: '10',
                },
                m11: {
                    sp: '1000',
                },
                m12: {
                    sp: '1000',
                },
                m13: {
                    sp: '1000',
                },
                
                n1: {
                    sp: '1000',
                },
                n2: {
                    sp: '1000',
                },
                n3: {
                    sp: '1000',
                },
                n4: {
                    sp: '1000',
                },
                n5: {
                    sp: '12',
                },
                n6: {
                    sp: '1000',
                },
                
                o1: {
                    sp: '1000',
                },
                o2: {
                    sp: '1000',
                },
                o3: {
                    sp: '1000',
                },
                o4: {
                    sp: '1000',
                },
                o5: {
                    sp: '1000',
                },
                o6: {
                    sp: '1000',
                },
                a: {
                    other: 'Other',
                    sp: '1000'
                },
                b: {
                    other: "Other",
                    sp: '100'
                },
                o7: {
                    sp: '1000',
                },
                
                
            },
        },

        methods: {
            generatePDF(){
                var element = document.getElementById('form-container');
                var opt = {
                    margin:       0,
                    filename:     'myfile.pdf',
                    image:        { type: 'jpeg', quality: 1 },
                    html2canvas:  { scale: 1 },
                    jsPDF:        { unit: 'in', format: [8.5, 13], orientation: 'portrait' }
                };

                html2pdf().set(opt).from(element).save();
            },

            formatDate(value){
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                date = ('0' + String(value.getDate())).slice(-2)
                formatted = `${month}${date}${year}`

                return formatted
            },

            getMonth(value){
                value = new Date(value)
                month = ('0' + String(value.getMonth() + 1)).slice(-2)

                return `${month}`
            },

            getYear(value){
                value = new Date(value)
                year = value.getFullYear()

                return `${String(year).slice(-2)}`
            },

            formatMonth(value){
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                formatted = `${month}${year}`

                return formatted
            },
        }
    })
</script>

{% endblock %}