{% extends 'base-template.html' %}
{% block title %} 2316 {% endblock %}

{% block body %}
<style>
    #app2{
        background-image: url('/static/media/BIR/2316-1.png');
        height: 13in;
        width: 8.5in;
        background-size: contain;
    }

</style>
<div id="app">
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-reports" photo="/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <notification-card></notification-card>

    <div class="container">
        <reports-sec-nav active="2316"></reports-sec-nav>
    </div>

    <!-- BUTTON TO SAVE AS PDF -->
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @click="generatePDF()">Save</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#editForm">Edit</button>
            </div>
        </div>
    </div>

    <!-- PIXEL -->
    <div class="sticky-top">
        <div id="pixels"></div>
        <br>
        Pg. 2
        <div id="pixels2"></div>
    </div>

    <!-- EDIT MODAL -->
    <div class="modal fade" id="editForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content b-radius-15">
                <div class="modal-body">
                    <div class="mb-4">
                        <span class="modal-title">Edit 2316</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <label for="">For the year</label>
                            <input type="text" v-model="bir.l1" placeholder="Enter Year" class="form-control">
                        </div>
                        <div class="offset-3 col-3 pr-1">
                            <label for="">For the Period From</label>
                            <input type="date" v-model="bir.l2.from" class="form-control">
                        </div>
                        <div class="col-3 pl-1">
                            <label for="">For the Period To</label>
                            <input type="date" v-model="bir.l2.to" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part I - Employee Information</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col">
                            <label for="">TIN</label>
                            <input type="text" v-model="bir.l3" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Employee's Name</label>
                            <input type="text" v-model="bir.l4" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <label for="">RDO Code</label>
                            <input type="text" v-model="bir.l5" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Registered Address</label>
                            <input type="text" v-model="bir.l6" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <label for="">ZIP Code</label>
                            <input type="text" v-model="bir.l6A" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Local Home Address</label>
                            <input type="text" v-model="bir.l6B" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <label for="">ZIP Code</label>
                            <input type="text" v-model="bir.l6C" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Foreign Address</label>
                            <input type="text" v-model="bir.l6D" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 pr-1">
                            <label for="">Date of Birth</label>
                            <input type="text" v-model="bir.l7" class="form-control">
                        </div>
                        <div class="col-7 pl-1">
                            <label for="">Contact Number</label>
                            <input type="text" v-model="bir.l8" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="">Statutory Minimum Wage rate per day</label>
                            <input type="text" v-model="bir.l9" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="">Statutory Minimum Wage rate per month</label>
                            <input type="text" v-model="bir.l10" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="">(MWE) whose compensation is exempt from withholding tax and not subject to income tax</label>
                            <div class="form-check">
                                <input type="checkbox" v-model="bir.l11" value=true class="form-check-input">
                                <label for="">Yes</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part II - Employer Information (Present)</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col">
                            <label for="">TIN</label>
                            <input type="text" v-model='bir.l12' class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Employer's Name</label>
                            <input type="text" v-model="bir.l13" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 pr-1">
                            <label for="">Registered Address</label>
                            <input type="text" v-model="bir.l14" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <label for="">ZIP Code</label>
                            <input type="text" v-model="bir.l14A" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Type of Employer</label>
                            <div class="form-check">
                                <input type="radio" value=true v-model="bir.l15" class="form-check-input">
                                <label for="" class="form-check-label">Primary Employer</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" value=false v-model="bir.l15" class="form-check-input">
                                <label for="" class="form-check-label">Secondary Employer</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part III - Employer Information (Previous)</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col">
                            <label for="">TIN</label>
                            <input type="text" v-model="bir.l16" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Employer's Name</label>
                            <input type="text" v-model="bir.l17" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="">Registered Address</label>
                            <input type="text" v-model="bir.l18" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part IVA - Summary</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col">
                            <label for=""><b>19</b>&emsp;Gross Compensation Income from Present Employer (sum of items 36 to 50)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l19" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>20</b>&emsp;Less: Total Non-Taxable/Exempt Compensation; Income from Present Employer (from item 36)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l20" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>21</b>&emsp;Taxable Compensation Income from Present Employer (item 19 less item 20) (from item 50)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l21" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>22</b>&emsp;Add: Taxable Compensation Income from Previous Employer, if applicable</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l22" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>23</b>&emsp;Gross Taxable Compensation Income (sum of items 21 and 22)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l23" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>24</b>&emsp;Tax Due</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l24" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>25</b>&emsp;Amount of Taxes Withheld</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>25A</b>&emsp;Present Employer</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l25A" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>25A</b>&emsp;Previous Employer, if applicable</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l25B" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>26</b>&emsp;Total Amount of Taxes Withheld as adjusted (sum of items 25A and 25B)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l26" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <span class="font-bold font-size-14 gray">Part IVB - Details of Compensation Income & Tax Withheld from Present Employer</span>
                        </div>
                    </div>
                    <hr class="mt-0">

                    <div class="row">
                        <div class="col">
                            <label for=""><b>27</b>&emsp;Basic Salary (including the exempt ₱250,000 & below) or the statutory minimum wage of the MWE</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l27" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>28</b>&emsp;Holiday Pay (MWE)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l28" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>29</b>&emsp;Overtime Pay (MWE)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l29" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>30</b>&emsp;Night Shift Differential (MWE)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l30" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>31</b>&emsp;Hazard Pay (MWE)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l31" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>32</b>&emsp;13th Month Pay and Other Benefits (Maximum of P90,000)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l32" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>33</b>&emsp;De Minimis Benefits</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l33" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>34</b>&emsp;SSS, GSIS, PHIC & PAG-IBIG Contributions and Union Dues (Employee Share only)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l34" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>35</b>&emsp;Salaries and Other Forms of Compensation</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l35" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>36</b>&emsp;Total Non-Taxable/Exempt Compensation (Sum of Items 27 to 35)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l36" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>37</b>&emsp;Basic Salary</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l37" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>38</b>&emsp;Representation</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l38" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>39</b>&emsp;Transportation</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l39" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>      
                    
                    <div class="row">
                        <div class="col">
                            <label for=""><b>40</b>&emsp;Cost of Living Allowance (COLA)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l40" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>41</b>&emsp;Fixed Housing Allowance</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l41" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>42</b>&emsp;Others (specify)</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 pr-1">
                            <input type="text" v-model="bir.l42A.name" class="form-control">
                        </div>
                        <div class="col-6 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l42A.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 pr-1">
                            <input type="text" v-model="bir.l42B.name" class="form-control">
                        </div>
                        <div class="col-6 pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l42B.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>43</b>&emsp;Commission</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l43" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>44</b>&emsp;Profit Sharing</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l44" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>45</b>&emsp;Fees Including Director's Fees</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l45" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>46</b>&emsp;Taxable 13th Month Benefits</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l46" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>47</b>&emsp;Hazard Pay</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l47" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>48</b>&emsp;Overtime Pay</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l48" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>49</b>&emsp;Others (specify)</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l49A.name" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l49A.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pr-1">
                            <input type="text" v-model="bir.l49B.name" class="form-control">
                        </div>
                        <div class="col pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l49B.amount" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=""><b>50</b>&emsp;Total Taxable Compensation Income</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">₱</span>
                                </div>
                                <input type="text" v-model="bir.l50" class="form-control box-shadow-off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- THE FILE -->
    <div class="d-flex justify-content-center container">
        <div id="form-container">
            <div id="app2" class="roboto-mono font-bold font-size-18 position-relative">
                <!-- SPANS BELOW -->
                <span class="position-absolute" style="top: 135px; left: 158px; letter-spacing: .75em;" >[[bir.l1]]</span>
                <span class="position-absolute" style="top: 135px; left: 522px; letter-spacing: .75em;" >[[getDate(bir.l2.from)]]</span>
                <span class="position-absolute" style="top: 135px; left: 696px; letter-spacing: .75em;" >[[getDate(bir.l2.to)]]</span>

                <span class="position-absolute" style="top: 176px; left: 100px; letter-spacing: .38em;" >[[bir.l3]]</span>
                <span class="position-absolute" style="top: 210px; left: 41px; letter-spacing: -.10em;" >[[bir.l4]]</span>
                <span class="position-absolute" style="top: 210px; left: 348px; letter-spacing: .32em;" >[[bir.l5]]</span>
                <span class="position-absolute font-extralight font-size-12" style="top: 254px; left: 41px; letter-spacing: -.20em;" >[[bir.l6]]</span>
                <span class="position-absolute" style="top: 250px; left: 343px; letter-spacing: .35em;" >[[bir.l6A]]</span>
                <span class="position-absolute font-extralight font-size-12" style="top: 288px; left: 41px; letter-spacing: -.20em;" >[[bir.l6B]]</span>
                <span class="position-absolute" style="top: 284px; left: 343px; letter-spacing: .35em;" >[[bir.l6C]]</span>
                <span class="position-absolute font-extralight font-size-12" style="top: 324px; left: 41px; letter-spacing: -.20em;" >[[bir.l6D]]</span>
                <span class="position-absolute" style="top: 358px; left: 45px; letter-spacing: .37em;" >[[formatDate(bir.l7)]]</span>
                <span class="position-absolute" style="top: 358px; left: 214px; letter-spacing: .39em;" >[[bir.l8]]</span>

                <span class="position-absolute" style="top: 383px; right: 408px; letter-spacing: .39em;" >[[bir.l9]]</span>
                <span class="position-absolute" style="top: 408px; right: 408px; letter-spacing: .39em;" >[[bir.l10]]</span>
                <span class="position-absolute" style="top: 433px; left: 47px; letter-spacing: .39em;" v-if="bir.l11"><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 470px; left: 100px; letter-spacing: .37em;">[[bir.l12]]</span>
                <span class="position-absolute" style="top: 507px; left: 40px; letter-spacing: -.10em;">[[bir.l13]]</span>

                <span class="position-absolute font-extralight font-size-12" style="top: 546px; left: 40px; letter-spacing: -.20em;">[[bir.l14]]</span>
                <span class="position-absolute" style="top: 543px; left: 340px; letter-spacing: .34em;">[[bir.l14A]]</span>

                <span class="position-absolute" style="top: 567px; left: 141px; letter-spacing: .34em;" v-if="bir.l15 == true"><i class="fas fa-times"></i></span>
                <span class="position-absolute" style="top: 567px; left: 258px; letter-spacing: .34em;" v-else><i class="fas fa-times"></i></span>

                <span class="position-absolute" style="top: 604px; left: 101px; letter-spacing: .36em;">[[bir.l16]]</span>
                <span class="position-absolute" style="top: 640px; left: 41px; letter-spacing: -.10em;" >[[bir.l17]]</span>

                <span class="position-absolute font-extralight font-size-12" style="top: 680px; left: 41px; letter-spacing: -.20em;" >[[bir.l18]]</span>
                <span class="position-absolute" style="top: 676px; left: 340px; letter-spacing: .34em;">[[bir.l18A]]</span>


                <span class="position-absolute" style="top: 717px; left: 269px; letter-spacing: -.10em;">[[bir.l19]]</span>
                <span class="position-absolute" style="top: 744px; left: 269px; letter-spacing: -.10em;">[[bir.l20]]</span>
                <span class="position-absolute" style="top: 771px; left: 269px; letter-spacing: -.10em;">[[bir.l21]]</span>
                <span class="position-absolute" style="top: 798px; left: 269px; letter-spacing: -.10em;">[[bir.l22]]</span>
                <span class="position-absolute" style="top: 825px; left: 269px; letter-spacing: -.10em;">[[bir.l23]]</span>
                <span class="position-absolute" style="top: 852px; left: 269px; letter-spacing: -.10em;">[[bir.l24]]</span>
                <span class="position-absolute" style="top: 879px; left: 269px; letter-spacing: -.10em;">[[bir.l25A]]</span>
                <span class="position-absolute" style="top: 906px; left: 269px; letter-spacing: -.10em;">[[bir.l25B]]</span>
                <span class="position-absolute" style="top: 933px; left: 269px; letter-spacing: -.10em;">[[bir.l26]]</span>

                <span class="position-absolute" style="top: 201px; left: 654px; letter-spacing: -.10em;">[[bir.l27]]</span>
                <span class="position-absolute" style="top: 228px; left: 654px; letter-spacing: -.10em;">[[bir.l28]]</span>
                <span class="position-absolute" style="top: 255px; left: 654px; letter-spacing: -.10em;">[[bir.l29]]</span>
                <span class="position-absolute" style="top: 282px; left: 654px; letter-spacing: -.10em;">[[bir.l30]]</span>
                <span class="position-absolute" style="top: 309px; left: 654px; letter-spacing: -.10em;">[[bir.l31]]</span>
                <span class="position-absolute" style="top: 336px; left: 654px; letter-spacing: -.10em;">[[bir.l32]]</span>
                <span class="position-absolute" style="top: 363px; left: 654px; letter-spacing: -.10em;">[[bir.l33]]</span>
                <span class="position-absolute" style="top: 390px; left: 654px; letter-spacing: -.10em;">[[bir.l34]]</span>
                <span class="position-absolute" style="top: 417px; left: 654px; letter-spacing: -.10em;">[[bir.l35]]</span>
                <span class="position-absolute" style="top: 444px; left: 654px; letter-spacing: -.10em;">[[bir.l36]]</span>
                <span class="position-absolute" style="top: 496px; left: 654px; letter-spacing: -.10em;">[[bir.l37]]</span>
                <span class="position-absolute" style="top: 523px; left: 654px; letter-spacing: -.10em;">[[bir.l38]]</span>
                <span class="position-absolute" style="top: 550px; left: 654px; letter-spacing: -.10em;">[[bir.l39]]</span>
                <span class="position-absolute" style="top: 577px; left: 654px; letter-spacing: -.10em;">[[bir.l40]]</span>
                <span class="position-absolute" style="top: 604px; left: 654px; letter-spacing: -.10em;">[[bir.l41]]</span>

                <span class="position-absolute" style="top: 642px; left: 457px; letter-spacing: -.10em;">[[bir.l42A.name]]</span>
                <span class="position-absolute" style="top: 642px; left: 654px; letter-spacing: -.10em;">[[bir.l42A.amount]]</span>
                <span class="position-absolute" style="top: 669px; left: 457px; letter-spacing: -.10em;">[[bir.l42B.name]]</span>
                <span class="position-absolute" style="top: 669px; left: 654px; letter-spacing: -.10em;">[[bir.l42B.amount]]</span>

                <span class="position-absolute" style="top: 704px; left: 654px; letter-spacing: -.10em;">[[bir.l43]]</span>
                <span class="position-absolute" style="top: 731px; left: 654px; letter-spacing: -.10em;">[[bir.l44]]</span>
                <span class="position-absolute" style="top: 758px; left: 654px; letter-spacing: -.10em;">[[bir.l45]]</span>
                <span class="position-absolute" style="top: 785px; left: 654px; letter-spacing: -.10em;">[[bir.l46]]</span>
                <span class="position-absolute" style="top: 812px; left: 654px; letter-spacing: -.10em;">[[bir.l47]]</span>
                <span class="position-absolute" style="top: 839px; left: 654px; letter-spacing: -.10em;">[[bir.l48]]</span>


                <span class="position-absolute" style="top: 879px; left: 457px; letter-spacing: -.10em;">[[bir.l49A.name]]</span>
                <span class="position-absolute" style="top: 879px; left: 654px; letter-spacing: -.10em;">[[bir.l49A.amount]]</span>
                <span class="position-absolute" style="top: 906px; left: 457px; letter-spacing: -.10em;">[[bir.l49B.name]]</span>
                <span class="position-absolute" style="top: 906px; left: 654px; letter-spacing: -.10em;">[[bir.l49B.amount]]</span>

                <span class="position-absolute" style="top: 933px; left: 654px; letter-spacing: -.10em;">[[bir.l50]]</span>
                <!-- END SPANS -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function () {
        $("#app2").mousemove(function (e) {
            var pX = e.offsetX;
            var pY = e.offsetY;
            $("#pixels").html("Y="+pY+"; X="+pX);
        });

        $("#app3").mousemove(function (e) {
            var pX = e.offsetX;
            var pY = e.offsetY;
            $("#pixels2").html("Y="+pY+"; X="+pX);
        });
    });
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            bir: {
                l1: null,
                l2: {
                    from: null,
                    to: null
                },
                l3: null,
                l4: null,
                l5: null,
                l6: null,
                l6A: null,
                l6B: null,
                l6C: null,
                l6D: null,
                l7: null,
                l8: null,
                l9: null,
                l10: null,
                l11: null,
                l12: null,
                l13: null,
                l14: null,
                l14A: null,
                l15: null,
                l16: null,
                l17: null,
                l18: null,
                l18A: null,
                l19: null,
                l20: null,
                l21: null,
                l22: null,
                l23: null,
                l24: null,
                l25A: null,
                l25B: null,
                l26: null,
                l27: null,
                l28: null,
                l29: null,
                l30: null,
                l31: null,
                l32: null,
                l33: null,
                l34: null,
                l35: null,
                l36: null,
                l37: null,
                l38: null,
                l39: null,
                l40: null,
                l41: null,
                l42A:{
                    name: null,
                    amount: null,
                },
                l42B: {
                    name: null,
                    amount: null,
                },
                l43: null,
                l44: null,
                l45: null,
                l46: null,
                l47: null,
                l48: null,
                l49A:{
                    name: null,
                    amount: null
                },
                l49B:{
                    name: null,
                    amount: null
                },
                l50: null,
                

                
                
            }
        },

        methods: {
            generatePDF(){
                var element = document.getElementById('form-container');
                var opt = {
                    margin:       0,
                    filename:     'myfile.pdf',
                    image:        { type: 'jpeg', quality: 1 },
                    html2canvas:  { scale: 1 },
                    jsPDF:        { unit: 'in', format: [8.5, 13], orientation: 'portrait' }
                };

                html2pdf().set(opt).from(element).save();
            },

            formatDate(value){
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                if (!value){
                    return null
                }
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                date = ('0' + String(value.getDate())).slice(-2)
                formatted = `${month}${date}${year}`

                return formatted
            },

            getMonth(value){
                if (!value){
                    return null
                }
                value = new Date(value)
                month = ('0' + String(value.getMonth() + 1)).slice(-2)

                return `${month}`
            },

            getDate(value){
                if (!value){
                    return null
                }
                value = new Date(value)
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                date = ('0' + String(value.getDate()+1)).slice(-2)

                return `${month}${date}`
            },

            getYear(value){
                if (!value){
                    return null
                }
                value = new Date(value)
                year = value.getFullYear()

                return `${String(year).slice(-2)}`
            },

            formatMonth(value){
                if (!value){
                    return null
                }
                const months = [
                    '01',
                    '02',
                    '03',
                    '04',
                    '05',
                    '06',
                    '07', 
                    '08',
                    '09',
                    '10',
                    '11',
                    '12',
                ]
                value = new Date(value)
                year = value.getFullYear()
                month = ('0' + String(value.getMonth() + 1)).slice(-2)
                formatted = `${month}${year}`

                return formatted
            },
        }
    })
</script>

{% endblock %}