{% extends 'base-template.html' %}
{% block title %}Advancements{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-approvals" photo="/static/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/adv-nonapproved/" class="mx-2">Non-Approved</a>
                <a href="/adv-approved/" class="active-gas mx-2">Approved</a>
            </div>
        </div>

        <!-- TITLE BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Cash Advancements</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>Code</th>
                <th>Amount</th>
                <th>Requestor</th>
                <th>Issuer</th>
                <th>Reason</th>
            </thead>
            <tbody>
                {% for adv in advs %}
                <tr>
                    <td @click="fetchAdv('{{adv.id}}')" data-toggle="modal" data-target="#advModal" class="link">{{adv.code}}</td>
                    <td>₱[[formatPrice('{{adv.amount}}')]]</td>
                    <td>{{adv.requestor.first_name}} {{adv.requestor.last_name}}</td>
                    <td>{{adv.issuer.first_name}} {{adv.issuer.last_name}}</td>
                    <td>{{adv.reason}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- ADVANCEMENT MODAL -->
        <div class="modal fade" id="advModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="row pt-3 pb-1 order-card">
                            <div class="col">
                                <label for="" class="gray">Reference No.</label><br>
                                <span class="font-bold font-size-14">[[advModal.code]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="gray">Requestor</label><br>
                                <span class="font-bold font-size-14">[[advModal.requestor.first_name]] [[advModal.requestor.last_name]]</span>
                            </div>
                        </div>
                        <div class="row pt-1 pb-3 order-card">
                            <div class="col">
                                <label for="" class="gray">Issuer</label><br>
                                <span class="font-bold font-size-14">[[advModal.issuer.first_name]] [[advModal.issuer.last_name]]</span>
                            </div>
                        </div>

                        <div class="row pt-3 pb-1">
                            <div class="col">
                                <label for="" class="gray">Date Time Created</label><br>
                                <span class="font-bold font-size-14">[[formatDateTime(advModal.datetimeCreated)]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="gray">Status</label><br>
                                <span class="font-bold font-size-14 approved" v-if="advModal.approved">Approved</span>
                                <span class="font-bold font-size-14 pending" v-else>Pending</span>
                            </div>
                        </div>
                        <div class="row pt-1 pb-3">
                            <div class="col">
                                <label for="" class="gray">Date Time Approved</label><br>
                                <span class="font-bold font-size-14">[[formatDateTime(advModal.datetimeApproved)]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="gray">Approved By</label><br>
                                <span class="font-bold font-size-14" v-if="advModal.approvedBy">[[advModal.approvedBy.first_name]] [[advModal.approvedBy.last_name]]</span>
                            </div>
                        </div>

                        <div class="row pt-3 pb-1 order-card">
                            <div class="col">
                                <label for="" class="gray">Amount of Advancement</label><br>
                                <span class="font-bold font-size-14">₱[[formatPrice(advModal.amount)]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="gray">Amount Returned</label><br>
                                <span class="font-bold font-size-14">₱[[formatPrice(advModal.amount - advModal.balance)]]</span>
                            </div>
                        </div>
                        <div class="row pt-1 pb-3 order-card">
                            <div class="col">
                                <label for="" class="gray">Reason</label>
                                <textarea readonly name="" id="" cols="30" rows="4" class="form-control">[[advModal.reason]]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
                headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                }
            },

            advModal: {
                code: null,
                requestor: {
                    first_name: null,
                    last_name: null,
                },
                issuer: {
                    first_name: null,
                    last_name: null,
                },
                amount: null,
                datetimeCreated: null,
                datetimeApproved: null,
                approvedBy: {
                    first_name: null,
                    last_name: null,
                },
                approved: null,
                reason: null,
                closed: null,
                balance: null
            },

            createAdvancementModal: {
                code: "{{new_code}}",
                requestor: '',
                amount: 0,
                reason: '',
            },

            createAdvancementModal: {
                code: "{{new_code}}",
                requestor: '',
                amount: 0,
                reason: '',
            },

            userList: [{
                id: null,
                first_name: null,
                last_name: null,
            }],
        },

        methods: {
            onload(){
                axios.get('/api/user-payrollable/')
                .then(res=>{
                    this.userList = res.data
                    console.log(this.userList)
                })
            },
            submitCreateAdvancement(){
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    html: "Are you sure you want to create advancement?",
                })
                .then(result=>{
                    if(result.isConfirmed){
                        axios.post('/save-advancements/', this.createAdvancementModal, this.config)
                        .then(res=>res.data==0?location.reload():'')
                        .catch(err=>{
                            indexOfExceptionLocation = err.response.data.search("Exception Location:")
                            sli = err.response.data.slice(indexOfExceptionLocation, indexOfExceptionLocation+200)
                            exceptionLocation = `${sli.slice(0, sli.search('</td>'))}`
        
        
                            indexOfException = err.response.data.search("\"exception_value\"")
                            sl = err.response.data.slice(indexOfException, indexOfException+200)
                            exception = `SERVER ERROR: ${sl.slice(18, sl.search('</pre>'))} <br><br> ${exceptionLocation}`
                            
                            Swal.fire({
                                title: "Something went wrong",
                                icon: "error",
                                html: exception
                            })
                        })
                    }
                })
            },

            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },

            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            fetchAdv(id){
                axios.get(`/api/advancement/${id}/`)
                .then(res=>{
                    this.advModal = res.data
                })
            },

            approve(){
                message = "Approving Advancement"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
                axios.post('/adv-approval/', this.advModal, this.config)
                .then(res=>res.data==0?location.reload():'')
            }
        },

        mounted(){
            this.onload()
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
            ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            }
        });        
    });
</script>

{% endblock %}