{% extends 'base-template.html' %}
{% block title %}Balance Sheet{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-gas active="nav-reports" photo="/static/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Balance Sheet</span>
        </div>

        <div class="row">
            <div class="col-12 my-0">
                <label for="">Select Date Range</label>
            </div>
            <div class="col-12">
                <input v-model="startDate" type="date" class="form-control d-inline-block" style="width: 200px;">
                <input v-model="endDate" type="date" class="form-control d-inline-block" style="width: 200px;">
                <button class="btn btn-warning d-inline-block" @click="setDate()">Set</button>
            </div>
        </div>

        <!-- TABLE -->
        <div class="container my-2 px-4 py-3 b-radius-15 box-shadow-medium border">


            <!-- ASSET -->
            <div v-if="balanceSheet.asset != null">
                <!-- TITLE -->
                <div class="row">
                    <div class="col">
                        <span class="font-size-18 font-bold">Assets</span>
                    </div>
                </div>
                <!-- END TITLE -->

                <!-- PARENT CONTAINER -->
                <div v-for="(value, key, index) in balanceSheet.asset" v-if="typeof value != 'string'">
                    <div class="row my-2">
                        <div class="col-10">
                            <a data-toggle="collapse" :href="'#asset'+index" class="font-semibold no-decoration ml-4"><i class="fas fa-angle-right"></i> [[key]]</a>
                        </div>
                        <div class="col-2 text-right">
                            <span class="font-semibold">₱[[formatPrice(value.amount)]]</span>
                        </div>
                        <div class="col">
                            <hr class="my-0 ml-4">
                        </div>
                    </div>
                    <!-- SUB GROUP CONTAINER -->
                    <div class="collapse" :id="'asset'+index">
                        <div class="row" v-for="(sub, key2) in value"  v-if="typeof sub != 'string'">
                            <div class="col-10">
                                <span class="font-semibold ml-5">[[key2]]</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="font-regular">[[formatPrice(sub.amount)]]</span>
                            </div>
                            <div class="col">
                                <hr class="my-0 ml-5">
                            </div>
                        </div>
                    </div>
                    <!-- END SUB GROUP CONTAINER -->
                </div>
                <!-- END PARENT CONTAINER -->
                

                <!-- TOTAL ASSET CONTAINER -->
                <div class="row">
                    <div class="col-10">
                        <span class="font-bold font-size-14">Total Assets</span>
                    </div>
                    <div class="col-2 text-right">
                        <span class="font-bold font-size-14" v-if="balanceSheet != null">₱[[formatPrice(balanceSheet.asset.amount)]]</span>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <hr class="my-1" style="border-top: 1px solid rgb(125, 125, 125)">
                        <hr class="my-1" style="border-top: 1px solid rgb(125, 125, 125)">
                    </div>
                </div>
            </div>

            

            <!-- LIABILITIES AND EQUITY -->
            <div v-if="balanceSheet.liabilities != null">
                <!-- TITLE -->
                <div class="row">
                    <div class="col">
                        <span class="font-size-18 font-bold">Liabilities</span>
                    </div>
                </div>
                <!-- END TITLE -->

                <!-- PARENT CONTAINER -->
                <div v-for="(value, key, index) in balanceSheet.liabilities" v-if="typeof value != 'string'">
                    <div class="row my-2">
                        <div class="col-10">
                            <a data-toggle="collapse" :href="'#liab' + index" class="font-semibold no-decoration ml-4"><i class="fas fa-angle-right"></i> [[key]]</a>
                        </div>
                        <div class="col-2 text-right">
                            <span class="font-semibold">₱[[formatPrice(value.amount)]]</span>
                        </div>
                        <div class="col">
                            <hr class="my-0 ml-4">
                        </div>
                    </div>
                    <!-- SUB GROUP CONTAINER -->
                    <div class="collapse" :id="'liab'+index">
                        <div class="row" v-for="(sub, key2) in value" v-if="typeof sub != 'string'">
                            <div class="col-10">
                                <span class="font-semibold ml-5">[[key2]]</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="font-regular">[[formatPrice(sub.amount)]]</span>
                            </div>
                            <div class="col">
                                <hr class="my-0 ml-5">
                            </div>
                        </div>
                    </div>
                    <!-- END SUB GROUP CONTAINER -->
                </div>
                <!-- END PARENT CONTAINER -->




                <!-- TITLE -->
                <div class="row">
                    <div class="col">
                        <span class="font-size-18 font-bold">Equity</span>
                    </div>
                </div>
                <!-- END TITLE -->

                <!-- PARENT CONTAINER -->
                <div v-for="(value, key, index) in balanceSheet.equity" v-if="typeof value != 'string'">
                    <div class="row my-2">
                        <div class="col-10">
                            <a data-toggle="collapse" :href="'#equity'+index" class="font-semibold no-decoration ml-4"><i class="fas fa-angle-right"></i> [[key]]</a>
                        </div>
                        <div class="col-2 text-right">
                            <span class="font-semibold">₱[[formatPrice(addNumber(value.amount, balanceSheet.retainedEarnings.amount))]]</span>
                        </div>
                        <div class="col">
                            <hr class="my-0 ml-4">
                        </div>
                    </div>
                    <!-- SUB GROUP CONTAINER -->
                    <div class="collapse" :id="'equity'+index">
                        <div class="row" v-for="(sub, key2) in value" v-if="typeof sub != 'string'">
                            <div class="col-10">
                                <span class="font-semibold ml-5">[[key2]]</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="font-regular">[[formatPrice(sub.amount)]]</span>
                            </div>
                            <div class="col">
                                <hr class="my-0 ml-5">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <span class="font-semibold ml-5">Retained Earnings</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="font-regular">[[formatPrice(balanceSheet.retainedEarnings.amount)]]</span>
                            </div>
                            <div class="col">
                                <hr class="my-0 ml-5">
                            </div>
                        </div>
                    </div>
                    <!-- END SUB GROUP CONTAINER -->
                </div>
                <!-- END PARENT CONTAINER -->




                <!-- TOTAL LIAB AND EQUITY CONTAINER -->
                <div class="row">
                    <div class="col-10">
                        <span class="font-bold font-size-14">Total Liabilities and Equity</span>
                    </div>
                    <div class="col-2 text-right">
                        <span class="font-bold font-size-14">₱[[formatPrice(addNumber(balanceSheet.liabilities.amount, balanceSheet.equity.amount, balanceSheet.retainedEarnings.amount))]]</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <hr class="my-1" style="border-top: 1px solid rgb(125, 125, 125)">
                        <hr class="my-1" style="border-top: 1px solid rgb(125, 125, 125)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre>[[$data]]</pre>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            startDate: null,
            endDate: null,

            balanceSheet: {
                asset: null,
                liabilities: null,
                equity: null,
                retainedEarnings: null,
            }
        },

        methods: {
            onload(){
                this.startDate = '{{startDate|date:"Y-m-d"}}'
                this.endDate = '{{endDate|date:"Y-m-d"}}'

                message = "Fetching Data"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
                axios.get(`/balance-sheet-request/?startDate=${this.startDate}&endDate=${this.endDate}`)
                .then(res=>{
                    console.log(res.data)
                    this.balanceSheet = res.data
                    Swal.close()
                })
            }, 
            formatPrice(value) {
                if (this.roundToggle){
                    return value
                } else {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },
            setDate(){
                location.href=`/balance-sheet/?startDate=${this.startDate}&endDate=${this.endDate}`
            },

            addNumber(){
                var sum = Number(0)
                for (var i = 0; i < arguments.length; i++){
                    sum += Number(arguments[i])
                }
                return Number(sum)
            }
        },
        mounted(){
            this.onload() 
        }
    })
</script>

{% endblock %}