{% extends "base-template.html" %}
{% block title %}Chart of Accounts | Group Accounts{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-gas active="nav-accounts" photo="/static/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links imps-gas">
                <a href="/chart-of-accounts/" class="mx-2">Child Accounts</a>
                <a href="/chart-of-accounts-subgroup/" class="mx-2">Sub-Group Accounts</a>
                <a href="/chart-of-accounts-group/" class="active-gas mx-2">Group Accounts</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold">Chart of Accounts - Group Accounts</span>
        </div>

        <!-- TABLES -->
        <table class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-5">
            <thead class="thead-dark">
                <th>Group Code</th>
                <th>Group Name</th>
                <th>Normally</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {% for group in request.user.branch.accountGroup.all %}
                <tr>
                    <td @click="fetchGroup({{group.pk}})" class="link" data-toggle="modal" data-target="#modal">{{group.code}}</td>
                    <td>{{group.name}}</td>
                    <td>{{group.normally}}</td>
                    <td>₱[[formatPrice('{{group.amount}}')]]</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- VIEW MODAL -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="row mt-3">
                            <div class="col-12">
                                <span class="font-size-18 font-bold">[[modal.name]]</span>
                                <span class="font-size-14 font-bold gray">[[modal.code]]</span>
                            </div>
                        </div>
                        <!-- REAL TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL1 -->
                            <div class="col-6 mt-3">
                                <label for="" class="gray">Normally</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.normally]]</span>
                            </div>
                            <div class="col-6 mt-3">
                                <label for="" class="gray">Permanence</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.permanence]]</span>
                            </div>
                            <!-- LVL2 -->
                            <div class="col-6 my-3">
                                <label for="" class="gray">Amount</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(modal.amount)]]</span>
                            </div>
                        </div>

                        <!-- BUTTOn -->
                        <div class="row">
                            <div class="col">
                                <button @click="transferEdit()" data-toggle="modal" data-target="#editModal" class="btn btn-primary col">Edit this account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT MODAL -->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15 px-3 pt-2">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Edit Account</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col pr-1">
                                <div class="form-group">
                                    <label for="">Code</label>
                                    <input v-model="edit.code" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input v-model="edit.name" type="text" readonly class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Normally</label>
                                    <select v-model="edit.normally" class="form-control">
                                        <option value="" selected disabled>Choose Normally</option>
                                        <option value="Debit">Debit</option>
                                        <option value="Credit">Credit</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Permanence</label>
                                    <select v-model="edit.permanence" class="form-control">
                                        <option value="" selected disabled>Choose Permanence</option>
                                        <option value="Real">Real</option>
                                        <option value="Nominal">Nominal</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button @click="submitEdit(edit.id)" class="btn btn-primary col">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            config:{
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            modal: {
                code: null,
                name: null,
                permanence: null,
                normally: null,
                amount: null,
            },

            edit: {
                code: null,
                name: null,
                permanence: null,
                normally: null,
            }

        },
        methods: {
            formatPrice(value) {
                if (this.toggle){
                    return value
                } else {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },

            fetchGroup(id){
                axios.get(`/api/group/${id}/`)
                .then(res=>this.modal=res.data)
            },

            transferEdit(){
                this.edit = this.modal
            },

            submitEdit(id){
                axios.put(`/edit-group/${id}/`, this.edit, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: 'error',
                        html: err.message
                    })
                })
            }
        }
    })
</script>

{% endblock %}