{% extends "base-template.html" %}
{% block title %}Contribution Rates{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-plain name="Branch Profile" photo="/media/{{request.user.image}}"></navbar-plain>
    <app-card></app-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links imps-nav">
                <a href="/branches/" class="mx-2">Branches</a>
                <a href="/branch-profile/" class="mx-2">Accounting</a>
                <a href="/contribution-profile/" class="active-imps mx-2">Contribution Rates</a>
                <a href="/income-tax-deductions/" class="mx-2">Income Tax Deductions</a>
                <a href="/branch-positions/" class="mx-2">Branch Positions</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Import Contribution</span>
        </div>

        <div>
            <form action="/import-sss/" method="POST" class="form-group" enctype="multipart/form-data">{% csrf_token %}
                <label for="">SSS Contribution Rate</label>
                <input type="file" name="sss"><br>
                <a href="/static/files/2021 SSS Contribution Template.xlsx">Download Excel Template</a>
                <input type="text" placeholder="Name of SSS Contribution Rate" name="sssName" class="form-control">
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
        </div>
        <div>
            <form action="/import-phic/" method="POST" class="form-group" enctype="multipart/form-data">{% csrf_token %}
                <label for="">PHIC Contribution Rate</label>
                <input type="file" name="phic"><br>
                <a href="/static/files/2021 PhilHealth Contribution Rate.xlsx">Download Excel Template</a>
                <input type="text" placeholder="Name of the PHIC Rate" name="phicName" class="form-control">
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center my-3">
            <span class="font-size-18 font-bold mr-1">PHIC Contribution Table</span>
        </div>

        <table class="table table-sm table-striped">
            <thead>
                <th>Name</th>
                <th>Lower Range</th>
                <th>Upper Range</th>
                <th>rate</th>
            </thead>
            <tbody>
                {% for phic in phicTable %}
                <tr>
                    <td>{{phic.name}}</td>
                    <td>[[formatPrice('{{phic.lowerLimit}}')]]</td>
                    <td>[[formatPrice('{{phic.upperLimit}}')]]</td>
                    <td>{{phic.rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center my-3">
            <span class="font-size-18 font-bold mr-1">SSS Contribution Table</span>
        </div>

        <table class="table table-sm table-striped">
            <thead class="">
                <th>Name</th>
                <th>Lower Range</th>
                <th>Upper Range</th>
                <th>Total EE</th>
                <th>Total ER</th>
            </thead>
            <tbody>
                {% for sss in sssTable %}
                <tr>
                    <td>{{sss.name}}</td>
                    <td>₱[[formatPrice('{{sss.lowerLimit}}')]]</td>
                    <td>₱[[formatPrice('{{sss.upperLimit}}')]]</td>
                    <td>₱[[formatPrice({{sss.ee}})]]</td>
                    <td>₱[[formatPrice('{{sss.er}}')]]</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',

        data: {

        },

        methods: {
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },
        }
    })
</script>

{% endblock %}