{% extends "base-template.html" %}
{% block title %}CR Non-Approved{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-gas active="nav-approvals" photo="/media/{{request.user.image}}"></navbar-gas>
    <app-card></app-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/cr-nonapproved/" class="active-gas mx-2">Pending</a>
                <a href="/cr-approved/" class="mx-2">Approved</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Completion Report</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>Code</th>
                <th>Report Date</th>
                <th>PPE</th>
                <th>Malfunction Date</th>
                <th>Status</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {% for cr in crs %}
                <tr>
                    <td @click="fetchCR({{cr.pk}})" class="link" data-toggle="modal" data-target="#modal">{{cr.code}}</td>
                    <td>{{cr.reportDate}}</td>
                    <td>{{cr.ppe.name}}</td>
                    <td>{{cr.malfuncDate}}</td>
                    <td>{{cr.status}}</td>
                    <td>{{cr.createdBy.first_name}} {{cr.createdBy.last_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- VIEW CR MODAL -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="row my-2">
                            <!-- LVL 1 -->
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Reference No.</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.code]]</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Report Date</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.reportDate]]</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Created By</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="modal.createdBy!==null">[[modal.createdBy.first_name]] [[modal.createdBy.last_name]]</span>
                            </div>
                            <!-- LVL 2 -->
                            <div class="col-4 my-3">
                                <label for="" class="gray">R&M Status</label>
                                <br>
                                <span class="font-size-14 font-bold text-warning" v-if="modal.status == 'Pending'">Pending</span>
                                <span class="font-size-14 font-bold text-danger" v-else-if="modal.status == 'Incomplete'">Incomplete</span>
                                <span class="font-size-14 font-bold text-success" v-else-if="modal.status == 'Success'">Success</span>
                                <span class="font-size-14 font-bold text-info" v-else>Waiting for approval</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Approval Status</label>
                                <br>
                                <span class="font-size-14 font-bold text-success" v-if="modal.approved">Approved</span>
                                <span class="font-size-14 font-bold text-warning" v-else>Pending</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Approved By</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="modal.approvedBy!==null">[[modal.approvedBy.first_name]] [[modal.approvedBy.last_name]]</span>
                            </div>
                        </div>
                        <!-- MID CARD -->
                        <div class="order-card row my-2">
                            <div class="col-4 my-3">
                                <label for="" class="gray">PPE</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="modal.ppe">[[modal.ppe.name]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Type</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="modal.ppe">[[modal.ppe.type]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Malfunction Date</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.malfuncDate]]</span>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 mt-3">
                                <label for="" class="gray">Damage Description</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.damageDescription]]</span>
                            </div>
                            <div class="col-12 mb-3">
                                <span @click="toggleDamagePhoto()" class="link noselect" id="damagePhotoBtn">View Photo</span>
                                <img style="display: none;" id="damagePhoto" :src="modal.damagePhoto" alt="" width="100%" class="b-radius-10 box-shadow-medium">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <span class="font-bold gray">Contracted Repair Party</span>
                            </div>
                        </div>

                        <div class="row order-card mb-2 pt-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><span class="font-bold gray">Code</span></div>
                                    <div class="col-6"><span class="font-bold gray">Total Amount</span></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row my-1" v-for="po in modal.crpo">
                                    <div class="col-6">
                                        <span class="font-semibold">[[po.purchaseOrder.code]]</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="font-semibold">₱[[formatPrice(po.purchaseOrder.amountTotal)]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <span class="grey font-bold">Spare Parts Purchased</span>
                            </div>
                        </div>

                        <div class="row order-card">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><span class="font-bold gray">Code</span></div>
                                    <div class="col-6"><span class="font-bold gray">Total Amount</span></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row my-1" v-for="po in modal.crspareparts">
                                    <div class="col-6">
                                        <span class="font-semibold">[[po.receivingReport.code]]</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="font-semibold">₱[[formatPrice(po.receivingReport.amountTotal)]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="" class="font-size-14 font-bold gray">Total Amount</label>
                            </div>
                            <div class="col-12">
                                <label for="" class="font-size-14 font-bold">₱[[formatPrice(modal.totalCost)]]</label>
                            </div>
                        </div>

                        <!-- <div class="row order-card mb-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6"><span class="font-bold gray">Item</span></div>
                                    <div class="col-6"><span class="font-bold gray">Qty</span></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row my-1" v-for="item in modal.spareParts.rritemsmerch">
                                    <div class="col-6">
                                        <span class="font-semibold">[[item.merchInventory.name]] [[item.merchInventory.classification]] [[item.merchInventory.type]] </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="font-semibold">[[item.qty]]</span>
                                    </div>
                                </div>
                                <div class="row my-1" v-for="item in modal.spareParts.rritemsother">
                                    <div class="col-6">
                                        <span class="font-semibold">[[item.otherInventory.name]]</span>
                                    </div>
                                    <div class="col-6">
                                        <span class="font-semibold">[[item.qty]]</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row my-2">
                            <div class="col-12 my-3">
                                <label for="" class="gray">Recommendations</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.recommendation]]</span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12 my-3">
                                <label for="" class="gray">Reason</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.reason]]</span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-12 my-3">
                                <label for="" class="gray">Success</label>
                                <br>
                                <span @click="toggleSuccessPhoto" class="link noselect" id="successPhotoBtn">View Photo</span>
                                <img id="successPhoto" :src="modal.sucessPhoto" alt="" width="100%" style="display: none;">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col">
                                <button @click="approve()" class="btn btn-primary col">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            config: {
				headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                    "content-type": "multipart/form-data"
                }
			},

            modal: {
                code: null,
                datetimeCreated: null,
                reportDate: null,
                createdBy: {
                    first_name: null,
                    last_name: null
                },
                ppe: null,
                malfuncDate: null,
                damageDescription: null,
                damagePhoto: null,
                recommendation: null,
                status: null,
                reason: null,
                successPhoto: null,
                approved: null,
                approvedBy: {
                    first_name: null,
                    last_name: null
                },
                crpo: null,
                crspareparts: null,
                totalCost: null,
            }
        },

        methods: {
            toggleDamagePhoto(){
                photo = document.getElementById('damagePhoto')
                if(photo.style.display == 'none'){
                    photo.style.display = 'block'
                    document.getElementById('damagePhotoBtn').innerHTML = 'Hide Photo'
                } else {
                    photo.style.display = 'none'
                    document.getElementById('damagePhotoBtn').innerHTML = 'View Photo'
                }
            },

            toggleSuccessPhoto(){
                photo = document.getElementById("successPhoto")
                if(photo.style.display == 'none'){
                    photo.style.display = 'block'
                    document.getElementById('successPhotoBtn').innerHTML = 'Hide Photo'
                } else {
                    photo.style.display = 'none'
                    document.getElementById('successPhotoBtn').innerHTML = 'View Photo'
                }
            },
            fetchCR(id){
                axios.get(`/api/cr-nested/${id}/`)
                .then(res=>this.modal=res.data)
            },
            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },

            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                day = days[value.getDay()]
                formatted = `${day} - ${month}. ${date}, ${year}`

                return formatted
            },

            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            approve(){
                axios.put(`/cr-approval/${this.modal.id}/`, '', this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    indexOfExceptionLocation = err.response.data.search("Exception Location:")
                    sli = err.response.data.slice(indexOfExceptionLocation, indexOfExceptionLocation+200)
                    exceptionLocation = `${sli.slice(0, sli.search('</td>'))}`


                    indexOfException = err.response.data.search("\"exception_value\"")
                    sl = err.response.data.slice(indexOfException, indexOfException+200)
                    exception = `SERVER ERROR: ${sl.slice(18, sl.search('</pre>'))} <br><br> ${exceptionLocation}`
                    
                    Swal.fire({
                        title: "Something went wrong",
                        icon: "error",
                        html: exception
                    })
                })
            }
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: "RAW",
                    className: 'btn btn-table font-size-10',
                    titleAttr: 'View Raw Numbers',
                    action: function(){
                        app.roundToggler()
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}