{% extends "base-template.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}

<div id="app" class="position-relative" v-cloak>
    <!-- PROFILE -->
    <div class="profile mx-3 position-absolute" onclick="toggleProfile()" style="top: 10px; right: 81px;">
        <img src="/static/media/{{request.user.image}}" alt="" height="20" class="profile-border b-radius-circle" id="profileToggler">
    </div>
    <profile-card branch="{{request.user.branch.name}}" branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <div class="container" style="height: 90vh;">
        <div class="d-flex align-items-center justify-content-center">
            <a class="link" href="/qr-generator/">Generate QR Code</a>
        </div>
        <div class="d-flex d-row align-items-center justify-content-center h-100">
            <div onclick="location.href='/merchinventory/'" id="imps" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links imps">
                <img src="/static/media/icons/imps.svg" alt="" height="75px">
                <span class="text-center font-semibold">Inventory Management and Planning System</span>
            </div>
            <div onclick="location.href='/journal/'" id="gas" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links gas">
                <img src="/static/media/icons/GAS.svg" alt="" height="75px">
                <span class="text-center font-semibold">General Accounting System</span>
            </div>
            <div onclick="location.href='/ems-my-dtr/'" id="ems" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links ems">
                <img src="/static/media/icons/EMS.svg" alt="" height="75px">
                <span class="text-center font-semibold">Employee Management System</span>
            </div>
            <div onclick="location.href='/pps-planner/'" id="pps" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links pps">
                <img src="/static/media/icons/PPS.svg" alt="" height="75px">
                <span class="text-center font-semibold">Project Planning System</span>
            </div>
        </div>

        {% if not request.user.branch %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <span>It seems your user profile is not connected to a Branch</span>
            <span><a href="#" data-toggle="modal" data-target="#branchModal">Click here</a> to create or select one.</span>
        </div>
        {% endif %}

        <!-- CREATE BRANCH OR CONNECT TO A BRANCH -->
        <div class="modal fade" id="branchModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Add or Connect to a Branch</span>
                            <div class="form-group d-flex align-items-center">
                                <input @change="changeModalContent" v-model="type" type="radio" name="type" value="createBranch">
                                <label class="font-medium" for="">Create a branch</label>
                                &nbsp;
                                <input @change="changeModalContent" v-model="type" type="radio" name="type" value="connectToBranch">
                                <label class="font-medium" for="">Connect to a branch</label>
                            </div>
                        </div>

                        <!-- CREATE BRANCH -->
                        <div id="createBranch">
                            <h5 class="font-bold">Create a Branch</h5>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="">Branch Name</label>
                                    <input v-model="create.branchName" type="text" class="form-control" placeholder="Enter branch name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button @click="createBranch()" class="btn btn-primary col">Submit</button>
                                </div>
                            </div>
                        </div>

                        <!-- CONNECT TO A BRANCH -->
                        <div id="connectToBranch" style="display: none;">
                            <h5 class="font-bold">Connect to a Branch</h5>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="">Branch Name</label>
                                    <select v-model="connect.branchID" class="form-control">
                                        <option value="" disabled selected>Choose a branch</option>
                                        {% for branch in branches %}
                                        <option value="{{branch.pk}}">{{branch.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button @click="connectBranch()" class="btn btn-primary col">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            config: {
                headers:{
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },

            type: 'createBranch',

            create: {
                branchName: null,
            },

            connect: {
                branchID: '',
            }
        },

        methods: {
            createBranch(){
                axios.post('/create-branch-in-dashboard/', this.create, this.config)
                .then(res=>res.data==0?location.reload():'')
            },

            connectBranch(){
                axios.post('/connect-branch-in-dashboard/', this.connect, this.config)
                .then(res=>res.data==0?location.reload():'')
            },
            changeModalContent(){
                var body = {
                    create: document.getElementById('createBranch'),
                    connect: document.getElementById('connectToBranch'),
                }
    
                if(this.type == "createBranch"){
                    body.create.style.display = "block"
                    body.connect.style.display = "none"
                } else {
                    body.create.style.display = "none"
                    body.connect.style.display = "block"
                }
            }
        }
    })
</script>

{% endblock %}