{% extends "base-template.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}

<div id="app" class="position-relative" v-cloak>
    <!-- PROFILE -->
    <div class="profile mx-3 position-absolute" onclick="toggleProfile()" style="top: 10px; right: 81px;">
        <img src="/static/media/{{request.user.image}}" alt="" height="20" class="profile-border b-radius-circle" id="profileToggler">
    </div>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <div class="container" style="height: 90vh;">
        <div class="d-flex d-row align-items-center justify-content-center h-100">
            <div onclick="location.href='/merchinventory/'" id="imps" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links imps">
                <img src="/static/media/icons/imps.svg" alt="" height="75px">
                <span class="text-center font-semibold">Inventory Management and Planning System</span>
            </div>
            <div onclick="location.href='/journal/'" id="gas" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links gas">
                <img src="/static/media/icons/GAS.svg" alt="" height="75px">
                <span class="text-center font-semibold">General Accounting System</span>
            </div>
            <div id="ems" class="mx-4 p-3 b-radius-15 w-25 h-25 d-flex align-items-center justify-content-center flex-column app-card-links ems">
                <img src="/static/media/icons/EMS.svg" alt="" height="75px">
                <span class="text-center font-semibold">Employee Management System</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
    })
</script>

{% endblock %}