{% extends 'base-template.html' %}
{% block title %} EMS | Employees {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-employees" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-employees/" class="active-ems mx-2">Employees</a>
                <a href="/ems-raise-history/" class="mx-2">Raise</a>
                <a href="/ems-employee-evaluation/" class="mx-2">Evaluation</a>
            </div>
        </div>

        <!-- TITLE -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Employee Details</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="gray">
                <th>Employee</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Position</th>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td @click="fetchUser('{{employee.id}}')" class="link" data-toggle="modal" data-target="#modal">{{employee.first_name}} {{employee.last_name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.mobile}}</td>
                    <td>{{employee.position}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- VIEW MODAL -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body" v-if="Object.keys(modal).length">
                        <!-- TOP CARD -->
                        <div class="row my-2">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-6 my-1">
                                        <label for="" class="gray">ID No.</label>
                                        <br>
                                        <span class="font-size-14 font-bold">[[modal.idUser]]</span>
                                    </div>
                                    <div class="col-6 my-1">
                                        <label for="" class="gray">Employee Name</label>
                                        <br>
                                        <span class="font-size-14 font-bold">[[modal.first_name]] [[modal.last_name]]</span>
                                    </div>
                                    <div class="col-6 my-1">
                                        <label for="" class="gray">Position</label>
                                        <br>
                                        <span class="font-size-14 font-bold">[[modal.position]]</span>
                                    </div>
                                    <div class="col-6 my-1">
                                        <label for="" class="gray">Date of Employment</label>
                                        <br>
                                        <span class="font-size-14 font-bold">[[modal.dateEmployed]]</span>
                                    </div>
                                    <div class="col-6 my-1">
                                        <label for="" class="gray">Schedule</label>
                                        <br>
                                        <span class="font-size-14 font-bold" v-if="modal.schedule">[[formatTime(modal.schedule.timeIn)]] - [[formatTime(modal.schedule.timeOut)]]</span><br>
                                        <span class="font-size-14 font-bold" v-if="modal.schedule">[[convertToDays(modal.schedule.workDays)]]</span><br>
                                        <a @click="fetchChangeSchedule()" class="link" data-toggle="modal" data-target="#changeSchedule" href="#">Change Schedule</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <img :src="modal.image" class="border b-radius-5" alt="" height="90px" width="90px">
                            </div>
                        </div>

                        <!-- MID CARD -->
                        <div class="row my-3">
                            <div class="col-12">
                                <label for="" class="gray">Basic Information</label>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-wrap mb-3">
                                    <div class="modal-info-container"><i class="fas fa-map-marker-alt mr-2 icon-gray"></i><span class="font-semibold">[[modal.address]]</span></div>
                                    <div class="modal-info-container"><i class="fas fa-mobile mr-2 icon-gray"></i><span class="font-semibold">[[modal.mobile]]</span></div>
                                    <div class="modal-info-container"><i class="fas fa-envelope mr-2 icon-gray"></i><span class="font-semibold">[[modal.email]]</span></div>
                                    <div class="modal-info-container"><img src="/static/media/icons/drop.svg" alt="" class="mr-2"><span class="font-semibold">[[modal.bloodType]]</span></div>
                                    <div class="modal-info-container"><img src="/static/media/icons/tin.svg" alt="" class="mr-2"><span class="font-semibold">[[modal.tin]]</span></div>
                                    <div class="modal-info-container"><img src="/static/media/icons/peso.svg" alt="" class="mr-2"><span class="font-semibold">₱[[modal.rate]] / Day</span></div>
                                </div>
                            </div>
                        </div>

                        <!-- MID CARD 2 -->
                        <div class="row my-3 order-card py-2">
                            <div class="col-12">
                                <label for="" class="gray">Leave</label>
                                <span> <a data-toggle="modal" data-target="#editLeaveModal" href="#" @click="initEditLeave()">Edit Leave</a></span>
                            </div>
                            <div class="col font-medium">
                                <div class="row">
                                    <div class="col">Sick Leave Remaining</div>
                                    <div class="col" v-if="modal.userleave">[[modal.userleave.sLeave]] Days</div>
                                    <div class="col" v-else>Not yet initialized</div>
                                </div>
                                <div class="row">
                                    <div class="col">Vacation Leave Remaining</div>
                                    <div class="col" v-if="modal.userleave">[[modal.userleave.vLeave]] Days</div>
                                    <div class="col" v-else>Not yet initialized</div>
                                </div>
                                <div class="row">
                                    <div class="col">SILP Remaining</div>
                                    <div class="col" v-if="modal.userleave">[[modal.userleave.silp]] Days</div>
                                    <div class="col" v-else>Not yet initialized</div>
                                </div>
                            </div>
                        </div>

                        <!-- MID CARD 3 -->
                        <div class="row my-3 py-2">
                            <div class="col-12">
                                <label for="" class="gray">Government Contribution No.</label>
                            </div>
                            <div class="col font-medium">
                                <div class="row">
                                    <div class="col">SSS</div>
                                    <div class="col">[[modal.sss]]</div>
                                </div>
                                <div class="row">
                                    <div class="col">PhilHealth</div>
                                    <div class="col">[[modal.phic]]</div>
                                </div>
                                <div class="row">
                                    <div class="col">Pag-Ibig</div>
                                    <div class="col">[[modal.hdmf]]</div>
                                </div>
                            </div>
                        </div>

                        <!-- MID CARD 4 -->
                        <div class="row my-3 order-card py-2">
                            <div class="col-12">
                                <label for="" class="gray">Raise History</label>
                            </div>
                            <div class="col font-medium">
                                <div class="row" v-for="r in modal.raisse">
                                    <div class="col">[[formatDate(r.date)]]</div>
                                    <div class="col">₱[[r.newRate]]/Day</div>
                                </div>
                            </div>
                        </div>

                        <!-- MID CARD 5 -->
                        <div class="row my-3 py-2">
                            <div class="col-12">
                                <label for="" class="gray">Benefits Received Per Cut-off</label>
                                <span> <a data-toggle="modal" data-target="#editBenefitsModal" href="#" @click="initEditBenefits()">Edit De Minimis Benefits</a></span>
                            </div>
                            <div class="col font-medium">
                                <div class="row" v-for="benefits in modal.deminimisofuser">
                                    <div class="col">[[benefits.name]]</div>
                                    <div class="col">₱[[benefits.amount]]</div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-3">
                                <a type="button" class="link" data-toggle="modal" data-target="#promotionModal" @click="initGivePromotion()">Give Promotion</a>
                            </div>
                            <div class="col-3">
                                <a type="button" class="link" data-toggle="modal" data-target="#raiseModal" @click="initGiveRaise()">Give Raise</a>
                            </div>
                            <div class="col-3">
                                <a type="button" class="link" data-toggle="modal" data-target="#bonusModal">Give Bonus</a>
                            </div>
                            <div class="col-3">
                                <a type="button" class="link" data-toggle="modal" data-target="#benefitsModal" @click="initGiveBenefits()">Give Benefits</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- CHANGE SCHEDULE MODAL -->
        <div class="modal fade" id="changeSchedule">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Change Schedule</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row mb-2 order-card">
                            <div class="col my-2">
                                <label for="" class="gray">Employee</label><br>
                                <span class="font-size-14 font-bold">[[changeScheduleModal.first_name]] [[changeScheduleModal.last_name]]</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Schedule</label>
                                    <select v-model="changeScheduleModal.schedule" name="" id="" class="form-control">
                                        <option value="" selected disabled>Select a schedule</option>
                                        {% for item in request.user.branch.schedule.all %}
                                        <option value="{{item.pk}}">{{item.timeIn}}-{{item.timeOut}} [[convertToDays('{{item.workDays}}')]]</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button @click="saveChangeSchedule()" class="btn btn-primary col">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT BENEFITS MODAL -->
        <div class="modal fade" id="editBenefitsModal">
            <div class="modal-dialog">
                <div class="modal-content box-shadow-large b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Edit De Minimis Benefits</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-6 my-2">
                                <label for="" class="gray">ID No.</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editBenefits.idUser]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Employee</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editBenefits.first_name]] [[editBenefits.last_name]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Position</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editBenefits.position]]</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Benefit Name</label>
                                    </div>
                                </div>
                                <div class="row" v-for="b in editBenefits.deminimisofuser">
                                    <div class="col">
                                        <input type="text" class="form-control" v-model="b.name">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Benefit Amount</label>
                                    </div>
                                </div>
                                <div class="row" v-for="b in editBenefits.deminimisofuser">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₱</span>
                                            </div>
                                            <input type="text" class="form-control box-shadow-off" v-model="b.amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 mb-3">
                            <div class="col">
                                <button class="btn btn-warning" @click="addLineBenefits2()">+ Add More Benefits</button>
                                <button class="btn btn-danger" @click="popLineBenefits2()">- Remove Benefit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary col" @click="submitEditBenefits()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT LEAVE MODAL -->
        <div class="modal fade" id="editLeaveModal">
            <div class="modal-dialog">
                <div class="modal-content box-shadow-large b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Edit Leave</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-6 my-2">
                                <label for="" class="gray">ID No.</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editLeave.idUser]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Employee</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editLeave.first_name]] [[editLeave.last_name]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Position</label>
                                <br>
                                <span class="font-size-14 font-bold">[[editLeave.position]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Current Daily Rate</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[editLeave.rate]]</span>
                            </div>
                        </div>

                        <div class="row mt-3 order-card py-3">
                            <div class="col-12">
                                <div class="row form-group">
                                    <div class="col-4">
                                        <label for="" class="col-form-label">Sick Leave</label>
                                    </div>
                                    <div class="col-8">
                                        <input v-model="editLeave.sLeave" @focus="$event.target.select()" placeholder="Enter Days remaining" type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <label for="" class="col-form-label">Vacation Leave</label>
                                    </div>
                                    <div class="col-8">
                                        <input v-model="editLeave.vLeave" @focus="$event.target.select()" placeholder="Enter Days remaining" type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <label for="" class="col-form-label">Unpaid Leave</label>
                                    </div>
                                    <div class="col-8">
                                        <input v-model="editLeave.uLeave" @focus="$event.target.select()" placeholder="Enter Days remaining" type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <label for="" class="col-form-label">SILP</label>
                                    </div>
                                    <div class="col-8">
                                        <input v-model="editLeave.silp" @focus="$event.target.select()" placeholder="Enter Days remaining" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary col" @click="submitEditLeave()">Save</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- GIVE PROMOTION -->
        <div class="modal fade" id="promotionModal">
            <div class="modal-dialog">
                <div class="modal-content box-shadow-large b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Give Promotion</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-6 my-2">
                                <label for="" class="gray">ID No.</label>
                                <br>
                                <span class="font-size-14 font-bold">[[givePromotion.idUser]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Employee</label>
                                <br>
                                <span class="font-size-14 font-bold">[[givePromotion.first_name]] [[givePromotion.last_name]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Position</label>
                                <br>
                                <span class="font-size-14 font-bold">[[givePromotion.position]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Current Daily Rate</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(givePromotion.rate)]]</span>
                            </div>
                        </div>

                        <div class="row mt-3 order-card py-3">
                            <div class="col-8 pr-1">
                                <div class="form-group">
                                    <label for="">New Position</label>
                                    <select v-model="givePromotion.newPosition" name="" id="" class="form-control">
                                        <option value="" selected disabled>Select New Position</option>
                                        {% for position in request.user.branch.position.all %}
                                        <option value="{{position.name}}">{{position.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 pl-1">
                                <div class="form-group">
                                    <label for="">Rate <span class="font-size-10 gray font-bold">(per day)</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input v-model="givePromotion.newRate" type="text" class="form-control box-shadow-off" placeholder="Enter Amount" onkeypress="validate()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary col" @click="submitGivePromotion()">Give Promotion</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GIVE RAISE -->
        <div class="modal fade" id="raiseModal">
            <div class="modal-dialog">
                <div class="modal-content box-shadow-large b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Give Raise</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-6 my-2">
                                <label for="" class="gray">ID No.</label>
                                <br>
                                <span class="font-size-14 font-bold">[[giveRaise.idUser]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Employee</label>
                                <br>
                                <span class="font-size-14 font-bold">[[giveRaise.first_name]] [[giveRaise.last_name]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Position</label>
                                <br>
                                <span class="font-size-14 font-bold">[[giveRaise.position]]</span>
                            </div>
                            <div class="col-6 my-2">
                                <label for="" class="gray">Current Daily Rate</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[giveRaise.rate]]</span>
                            </div>
                        </div>

                        <div class="row mt-3 order-card py-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Rate <span class="font-size-10 gray font-bold">(per day)</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input v-model="giveRaise.newRate" type="text" class="form-control box-shadow-off" placeholder="Enter Raise" onkeypress="validate()">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary col" @click='submitGiveRaise()'>Give Raise</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GIVE BONUS MODAL -->
        <!-- ADD SCHEDULE -->
        <div class="modal fade" id="createSchedule">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Create a Schedule</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="">Time In</label>
                                <input v-model="createSchedule.timeIn" type="time" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Time Out</label>
                                <input v-model="createSchedule.timeOut" type="time" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="">Work Days</label>
                                <select v-model="createSchedule.workDays" name="" id="" class="form-control">
                                    <option value="" selected disabled>Select Workday</option>
                                    <option value="01234">M T W Th F</option>
                                    <option value="012345">M T W Th F Sat</option>
                                    <option value="0123456">M T W Th F Sat Sun</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button @click="submitCreateSchedule()" class="btn btn-primary col">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD EMPLOYEE MODAL -->
        <div class="modal fade" id="addModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Add New Employee</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row my-2">
                            <div class="col-6 pr-2">
                                <label for="">ID Number</label>
                                <input v-model="addE.idUser" placeholder="Enter ID Number" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-6 pr-2">
                                <label for="">First Name</label>
                                <input v-model="addE.first_name" placeholder="Enter First Name" type="text" class="form-control">
                            </div>
                            <div class="col-6 pl-2">
                                <label for="">Last Name</label>
                                <input v-model="addE.last_name" placeholder="Enter Last Name" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mt-2 order-card pt-3">
                            <div class="col">
                                <label for="">Position</label>
                                <input v-model="addE.position" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2 order-card pb-3">
                            <div class="col">
                                <label for="">Account Authorization Level</label>
                                <select v-model="addE.authLevel" name="" id="" class="form-control">
                                    <option value="" selected disabled>Select Authorization Level</option>
                                    <option value="0">0 - Top Level ---- Can see and control all branches</option>
                                    <option value="1">1 - Branch Admin ---- Can see and control single branch</option>
                                    <option value="2">2 - Branch Basic ---- Limited access on a single branch</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2 pt-3">
                            <div class="col">
                                <label for="">Mobile No.</label>
                                <input v-model="addE.mobile" placeholder="Enter Mobile No." type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Email</label>
                                <input v-model="addE.email" placeholder="Enter Email" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2 pb-3">
                            <div class="col">
                                <label for="">Blood Type</label>
                                <select v-model="addE.bloodType" class="form-control">
                                    <option value="" selected disabled>Select Blood Type</option>
                                    <option value="Unknown">Unknown</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="">Daily Rate</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">₱</span>
                                    </div>
                                    <input v-model="addE.dailyRate" type="text" class="form-control box-shadow-off" placeholder="Enter Daily Rate" onkeypress="validate()">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 order-card pt-3">
                            <div class="col">
                                <label for="">TIN Number</label>
                                <input v-model="addE.tin" placeholder="Enter TIN Number" type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">SSS Number</label>
                                <input v-model="addE.sss" placeholder="Enter SSS Number" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2 order-card pb-3">
                            <div class="col">
                                <label for="">PHIC No.</label>
                                <input v-model="addE.phic" placeholder="Enter PHIC No." type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Pag-Ibig No.</label>
                                <input v-model="addE.hdmf" placeholder="Enter Pag-Ibig No." type="text" class="form-control">
                            </div>
                        </div>

                        <!-- BUTTONS -->
                        <div class="row mt-3">
                            <div class="col">
                                <button class="col btn btn-primary" @click="submitAddE()">Add Employee</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BENEFITS MODAL -->
        <div class="modal fade" id="benefitsModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Give De Minimis Benefits</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Employee Name</label>
                                    <input v-model="giveBenefits.username" type="text" readonly class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Benefits</label>
                                    <select name="" id="" class="form-control" v-for="(item, index) in giveBenefits.benefits" v-model="item.pk">
                                        <option value="" selected disabled>Select Benefits</option>
                                        {% for deminimis in deminimises %}
                                        <option value="{{deminimis.pk}}">{{deminimis.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label for="">Amount <span class="font-size-10 gray font-bold">/ per cut-off</span></label>
                                <div class="input-group" v-for="(item, index) in giveBenefits.benefits">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">₱</span>
                                    </div>
                                    <input type="text" class="form-control box-shadow-off" onkeypress="validate()" v-model="item.amount">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-3">
                            <div class="col">
                                <button class="btn btn-warning" @click="addLineBenefits()">+ Add More Benefits</button>
                                <button class="btn btn-danger" @click="popLineBenefits()">- Remove Benefit</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary col" @click="submitGiveBenefits()">Give Benefits</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
				headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                }
			},

            modal: {
                schedule: {
                    timeIn: '00:00:00',
                    timeOut: '00:00:00',
                    workDays: '0'
                }
            },

            addE:{
                idUser: null,
                first_name: null,
                last_name: null,
                position: null,
                authLevel: null,
                mobile: null,
                email: null,
                bloodType: null,
                dailyRate: null,
                tin: null,
                sss: null,
                phic: null,
                hdmf: null,
            },

            changeScheduleModal: {
                id: null,
                first_name: null,
                last_name: null,
                schedule: '',
            },
            
            givePromotion:{
                user: null,
                position: null,
                idUser: null,
                rate: null,
                first_name: null,
                last_name: null,
                rate: null,
                newPosition: '',
                newRate: null,

            },

            giveBenefits: {
                user: null, //pk
                username: null,
                benefits: [{
                    pk: '',
                    amount: null,
                }]
            },

            createSchedule:{
                timeIn: null,
                timeOut: null,
                workDays: ''
            },

            giveBonus: {
                user: null,
                bonuses: [{
                    name: null,
                    amount: null,
                }]
            },

            giveRaise: {
                user: null,
                position: null,
                idUser: null,
                rate: null,
                first_name: null,
                last_name: null,
                rate: null,
                newRate: null
            },

            editLeave: {
                user: null,
                position: null,
                idUser: null,
                rate: null,
                first_name: null,
                last_name: null,
                sLeave: 0,
                uLeave: 0,
                vLeave: 0,
                silp: 0,
            },
            editBenefits: {
                user: null,
                position: null,
                idUser: null,
                rate: null,
                first_name: null,
                last_name: null,
                deminimisofuser: [{
                    id: null,
                    name: null,
                    amount: null,
                }]
            }
        },

        methods: {
            fetchUser(id){
                axios.get(`/api/user/${id}/`)
                .then(res=>{
                    this.modal = res.data
                    console.log(res.data)
                })
            },

            saveChangeSchedule(){
                axios.post('/save-change-schedule/', this.changeScheduleModal, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong",
                        icon: "error",
                        html: err.message
                    })
                })
            },

            submitCreateSchedule(){
                axios.post('/create-schedule/', this.createSchedule, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: err.message,
                        icon: 'error'
                    })
                })
            },

            submitAddE(){
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    html: "Are you sure you want to create an employee?",
                    showCancelButton: true,
                    confirmButtonText: 'I am sure.'
                })
                .then(result=>{
                    if(result.isConfirmed){
                        axios.post('/add-employee/', this.addE, this.config)
                        .then(res=>res.data==0?location.reload():Swal.fire({
                            title: "Something went wrong.",
                            html: res.data,
                            icon: 'error'
                        }))
                        .catch(err=>{
                            Swal.fire({
                                title: "Something went wrong.",
                                html: err.message,
                                icon: 'error'
                            })
                        })
                    }
                })
            },

            initEditBenefits(){
                this.editBenefits.user = this.modal.id
                this.editBenefits.position = this.modal.position
                this.editBenefits.idUser = this.modal.idUser
                this.editBenefits.rate = this.modal.rate
                this.editBenefits.first_name = this.modal.first_name
                this.editBenefits.last_name = this.modal.last_name
                this.editBenefits.deminimisofuser = this.modal.deminimisofuser
            },

            addLineBenefits(){
                this.giveBenefits.benefits.push({
                    pk: '',
                    name: '',
                    amount: null,
                })
            },

            addLineBenefits2(){
                this.editBenefits.deminimisofuser.push({
                    id: '',
                    name: '',
                    amount: null,
                    user: null,
                })
            },

            popLineBenefits2(){
                this.editBenefits.deminimisofuser.pop()
            },

            initGivePromotion(){
                this.givePromotion.user = this.modal.id
                this.givePromotion.position = this.modal.position
                this.givePromotion.idUser = this.modal.idUser
                this.givePromotion.rate = this.modal.rate
                this.givePromotion.first_name = this.modal.first_name
                this.givePromotion.last_name = this.modal.last_name
                this.givePromotion.newRate = this.modal.rate
            },

            popLineBenefits(){
                this.giveBenefits.benefits.pop()
            },

            initGiveBenefits(){
                this.giveBenefits.user = this.modal.id
                this.giveBenefits.username = this.modal.first_name + " " + this.modal.last_name
            },

            initEditLeave(){
                this.editLeave.user = this.modal.id
                this.editLeave.position = this.modal.position
                this.editLeave.idUser = this.modal.idUser
                this.editLeave.rate = this.modal.rate
                this.editLeave.first_name = this.modal.first_name
                this.editLeave.last_name = this.modal.last_name
                if(this.modal.userleave){
                    this.editLeave.sLeave = this.modal.userleave.sLeave
                    this.editLeave.uLeave = this.modal.userleave.uLeave
                    this.editLeave.vLeave = this.modal.userleave.vLeave
                    this.editLeave.silp = this.modal.userleave.silp
                }

            },

            submitEditLeave(){
                axios.post('/ems-save-edit-leave/', this.editLeave, this.config)
                .then(res=>res.data==0?location.reload():"")
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: 'error',
                        html: err.message
                    })
                })
            },

            submitEditBenefits(){
                axios.post('/ems-save-edit-benefits/', this.editBenefits, this.config)
                .then(res=>res.data==0?location.reload():"")
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: 'error',
                        html: err.message
                    })
                })
            },

            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                formatted = `${month}. ${date}, ${year}`

                return formatted
            },

            formatTime(value){
                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                h = value.split(':')[0]
                m = value.split(':')[1]

                value = new Date(null, null, null, h, m)
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${hour}:${minute} ${meridian}`

                return formatted
            },

            fetchChangeSchedule(){
                this.changeScheduleModal = this.modal
            },

            initGiveRaise(){
                this.giveRaise.user = this.modal.id
                this.giveRaise.position = this.modal.position
                this.giveRaise.idUser = this.modal.idUser
                this.giveRaise.rate = this.modal.rate
                this.giveRaise.first_name = this.modal.first_name
                this.giveRaise.last_name = this.modal.last_name
            },

            convertToDays(value){
                //CONVERTS 012345 to M T W TH F SAT SUN
                data = {
                    0: 'M',
                    1: 'T',
                    2: 'W',
                    3: 'Th',
                    4: 'F',
                    5: 'Sat',
                    6: 'Sun'
                }

                let reformatted = ''

                arr = value.split('')
                arr.forEach(item=>{
                    reformatted += (data[item])
                })

                return reformatted
            },

            submitGiveRaise(){
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    html: `Are you sure you want to give raise to ${this.modal.first_name} ${this.modal.last_name}?`
                })
                .then(result=>{
                    if(result.isConfirmed){
                        axios.post('/ems-give-raise/', this.giveRaise, this.config)
                        .then(res=>res.data==0?location.reload():'')
                        .catch(err=>{
                            Swal.fire({
                                title: "Something went wrong.",
                                html: err.message,
                                icon: 'error'
                            })
                        })
                    }
                })
            },

            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            submitGiveBenefits(){
                axios.post('/give-deminimis/', this.giveBenefits, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: 'error',
                        html: err.message
                    })
                })
            },

            submitGivePromotion(){
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    html: `Are you sure you want to promote ${this.modal.first_name} ${this.modal.last_name}?`
                })
                .then(result=>{
                    if(result.isConfirmed){
                        axios.post('/ems-give-promotion/', this.givePromotion, this.config)
                        .then(res=>res.data==0?location.reload():'')
                        .catch(err=>{
                            Swal.fire({
                                title: "Something went wrong.",
                                html: err.message,
                                icon: 'error'
                            })
                        })
                    }
                })
            }
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

            buttons: {
                buttons: [
                {
                    text: 'Add Employee',
                    className: 'btn btn-warning',
                    titleAttr: 'Add Employee',
                    action: function(){
                        $("#addModal").modal('show')
                    }
                },
                {
                    text: 'Create New Schedule',
                    className: "btn btt-warning",
                    titleAttr: 'Create New Schedule',
                    action: function(){
                        $('#createSchedule').modal('show')
                    }
                },
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: `<i class="fas fa-file-import"></i>`,
                    className: 'btn btn-table',
                    titleAttr: 'Import',
                    action: function(){
                        $("#import").modal('show')
                    }
                },
                {
                    text: `<i class="fas fa-file-download"></i>`,
                    className: 'btn btn-table text-success',
                    titleAttr: 'Download Excel Template',
                    action: function(){
                        location.href="#"
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}