{% extends 'base-template.html' %}
{% block title %} EMS | My Timesheet {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-timesheet" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-my-timesheet/" class="active-ems mx-2">My Timesheet</a>
                <a href="/ems-employee-timesheet/" class="mx-2">Employee Timesheet</a>
                <a href="/ems-timesheet-tabular/" class="mx-2">Tabular</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">My Timesheet</span>
        </div>

        <!-- PERIOD -->
        <div class="d-flex align-items-center justify-content-end">
            <div class="form-inline">
                <div class="form-group">
                    <label for="" class="mx-1">Period</label>
                    <select @change="setSemiMonthPeriod()" v-model="year" class="form-control mx-1">
                        <option value="" selected disabled>Select Year</option>
                        <option v-for="year in yearList" :value="year">[[year]]</option>
                    </select>
                    <select v-model="period" class="form-control mx-1">
                        <option value="" selected disabled>Select Period</option>
                        <option value="semi">Semi-Monthly</option>
                    </select>
                    <select v-model="dateRange" class="form-control mx-1">
                        <option value="" selected disabled>Date Range</option>
                        <template v-if="period == 'semi'">
                            <option v-for="date in semiMonthPeriod" :value="date[0]+' '+date[1]">[[ date[2] ]] - [[ date[3] ]]</option>
                        </template>
                    </select>
                    <button @click="setDate()" class="mx-1 btn btn-warning btn-sm">
                        Set
                    </button>
                </div>
            </div>
        </div>

        <!-- TIMESHEET -->
        {% for dtr in dtrs %}
        <div class="row my-4 b-radius-15 box-shadow-medium">
            <div class="col-12 m-3">
                <span class="font-bold font-size-20">{{dtr.date|date:"F d, Y"}}</span>
            </div>
            <div class="col-12 px-3 mb-3">
                <div class="row px-3">
                    <div class="col">
                        <label for="" class="gray font-bold">Time-In</label><br>
                        <span class="font-bold font-size-16">[[formatTime('{{dtr.dateTimeIn.isoformat}}')]]</span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">Time-Out</label><br>
                        <span class="font-bold font-size-16">[[formatTime('{{dtr.dateTimeOut.isoformat}}')]]</span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">Basic Hours</label><br>
                        <span class="font-bold font-size-16">{{dtr.bh}} <span class="gray">H</span></span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">OT Hours</label><br>
                        <span class="font-bold font-size-16">{{dtr.ot}} <span class="gray">H</span></span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">ND Hours</label><br>
                        <span class="font-bold font-size-16">{{dtr.nd}} <span class="gray">H</span></span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">NDOT Hours</label><br>
                        <span class="font-bold font-size-16">{{dtr.ndot}} <span class="gray">H</span></span>
                    </div>
                    <div class="col">
                        <label for="" class="gray font-bold">Day Category</label><br>
                        {% if dtr.normalDay %}
                        <div class="d-flex flex-column">
                            <span class="font-bold font-size-16 mb-2">Normal Day</span>
                        </div>
                        {% else %}
                        <div class="d-flex flex-column">
                            <span class="font-bold font-size-16 mb-2">Regular Holiday</span>
                            <span class="font-bold font-size-16 mb-2">Rest Day</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 px-3 mb-3 order-card">
                <div class="row px-3 mt-3">
                    <div class="col">
                        <span class="font-bold font-size-14">Edit Hours</span>
                    </div>
                </div>
                <div class="row px-3 mb-2">
                    <div class="col my-3">
                        <label for="" class="gray">BH</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">OT</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">ND</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">SUN</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">SUN OT</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">RH</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">RH OT</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">SH</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">SH OT</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                    <div class="col my-3">
                        <label for="" class="gray">BH</label><br>
                        <div class="placeholder" data-placeholder="H">
                            <input type="text" class="form-control-special" onkeypress="validate()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <pre>[[$data]]</pre>

    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/semi-monthly.js"></script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            year: '',
            period: '',
            dateRange: '',
            yearList: [],
            semiMonthPeriod: ''
        },

        methods: {
            setSemiMonthPeriod(){
                this.semiMonthPeriod = semi_months(this.year)
            },
            onload(){
                axios.get('/year-api/')
                .then(res=>this.yearList=res.data)
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: "error",
                        html: err.message
                    })
                })
            },
            formatTime(value){
                value = new Date(value)
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${hour}:${minute} ${meridian}`

                return formatted
            },
            setDate(){
                if (this.year && this.period && this.dateRange){
                    location.href=`/ems-my-timesheet/?year=${this.year}&period=${this.period}&dateRange=${this.dateRange}`
                } else {
                    Swal.fire({
                        title: "Fill up all the inputs.",
                        icon: 'error',
                    })
                }
            }
        },
        mounted(){
            this.onload()
            let params = new URLSearchParams(location.search);
            this.year = params.get('year') ? params.get('year') : ''
            this.dateRange = params.get('dateRange') ? params.get('dateRange').replace('%', ' ') : ''
            this.period = params.get('period') ? params.get('period') : ''
            this.semiMonthPeriod = semi_months(this.year)
        }
    })
</script>

{% endblock %}