{% extends 'base-template.html' %}
{% block title %} EMS | Leave Requests {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-requests" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <notification-card></notification-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-overtime-request/" class="mx-2">Overtime</a>
                <a href="/ems-undertime-request/" class="mx-2">Undertime</a>
                <a href="/ems-leave-request/" class="active-ems mx-2">Leave</a>
            </div>
        </div>

        <!-- TITLE -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Leave Requests</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead>
                <th class="gray">Date Start</th>
                <th class="gray">Date End</th>
                <th class="gray">Status</th>
            </thead>
            <tbody>
                {% for leave in request.user.branch.leaveRequest.all %}
                <tr>
                    <td>{{leave.dateStart}}</td>
                    <td>{{leave.dateEnd}}</td>
                    {% if leave.status == 'Pending' %}
                    <td class="pending">{{leave.status}}</td>
                    {% elif leave.status == 'Approved' %}
                    <td class="approved">Approved</td>
                    {% elif leave.status == 'Declined' %}
                    <td class="text-danger">Declined</td>
                    {% else %}
                    <td class="text-info">Unknown</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- MODAL -->
        <div class="modal fade" id="requestModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Request Leave</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col pr-1">
                                <div class="form-group">
                                    <label for="">Date Start</label>
                                    <input v-model="modal.dateStart" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="form-group">
                                    <label for="">Date End</label>
                                    <input v-model="modal.dateEnd" type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Reason</label>
                                    <input v-model="modal.reason" type="text" placeholder="Enter Reason for Leave" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Leave Type</label>
                                    <select v-model="modal.leaveType" name="" id="" class="form-control">
                                        <option value="" disabled selected>Choose Leave Type</option>
                                        <option value="Sick Leave">Sick Leave</option>
                                        <option value="Vacation Leave">Vacation Leave</option>
                                        <option value="SILP">SILP</option>
                                        <option value="Unpaid Leave">Unpaid Leave</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <button @click="submit()" class="col btn btn-primary">Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
                headers:{
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },

            modal: {
                dateStart: null,
                dateEnd: null,
                reason: null,
                leaveType: null,
            }
        },

        methods: {
            submit(){
                message = "Requesting Leave"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
                axios.post('/ems-leave-request/', this.modal, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    indexOfExceptionLocation = err.response.data.search("Exception Location:")
                    sli = err.response.data.slice(indexOfExceptionLocation, indexOfExceptionLocation+200)
                    exceptionLocation = `${sli.slice(0, sli.search('</td>'))}`


                    indexOfException = err.response.data.search("\"exception_value\"")
                    sl = err.response.data.slice(indexOfException, indexOfException+200)
                    exception = `SERVER ERROR: ${sl.slice(18, sl.search('</pre>'))} <br><br> ${exceptionLocation}`
                    
                    Swal.fire({
                        title: "Something went wrong",
                        icon: "error",
                        html: exception
                    })
                })
            }
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

            buttons: {
                buttons: [
                {
                    text: 'Make Request',
                    className: 'btn btn-warning',
                    titleAttr: 'Make Request',
                    action: function(){
                        $("#requestModal").modal('show')
                    }
                },
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}