{% extends 'base-template.html' %}
{% block title %} EMS | Employee Payslip {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-payslip" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-my-payslip/" class="mx-2">My Payslip</a>
                <a href="/ems-employee-payslip/" class="active-ems mx-2">Employee Payslip</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Employee Payslip</span>
        </div>

        <!-- PERIOD -->
        <div class="d-flex align-items-center justify-content-between">
            <div class="form-inline">
                <div class="form-group">
                    <label for="" class="mx-1">Employee</label>
                    <select v-model='user' class="form-control mx-1">
                        <option value='' selected disabled>Select Employee</option>
                        {% for employee in employees %}
                        <option value="{{employee.pk}}">{{employee.first_name}} {{employee.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="" class="mx-1">Period</label>
                    <select @change="setSemiMonthPeriod()" v-model="year" class="form-control mx-1">
                        <option value="" selected disabled>Select Year</option>
                        <option v-for="year in yearList" :value="year">[[year]]</option>
                    </select>
                    <select v-model="period" class="form-control mx-1">
                        <option value="" selected disabled>Select Period</option>
                        <option value="semi">Semi-Monthly</option>
                    </select>
                    <select v-model="dateRange" class="form-control mx-1">
                        <option value="" selected disabled>Date Range</option>
                        <template v-if="period == 'semi'">
                            <option v-for="date in semiMonthPeriod" :value="date[0]+' '+date[1]">[[ date[2] ]] - [[ date[3] ]]</option>
                        </template>
                    </select>
                    <button @click="setDate()" class="mx-1 btn btn-warning btn-sm">
                        Set
                    </button>
                </div>
            </div>
        </div>

        <!-- TABLE -->
        <!-- HOURS -->
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <!-- LVL 1 -->
            <div class="col my-3">
                <label for="" class="gray">ID Number</label>
                <br>
                <span class="font-size-14 font-bold">{{payslips.user.idUser}}</span>
            </div>
            <div class="col my-3">
                <label for="" class="gray">Employee Name</label>
                <br>
                <span class="font-size-14 font-bold">{{payslips.user.first_name}} {{payslips.user.last_name}}</span>
            </div>
            <!-- LVL 1 -->
            <div class="col my-3">
                <label for="" class="gray">Total Hours</label>
                <br>
                {% if payslips.payroll.bh %}
                <span class="font-size-14 font-bold">{{payslips.payroll.bhTotalHours|add:payslips.payroll.otTotalHours}} Hours</span>
                {% else %}
                <span class="font-size-14 font-bold">0 Hours</span>
                {% endif %}
            </div>
            <div class="col my-3">
                <label for="" class="gray">Period</label>
                <br>
                <span class="font-size-14 font-bold">{{payslips.payroll.dateStart}} - {{payslips.payroll.dateEnd}}</span>
            </div>
        </div>
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <div class="col my-3">
                <label for="" class="gray">Work Hours</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">{{payslips.payroll.bhTotalHours|floatformat:1}}H <span class="gray">BH</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rdTotalHours|floatformat:1}}H <span class="gray">RD</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhTotalHours|floatformat:1}}H <span class="gray">RH</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shTotalHours|floatformat:1}}H <span class="gray">SH</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhrdTotalHours|floatformat:1}}H <span class="gray">RHRD</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shrdTotalHours|floatformat:1}}H <span class="gray">SHRD</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">OT Hours</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">{{payslips.payroll.otTotalHours|floatformat:1}}H <span class="gray">OT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rdotTotalHours|floatformat:1}}H <span class="gray">RD OT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhotTotalHours|floatformat:1}}H <span class="gray">RH OT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shotTotalHours|floatformat:1}}H <span class="gray">SH OT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhrdotTotalHours|floatformat:1}}H <span class="gray">RHRD OT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shrdotTotalHours|floatformat:1}}H <span class="gray">SHRD OT</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">ND Hours</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">{{payslips.payroll.ndTotalHours|floatformat:1}}H <span class="gray">ND</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rdndTotalHours|floatformat:1}}H <span class="gray">RD ND</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhndTotalHours|floatformat:1}}H <span class="gray">RH ND</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shndTotalHours|floatformat:1}}H <span class="gray">SH ND</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhrdndTotalHours|floatformat:1}}H <span class="gray">RHRD ND</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shrdndTotalHours|floatformat:1}}H <span class="gray">SHRD ND</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">ND OT Hours</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">{{payslips.payroll.ndotTotalHours|floatformat:1}}H <span class="gray">NDOT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rdndotTotalHours|floatformat:1}}H <span class="gray">RD NDOT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhndotTotalHours|floatformat:1}}H <span class="gray">RH NDOT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shndotTotalHours|floatformat:1}}H <span class="gray">SH NDOT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.rhrdndotTotalHours|floatformat:1}}H <span class="gray">RHRD NDOT</span></span>
                    <span class="font-bold mt-1">{{payslips.payroll.shrdndotTotalHours|floatformat:1}}H <span class="gray">SHRD NDOT</span></span>
                </div>
            </div>
        </div>

        <!-- DAILY RATE -->
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <div class="col my-3">
                <label for="" class="gray">Daily Rate</label>
                <br>
                <span class="font-bold font-size-14">₱0</span>
            </div>
        </div>

        <!-- PAY -->
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <div class="col my-3">
                <label for="" class="gray">Work Pay</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.bh}}')]] <span class="gray">BH</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rd}}')]] <span class="gray">RD</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rh}}')]] <span class="gray">RH</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.sh}}')]] <span class="gray">SH</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhrd}}')]] <span class="gray">RHRD</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shrd}}')]] <span class="gray">SHRD</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">OT Pay</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.ot}}')]] <span class="gray">OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rdot}}')]] <span class="gray">RD OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhot}}')]] <span class="gray">RH OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shot}}')]] <span class="gray">SH OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhrdot}}')]] <span class="gray">RHRD OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shrdot}}')]] <span class="gray">SHRD OT</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">ND Pay</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.nd}}')]] <span class="gray">ND</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rdnd}}')]] <span class="gray">RD ND</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhnd}}')]] <span class="gray">RH ND</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shnd}}')]] <span class="gray">SH ND</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhrdot}}')]] <span class="gray">RHRD OT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shrdot}}')]] <span class="gray">SHRD OT</span></span>
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">ND OT Pay</label>
                <div class="d-flex flex-column">
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.ndot}}')]] <span class="gray">NDOT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rdndot}}')]] <span class="gray">RD NDOT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhndot}}')]] <span class="gray">RH NDOT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shndot}}')]] <span class="gray">SH NDOT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.rhrdndot}}')]] <span class="gray">RHRD NDOT</span></span>
                    <span class="font-bold mt-1">₱[[formatPrice('{{payslips.payroll.shrdndot}}')]] <span class="gray">SHRD NDOT</span></span>
                </div>
            </div>
        </div>

        <!-- BONUS AND DE MINIMIS -->
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <div class="col my-3">
                <label for="" class="gray">Bonus</label>
                <div class="row">
                    {% for bonus in payslips.payroll.bonuspay.all %}
                    <div class="col-12">
                        <span class="font-bold gray">{{bonus.name}}</span>
                        <span class="font-semibold"> ₱[[formatPrice('{{bonus.amount}}')]]</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">De Minimis</label>
                <div class="row">
                    {% for deminimis in payslips.payroll.deminimispay.all %}
                    <div class="col-12">
                        <span class="font-bold gray">{{deminimis.name}}</span>
                        <span class="font-semibold"> ₱[[formatPrice('{{deminimis.amount}}')]]</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col my-3">
                <label for="" class="gray">SILP to Cash</label>
                <br>
                <span class="font-size-14 font-bold">₱0.00</span>
            </div>
            <div class="col my-3">
                <label for="" class="gray">Holiday Pay</label>
                <br>
                <span class="font-size-14 font-bold">₱[[formatPrice('{{payslips.payroll.holidayPay}}')]]</span>
            </div>
        </div>

        <!-- DEDUCTIONS -->
        <div class="row mb-2 border box-shadow-medium b-radius-5">
            <div class="col-12 mt-3">
                <label for="" class="gray font-bold font-size-14">Deductions</label>
            </div>
            <!-- LVL 1 -->
            <div class="col-3 my-3">
                <label for="" class="gray">SSS</label>
                <br>
                <span class="font-bold font-size-14">₱[[formatPrice('{{payslips.payroll.sssemployeededuction.ee}}')]]</span>
            </div>
            <div class="col-3 my-3">
                <label for="" class="gray">PHIC</label>
                <br>
                <span class="font-bold font-size-14">₱[[formatPrice('{{payslips.payroll.phicemployeededuction.ee}}')]]</span>
            </div>
            <div class="col-3 my-3">
                <label for="" class="gray">Pag-Ibig</label>
                <br>
                <span class="font-bold font-size-14">₱[[formatPrice('{{payslips.payroll.pagibigemployeededuction.amount}}')]]</span>
            </div>
            <div class="col-3 my-3">
                <label for="" class="gray">Tax Due</label>
                <br>
                <span class="font-bold font-size-14">₱[[formatPrice('{{payslips.payroll.employeetaxdeduction.amount}}')]]</span>
            </div>

            <!-- LVL 2 -->
            <div class="col-3 my-3">
                <label for="" class="gray">SSS Loans</label>
                <br>
                <span class="font-bold font-size-14">₱0.00</span>
            </div>
            <div class="col-3 my-3">
                <label for="" class="gray">HDMF Loans</label>
                <br>
                <span class="font-bold font-size-14">₱0.00</span>
            </div>
            <div class="col-3 my-3">
                <label for="" class="gray">Late/Undertime Deductions</label>
                <br>
                <span class="font-size-14 font-bold">₱0.00</span>
            </div>
        </div>

        <div class="row earnings py-3 mb-5 border box-shadow-medium b-radius-5">
            <div class="col">
                <label for="" class="earnings-text">Basic Pay</label>
                <br>
                <span class="font-size-18 font-bold">₱[[formatPrice('{{payslips.payroll.basicPay}}')]]</span>
            </div>
            <div class="col">
                <label for="" class="earnings-text">Gross Pay</label>
                <br>
                <span class="font-size-18 font-bold">₱[[formatPrice('{{payslips.payroll.grossPayAfterBonus}}')]]</span>
            </div>
            <div class="col">
                <label for="" class="earnings-text">Net Pay</label>
                <br>
                <span class="font-size-18 font-bold">₱[[formatPrice('{{payslips.payroll.netPayAfterTaxes}}')]]</span>
            </div>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="row my-2 order-card">
                            <!-- LVL 1 -->
                            <div class="col-6 mt-3">
                                <label for="" class="gray">Date</label>
                                <br>
                                <span class="font-size-14 font-bold">March 31, 2021</span>
                            </div>
                            <div class="col-6 mt-3">
                                <label for="" class="gray">Daily Rate</label>
                                <br>
                                <span class="font-size-14 font-bold">₱550.00</span>
                            </div>
                            <!-- LVL 2 -->
                            <div class="col-4 my-3">
                                <label for="" class="gray">Total Hours</label>
                                <br>
                                <span class="font-size-14 font-bold">82H 30M</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Regular Hours</label>
                                <br>
                                <span class="font-size-14 font-bold">80H</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">OT Hours</label>
                                <br>
                                <span class="font-size-14 font-bold">2H 30M</span>
                            </div>
                        </div>

                        <!-- BOTTOM -->
                        <div class="row my-4">
                            <table class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th class="px-3"><span class="font-bold gray">Earnings</span></th>
                                    <th class=""><span class="font-bold gray">Amount</span></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="px-3">Basic Pay</td>
                                        <td>₱8,325.00</td>
                                    </tr>
                                    <tr>
                                        <td class="px-3">De Minimis Benefits</td>
                                        <td>₱2,000.00</td>
                                    </tr>
                                    <tr class="font-extrabold font-size-14 earnings">
                                        <td class="px-3">Total Earnings</td>
                                        <td>₱10,325.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- BOTTOMS -->
                        <div class="row my-4">
                            <table class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th class="px-3"><span class="font-bold gray">Deductions</span></th>
                                    <th class=""><span class="font-bold gray">Amount</span></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="px-3">Tax</td>
                                        <td>₱8,325.00</td>
                                    </tr>
                                    <tr>
                                        <td class="px-3">Penalties</td>
                                        <td>₱2,000.00</td>
                                    </tr>
                                    <tr class="font-extrabold font-size-14 deductions">
                                        <td class="px-3">Total Deductions</td>
                                        <td>₱10,325.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- BOTTOMSS -->
                        <div class="row mt-4 net-pay py-1">
                            <div class="col">
                                <span class="font-bold font-size-14">Net Pay</span>
                            </div>
                            <div class="col">
                                <span class="font-bold font-size-14">₱10,325.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre>[[$data]]</pre>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/semi-monthly.js"></script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        
        data: {
            user: '',
            year: '',
            period: '',
            dateRange: '',
            yearList: [],
            semiMonthPeriod: '',
            params: '',
        },

        methods: {
            setSemiMonthPeriod(){
                this.semiMonthPeriod = semi_months(this.year)
            },
            onload(){
                axios.get('/year-api/')
                .then(res=>this.yearList=res.data)
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: "error",
                        html: err.message
                    })
                })
            },
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },
            formatTime(value){
                value = new Date(value)
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${hour}:${minute} ${meridian}`

                return formatted
            },
            setDate(){
                if (this.year && this.period && this.dateRange){
                    location.href=`/ems-employee-payslip/?year=${this.year}&period=${this.period}&dateRange=${this.dateRange}&user=${this.user}`
                } else {
                    Swal.fire({
                        title: "Fill up all the inputs.",
                        icon: 'error',
                    })
                }
            },
            toggleHoursView(id){
                hourID = document.getElementById(id)
                if(hourID.style.display == "block"){
                    hourID.style.display = 'none'
                } else {
                    hourID.style.display = 'block'
                }
            },
            loadingModal(){
                message = "Saving Changes"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
            }
        },
        mounted(){
            this.onload()
            let params = new URLSearchParams(location.search);
            this.params = params.toString()
            this.year = params.get('year') ? params.get('year') : ''
            this.dateRange = params.get('dateRange') ? params.get('dateRange').replace('%', ' ') : ''
            this.period = params.get('period') ? params.get('period') : ''
            this.semiMonthPeriod = semi_months(this.year)
            this.user = params.get('user')?params.get('user'):''
        }
    })
</script>

{% endblock %}