{% extends 'base-template.html' %}
{% block title %} EMS | Payroll {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-payroll" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- TITLE -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Payroll</span>
        </div>

        <!-- BUTTONS -->
        <div class="d-flex align-items-center mb-3 justify-content-between">
            <div>
                <button class="btn btn-primary mr-1" @click="confirmPayroll()">Generate Payroll</button>
                <button class="btn btn-warning ml-1" @click="approveAll()">Approve All</button>
            </div>

            <div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="" class="mx-1">Period</label>
                        <select @change="setSemiMonthPeriod()" v-model="year" class="form-control mx-1">
                            <option value="" selected disabled>Select Year</option>
                            <option v-for="year in yearList" :value="year">[[year]]</option>
                        </select>
                        <select @change="setSemiMonthPeriod()" v-model="period" class="form-control mx-1">
                            <option value="" selected disabled>Select Period</option>
                            <option value="semi">Semi-Monthly</option>
                            <!-- <option value="monthly">Monthly</option> -->
                        </select>
                        <select v-model="dateRange" class="form-control mx-1">
                            <option value="" selected disabled>Date Range</option>
                            <template v-if="period == 'semi'">
                                <option v-for="date in semiMonthPeriod" :value="date[0]+' '+date[1]">[[ date[2] ]] - [[ date[3] ]]</option>
                            </template>
                            <template v-else-if="period=='monthly'">
                                <option v-for="date in semiMonthPeriod" :value="date[0]+' '+date[1]">[[ date[2] ]] - [[ date[3] ]]</option>
                            </template>
                        </select>
                        <button @click="setDate()" class="mx-1 btn btn-warning btn-sm">
                            Set
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="gray">
                <th>ID No.</th>
                <th>Employee</th>
                <th>Daily Rate</th>
                <th>Basic Pay</th>
                <th>Gross Pay</th>
                <th>Net Pay</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% if not payrolls %}
                <tr>
                    <td colspan="99" class="text-center">No Data</td>
                </tr>
                <tr>
                    <td colspan="99" class="text-center gray">Generate Payroll or Select a Period to show data</td>
                </tr>
                {% else %}
                {% for payroll in payrolls %}
                <tr>
                    <td @click="fetchPayroll('{{payroll.pk}}')" class="link" data-toggle="modal" data-target="#payrollModal">{{payroll.user.idUser}}</td>
                    <td>{{payroll.user.first_name}} {{payroll.user.last_name}}</td>
                    <td>₱[[formatPrice('{{payroll.user.rate}}')]]</td>
                    <td>₱[[formatPrice('{{payroll.basicPay}}')]]</td>
                    <td>₱[[formatPrice('{{payroll.grossPayAfterBonus}}')]]</td>
                    <td class="font-bold font-size-14">₱[[formatPrice('{{payroll.netPayAfterTaxes}}')]]</td>
                    <td>{% if payroll.approved%} <span class="text-success">Approved</span> {% else %} <span class="text-warning">Pending</span>{% endif %}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <!-- PAYROLL MODAL -->
        <div class="modal fade" id="payrollModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content b-radius-15">
                    <div class="modal-body py-0">
                        <!-- TOP CARD -->
                        <div class="mt-2">
                            <a :href="'/ems-edit-payroll/?payroll_id=' + modal.id">Edit Payroll</a>
                        </div>
                        <div class="row mb-2">
                            <!-- LVL 1 -->
                            <div class="col my-3">
                                <label for="" class="gray">ID Number</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.user.idUser]]</span>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">Employee Name</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.user.first_name]] [[modal.user.last_name]]</span>
                            </div>
                        </div>

                        <!-- MID CARD -->
                        <div class="row my-2">
                            <!-- LVL 1 -->
                            <div class="col my-3">
                                <label for="" class="gray">Total Hours</label>
                                <br>
                                <span class="font-size-14 font-bold">[[roundNumber1(Number(modal.bhTotalHours) + Number(modal.otTotalHours))]] Hours</span>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">Period</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDate(modal.dateStart)]] - [[formatDate(modal.dateEnd)]]</span>
                            </div>
                        </div>

                        <!-- HOURS -->
                        <div class="row my-2 order-card">
                            <div class="col my-3">
                                <label for="" class="gray">Work Hours</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">[[roundNumber1(modal.bhTotalHours)]]H <span class="gray">BH</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rdTotalHours)]]H <span class="gray">RD</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhTotalHours)]]H <span class="gray">RH</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shTotalHours)]]H <span class="gray">SH</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhrdTotalHours)]]H <span class="gray">RHRD</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shrdTotalHours)]]H <span class="gray">SHRD</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">OT Hours</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">[[roundNumber1(modal.otTotalHours)]] <span class="gray">OT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rdotTotalHours)]]H <span class="gray">RD OT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhotTotalHours)]]H <span class="gray">RH OT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shotTotalHours)]]H <span class="gray">SH OT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhrdotTotalHours)]]H <span class="gray">RHRD OT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shrdotTotalHours)]]H <span class="gray">SHRD OT</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">ND Hours</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">[[roundNumber1(modal.ndTotalHours)]]H <span class="gray">ND</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rdndTotalHours)]]H <span class="gray">RD ND</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhndTotalHours)]]H <span class="gray">RH ND</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shndTotalHours)]]H <span class="gray">SH ND</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhrdndTotalHours)]]H <span class="gray">RHRD ND</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shrdndTotalHours)]]H <span class="gray">SHRD ND</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">ND OT Hours</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">[[roundNumber1(modal.ndotTotalHours)]]H <span class="gray">NDOT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rdndotTotalHours)]]H <span class="gray">RD NDOT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhndotTotalHours)]]H <span class="gray">RH NDOT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shndotTotalHours)]]H <span class="gray">SH NDOT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.rhrdndotTotalHours)]]H <span class="gray">RHRD NDOT</span></span>
                                    <span class="font-bold mt-1">[[roundNumber1(modal.shrdndotTotalHours)]]H <span class="gray">SHRD NDOT</span></span>
                                </div>
                            </div>
                        </div>

                        <!-- DAILY RATE -->
                        <div class="row my-2">
                            <div class="col my-3">
                                <label for="" class="gray">Daily Rate</label>
                                <br>
                                <span class="font-bold font-size-14">₱[[formatPrice(modal.user.rate)]]</span>
                            </div>
                        </div>

                        <!-- PAY -->
                        <div class="row my-2 order-card">
                            <div class="col my-3">
                                <label for="" class="gray">Work Pay</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.bh)]] <span class="gray">BH</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rd)]] <span class="gray">RD</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rh)]] <span class="gray">RH</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.sh)]] <span class="gray">SH</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhrd)]] <span class="gray">RHRD</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shrd)]] <span class="gray">SHRD</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">OT Pay</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.ot)]] <span class="gray">OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rdot)]] <span class="gray">RD OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhot)]] <span class="gray">RH OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shot)]] <span class="gray">SH OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhrdot)]] <span class="gray">RHRD OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shrdot)]] <span class="gray">SHRD OT</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">ND Pay</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.nd)]] <span class="gray">ND</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rdnd)]] <span class="gray">RD ND</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhnd)]] <span class="gray">RH ND</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shnd)]] <span class="gray">SH ND</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhrdot)]] <span class="gray">RHRD OT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shrdot)]] <span class="gray">SHRD OT</span></span>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">ND OT Pay</label>
                                <div class="d-flex flex-column">
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.ndot)]] <span class="gray">NDOT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rdndot)]] <span class="gray">RD NDOT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhndot)]] <span class="gray">RH NDOT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shndot)]] <span class="gray">SH NDOT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.rhrdndot)]] <span class="gray">RHRD NDOT</span></span>
                                    <span class="font-bold mt-1">₱[[formatPrice(modal.shrdndot)]] <span class="gray">SHRD NDOT</span></span>
                                </div>
                            </div>
                        </div>

                        <!-- BONUS AND DE MINIMIS -->
                        <div class="row my-2">
                            <div class="col my-3">
                                <label for="" class="gray">Bonus</label>
                                <div class="row">
                                    <div class="col-12" v-for="bonus in modal.bonuspay">
                                        <span class="font-bold gray">[[bonus.name]] </span>
                                        <span class="font-semibold"> ₱[[formatPrice(bonus.amount)]]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">De Minimis</label>
                                <div class="row">
                                    <div class="col-12" v-for="pay in modal.deminimispay">
                                        <span class="font-bold gray">[[pay.name]] </span>
                                        <span class="font-semibold"> ₱[[formatPrice(pay.amount)]]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-3">
                                <label for="" class="gray">SILP to Cash</label>
                                <br>
                                <span class="font-size-14 font-bold">₱0.00</span>
                            </div>
                        </div>

                        <!-- DEDUCTIONS -->
                        <div class="row mt-2 mb-4 order-card">
                            <div class="col-12 mt-3">
                                <label for="" class="gray font-bold font-size-14">Deductions</label>
                            </div>
                            <!-- LVL 1 -->
                            <div class="col-3 my-3">
                                <label for="" class="gray">SSS</label>
                                <br>
                                <span class="font-bold font-size-14" v-if="modal.sssemployeededuction">₱[[formatPrice(modal.sssemployeededuction.ee)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">PHIC</label>
                                <br>
                                <span class="font-bold font-size-14" v-if="modal.phicemployeededuction">₱[[formatPrice(modal.phicemployeededuction.ee)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Pag-Ibig</label>
                                <br>
                                <span class="font-bold font-size-14" v-if="modal.pagibigemployeededuction">₱[[formatPrice(modal.pagibigemployeededuction.amount)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Tax Due</label>
                                <br>
                                <span class="font-bold font-size-14" v-if="modal.employeetaxdeduction">₱[[formatPrice(modal.employeetaxdeduction.amount)]]</span>
                            </div>

                            <!-- LVL 2 -->
                            <div class="col-3 my-3">
                                <label for="" class="gray">SSS Loans</label>
                                <br>
                                <span class="font-bold font-size-14">₱0.00</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">HDMF Loans</label>
                                <br>
                                <span class="font-bold font-size-14">₱0.00</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Late/Undertime Deductions</label>
                                <br>
                                <span class="font-size-14 font-bold">₱0.00</span>
                            </div>
                        </div>

                        <div class="row earnings py-3" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">
                            <div class="col">
                                <label for="" class="earnings-text">Basic Pay</label>
                                <br>
                                <span class="font-size-18 font-bold">₱[[formatPrice(modal.basicPay)]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="earnings-text">Gross Pay</label>
                                <br>
                                <span class="font-size-18 font-bold">₱[[formatPrice(modal.grossPayAfterBonus)]]</span>
                            </div>
                            <div class="col">
                                <label for="" class="earnings-text">Net Pay</label>
                                <br>
                                <span class="font-size-18 font-bold">₱[[formatPrice(modal.netPayAfterTaxes)]]</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/semi-monthly.js"></script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        
        data: {
            config:{
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            year: '',
            period: '',
            dateRange: '',
            semiMonthPeriod: '',
            yearList: [],

            modal: {
                year: null,
                dateStart: null,
                dateEnd: null,
                dateGenerated: null,
                dateApproved: null,
                bonuspay: [],
                deminimispay: [],
                user: {
                    first_name: null,
                    last_name: null,
                    idUser: null,
                },
                sssemployeededuction: {
                    ee: null,
                    er: null,
                },
                phicemployeededuction: {
                    ee: null,
                    er: null,
                },
                pagibigemployeededuction: {
                    amount: null,
                },
                employeetaxdeduction: {
                    amount: null,
                },
                bh: null,
                ot: null,
                ut: null,
                nd: null,
                ndot: null,
                rd: null,
                rdot: null,
                rdnd: null,
                rdndot: null,
                rh: null,
                rhot: null,
                rhnd: null,
                rhndot: null,
                sh: null,
                shot: null,
                shnd: null,
                shndot: null,
                shw: null,
                shwot: null,
                shwnd: null,
                shwndot: null,
                rhrd: null,
                rhrdot: null,
                rhrdnd: null,
                rhrdndot: null,
                shrd: null,
                shrdot: null,
                shrdnd: null,
                shrdndot: null,

                bhTotalHours: null,
                otTotalHours: null,
                utTotalHours: null,
                ndTotalHours: null,
                ndotTotalHours: null,
                rdTotalHours: null,
                rdotTotalHours: null,
                rdndTotalHours: null,
                rdndotTotalHours: null,
                rhTotalHours: null,
                rhotTotalHours: null,
                rhndTotalHours: null,
                rhndotTotalHours: null,
                shTotalHours: null,
                shotTotalHours: null,
                shndTotalHours: null,
                shndotTotalHours: null,
                shwTotalHours: null,
                shwotTotalHours: null,
                shwndTotalHours: null,
                shwndotTotalHours: null,
                rhrdTotalHours: null,
                rhrdotTotalHours: null,
                rhrdndTotalHours: null,
                rhrdndotTotalHours: null,
                shrdTotalHours: null,
                shrdotTotalHours: null,
                shrdndTotalHours: null,
                shrdndotTotalHours: null,

                basicPay: null,
                grossPayBeforeBonus: null,
                grossPayAfterBonus: null,
                netPayBeforeTaxes: null,
                netPayAfterTaxes: null,
            }
        },

        methods: {
            onload(){
                axios.get('/year-api/')
                .then(res=>this.yearList=res.data)
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        icon: "error",
                        html: err.message
                    })
                })
            },
            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                day = days[value.getDay()]
                formatted = `${day} - ${month}. ${date}, ${year}`

                return formatted
            },
            fetchPayroll(id){
                axios.get(`/api/complex-payroll/${id}/`)
                .then(res=>{
                    this.modal = res.data
                    console.log(this.modal)
                })
            },
            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                day = days[value.getDay()]
                formatted = `${month}. ${date}, ${year}`

                return formatted
            },
            
            setSemiMonthPeriod(){
                console.log(this.year)
                if (this.period == 'semi'){
                    this.semiMonthPeriod = semi_months(this.year)
                }
                else if(this.period == 'monthly'){
                    console.log(this.year)
                    this.semiMonthPeriod = months(this.year)
                }
            },

            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            roundNumber1(value) {
                let val = (value/1).toFixed(1).replace(',', '.')
                return val
            },

            setDate(){
                if (this.year && this.period && this.dateRange){
                    location.href=`/ems-payroll/?year=${this.year}&period=${this.period}&dateRange=${this.dateRange}`
                } else {
                    Swal.fire({
                        title: "Fill up all the inputs.",
                        icon: 'error',
                    })
                }
            },
            approveAll(){
                Swal.fire({
                    confirmButtonText: 'I am sure.',
                    showCancelButton: true,
                    title: 'Approve All Listed Payroll?',
                    icon: 'warning',
                    html: "Are you sure you want to approve all listed payroll for this time period?",
                })
                .then(result=>{
                    if(result.isConfirmed){
                        Swal.fire({
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">Approving Payroll . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                        })
                        if (this.year && this.period && this.dateRange){
                            location.href=`/ems-payroll-approval-all/?year=${this.year}&period=${this.period}&dateRange=${this.dateRange}`
                        } else {
                            Swal.fire({
                                title: "Fill up all the inputs.",
                                icon: 'error',
                            })
                        }
                    }
                })
            },
            confirmPayroll(){
                if (this.year && this.period && this.dateRange){
                    Swal.fire({
                        confirmButtonText: 'I am sure.',
                        showCancelButton: true,
                        title: 'Generate payroll?',
                        icon: 'warning',
                        html: `Are you sure you want to generate a payroll for this time period? <br/><br/> <b>${this.formatDate(this.dateRange.split(' ')[0])}</b> - <b>${this.formatDate(this.dateRange.split(' ')[1])}</b>`
                    })
                    .then(result=>{
                        if(result.isConfirmed){
                            Swal.fire({
                                showConfirmButton: false,
                                allowOutsideClick: false,
                                html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">Generating Payroll . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                            })
                            axios.post('/ems-generate-payroll/', [this.year, this.period, this.dateRange], this.config)
                            .then(res=>{
                                res.data==0?location.reload():''
                            })
                        }
                    })
                } else {
                    Swal.fire({
                        title: "No Time Period Set.",
                        icon: 'error',
                        html: 'Set the time period first.'
                    })
                }
                
            },
        },
        mounted(){
            this.onload()
            let params = new URLSearchParams(location.search);
            this.year = params.get('year') ? params.get('year') : ''
            this.dateRange = params.get('dateRange') ? params.get('dateRange').replace('%', ' ') : ''
            this.period = params.get('period') ? params.get('period') : ''
            this.semiMonthPeriod = semi_months(this.year)
        }
    })
</script>

{% endblock %}