{% extends 'base-template.html' %}
{% block title %} EMS | Raise History {% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-employees" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-employees/" class="mx-2">Employees</a>
                <a href="/ems-raise-history/" class="active-ems mx-2">Raise</a>
                <a href="/ems-employee-evaluation/" class="mx-2">Evaluation</a>
            </div>
        </div>

        <!-- TITLE -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Employee Raise History</span>
        </div>

        <!-- BUTTONS -->
        <div class="d-flex align-items-center mb-3 justify-content-end">
            <div class="form-inline">
                <div class="form-group">
                    <label for="" class="mx-1">Period</label>
                    <select class="form-control mx-1">
                        <option value="" selected disabled>Select Year</option>
                        <option v-for="year in yearList" :value="year">[[year]]</option>
                    </select>
                    <select class="form-control mx-1">
                        <option value="" selected disabled>Select Period</option>
                    </select>
                    <select class="form-control mx-1">
                        <option value="" selected disabled>Date Range</option>
                    </select>
                    <button class="mx-1 btn btn-warning btn-sm">
                        Set
                    </button>
                </div>
            </div>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="gray">
                <th>Date</th>
                <th>Employee Name</th>
                <th>Previous Daily Rate</th>
                <th>Current Daily Rate</th>
            </thead>
            <tbody>
                <tr>
                    <td>Mar. 12, 2021</td>
                    <td>Clark Kent</td>
                    <td>₱420.00</td>
                    <td>₱580.00</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app"
    })
</script>

{% endblock %}