{% extends 'base-template.html' %}
{% block title %}EMS | Employee DTR{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-ems active="nav-dtr" photo="/static/media/{{request.user.image}}"></navbar-ems>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODy -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links ems-nav">
                <a href="/ems-my-dtr/" class="mx-2">My DTR</a>
                <a href="/ems-employee-dtr/" class="active-ems mx-2">Employee DTR</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Employee DTR</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="gray">
                <th>Employee</th>
                <th>Status Today</th>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td @click="fetchUser('{{employee.pk}}')" class="link" data-toggle="modal" data-target="#modal">{{employee.first_name}} {{employee.last_name}}</td>
                    {% now 'M j, Y' as current_date %}
                    {% if employee.dtr.all.0.date|date:'M j, Y' == current_date %}
                    <td>Present</td>
                    {% else %}
                    <td>Not Present</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- MODAL -->
        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="row my-2">
                            <!-- LVL 1 -->
                            <div class="col-6 my-3">
                                <label for="" class="gray">Employee Name</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.first_name]] [[modal.last_name]]</span>
                            </div>
                        </div>

                        <!-- DTR CARDS -->
                        <div class="row my-2">
                            <div class="col">
                                <span class="font-bold gray">DTR</span>
                            </div>
                        </div>

                        <!-- DTR TABLE -->
                        <div class="row">
                            <table id="dtrTable" class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th class="px-3"><span class="font-bold gray">Date</span></th>
                                    <th><span class="font-bold gray">Time-In</span></th>
                                    <th><span class="font-bold gray">Time-Out</span></th>
                                </thead>
                                <tbody>
                                    <tr v-for="dtr in modal.dtr.slice(0, 25)">
                                        <td class="px-3">[[formatDate(dtr.date)]]</td>
                                        <td>[[formatTime(dtr.dateTimeIn)]]</td>
                                        <td>[[formatTime(dtr.dateTimeOut)]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            modal: {
                first_name: null,
                last_name: null,
                iduser: null,
                dtr: [{
                    dateTimeIn: null,
                    dateTimeOut: null,
                    date: null,
                }]
            }
        },

        methods: {
            fetchUser(id){
                axios.get(`/api/user-w-dtr/${id}`)
                .then(res=>{
                    this.modal = res.data
                })
            },

            getDAY(value){
                value = new Date(value)
                return value.getDay()
            },

            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },

            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                day = days[value.getDay()]
                formatted = `${month}. ${date}, ${year} - ${day}`

                return formatted
            },

            formatTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${hour}:${minute} ${meridian}`

                return formatted
            }
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}