{% extends 'base-template.html' %}
{% block title %} HTML TO EXCEL - PROTOTYPE {% endblock %}

{% block header_scripts %}
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
{% endblock %}

{% block body %}

<div id="app" class="container" v-cloak>
    <table id="table" class="table table-borderless table-sm box-shadow-medium mt-2 mb-3">
        <tr>
            <td colspan="5">Mansei</td>
            <td colspan="2">DR-2000</td>
        </tr>
        <tr>
            <td colspan="5">MANSEI TECHNO PHILS. CORP.</td>
            <td colspan="2">Jan. 1, 2021</td>
        </tr>
        <tr>
            <td colspan="7">Blk. G-1 Subic Techno Park, Boton Area</td>
        </tr>
        <tr>
            <td colspan="7">Subic Bay Freeport Zone.</td>
        </tr>
        <tr>
            <td colspan="7">Tel. No. (6347) 250-2698</td>
        </tr>
        <tr>
            <td colspan="7" class="text-center"><b>LOADING SLIP(DR)</b></td>
        </tr>
        <tr>
            <td colspan="1"><b>BUYER:</b></td>
            <td colspan="6">Mike's Lumbermill</td>
        </tr>
        <tr>
            <td colspan="1"><b>PURPOSE:</b></td>
            <td colspan="6">?</td>
        </tr>
        
        <th class="border">ITEM</th>
        <th class="border">L</th>
        <th class="border">W</th>
        <th class="border">T</th>
        <th class="border">QTY</th>
        <th class="border">TOTAL OUT</th>
        <th class="border">REMARKS</th>

        <tbody>
            <tr class="border">
                <td class="border">LVL</td>
                <td class="border">2000</td>
                <td class="border">100</td>
                <td class="border">50</td>
                <td class="border">71</td>
                <td class="border"></td>
                <td class="border"></td>
            </tr>

            <tr>
                <td colspan="2"><b>PREPARED BY:</b></td>
                <td colspan="5">ME</td>
            </tr>
            <tr>
                <td colspan="2"><b>CONFIRMED BY:</b></td>
                <td colspan="5">ME</td>
            </tr>
            <tr>
                <td colspan="2"><b>RECEIVED  BY:</b></td>
                <td colspan="5">ME</td>
            </tr>
        </tbody>
    </table>
    <button onclick="ExportToExcel('xlsx')">Export table to excel</button>
</div>

{% endblock %}

{% block scripts %}

<script>

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('table');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }

</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app"
    })
</script>

{% endblock %}