{% extends "base-template.html" %}
{% block title %}Income Statement{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-gas active="nav-reports" photo="/static/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>

    <!-- MAIN BODY -->
    <div class="container">

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Income Statement</span>
        </div>

        <div class="row">
            <div class="col-12 my-0">
                <label for="">Select Date Range</label>
            </div>
            <div class="col-12">
                <input v-model="startDate" type="date" class="form-control d-inline-block" style="width: 200px;">
                <input v-model="endDate" type="date" class="form-control d-inline-block" style="width: 200px;">
                <button class="btn btn-warning d-inline-block" @click="setDate()">Set</button>
            </div>
        </div>

        <!-- TABLE -->
        <div class="container my-2 px-4 py-3 b-radius-15 box-shadow-medium border">


            <!-- REVENUE -->
            <div v-if="incomeStatement != null">
                <!-- TITLE -->
                <div class="row">
                    <div class="col">
                        <span class="font-size-18 font-bold">Revenue</span>
                    </div>
                </div>
                <!-- END TITLE -->

                <!-- PARENT CONTAINER -->
                <div v-for="(value, key, index) in incomeStatement" v-if="typeof value != 'string' && includes(key, 'Revenue') || includes(key, 'Sales')">
                    <div class="row my-2">
                        <div class="col-10">
                            <span class="font-semibold no-decoration ml-4"></i> [[key]]</span>
                        </div>
                        <div class="col-2 text-right">
                            <span class="font-semibold">₱[[formatPrice(value.amount)]]</span>
                        </div>
                        <div class="col">
                            <hr class="my-0 ml-4">
                        </div>
                    </div>
                    <!-- END SUB GROUP CONTAINER -->
                </div>
                <!-- END PARENT CONTAINER -->

                <!-- TOTAL GROSS INCOME CONTAINER -->
                <div class="row">
                    <div class="col-10">
                        <span class="font-bold font-size-14">Gross Income</span>
                    </div>
                    <div class="col-2 text-right">
                        <span class="font-bold font-size-14" v-if="incomeStatement != null">₱[[formatPrice(this.incomeStatement.grossIncome)]]</span>
                    </div>
                </div>

            </div>

            <!-- EXPENSES -->
            <div v-if="incomeStatement != null">
                <!-- TITLE -->
                <div class="row">
                    <div class="col">
                        <span class="font-size-18 font-bold">Expenses</span>
                    </div>
                </div>
                <!-- END TITLE -->

                <!-- PARENT CONTAINER -->
                <div v-for="(value, key, index) in incomeStatement" v-if="typeof value != 'string' && includes(key, 'Expenses') || includes(key, 'Expense')">
                    <div class="row my-2">
                        <div class="col-10">
                            <span class="font-semibold no-decoration ml-4"></i> [[key]]</span>
                        </div>
                        <div class="col-2 text-right">
                            <span class="font-semibold">₱[[formatPrice(value.amount)]]</span>
                        </div>
                        <div class="col">
                            <hr class="my-0 ml-4">
                        </div>
                    </div>
                </div>
                <!-- END PARENT CONTAINER -->

                <!-- TOTAL TOTAL EXPENSES CONTAINER -->
                <div class="row">
                    <div class="col-10">
                        <span class="font-bold font-size-14">Total Expenses</span>
                    </div>
                    <div class="col-2 text-right">
                        <span class="font-bold font-size-14" v-if="incomeStatement != null">₱[[formatPrice(this.incomeStatement.cost)]]</span>
                    </div>
                </div>

                <!-- NET PROFIT CONTAINER -->
                <div class="row font-size-18 font-extrabold">
                    <div class="col-10">
                        <span class="font-bold">Net Profit Before Tax</span>
                    </div>
                    <div class="col-2 text-right">
                        <span class="font-bold" v-if="incomeStatement != null">₱[[formatPrice(this.incomeStatement.netProfit)]]</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <pre>[[$data]]</pre>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            startDate: null,
            endDate: null,

            incomeStatement: {}
        },

        methods: {
            onload(){
                this.startDate = '{{startDate|date:"Y-m-d"}}'
                this.endDate = '{{endDate|date:"Y-m-d"}}'

                message = "Fetching Data"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
                axios.get(`/income-statement-request/?startDate=${this.startDate}&endDate=${this.endDate}`)
                .then(res=>{
                    this.incomeStatement = res.data
                    Swal.close()
                    // CALCULATIONS OF TOTALS
                    this.incomeStatement.grossIncome = 0
                    Object.keys(this.incomeStatement).forEach((key, index, val)=>{
                        if(key.toLowerCase().includes('sales') || key.toLowerCase().includes('revenue')){
                            this.incomeStatement.grossIncome += Number(this.incomeStatement[key].amount)
                        }
                    })

                    this.incomeStatement.cost = 0
                    Object.keys(this.incomeStatement).forEach((key, index, val)=>{
                        if(key.toLowerCase().includes('expense') || key.toLowerCase().includes('expenses')){
                            this.incomeStatement.cost += Number(this.incomeStatement[key].amount)
                        }
                    })
                    this.incomeStatement.netProfit = this.incomeStatement.grossIncome - this.incomeStatement.cost
                })


                
            }, 
            includes(string, substring){
                return true?(string.toLowerCase()).includes(substring.toLowerCase()):false
            },
            formatPrice(value) {
                if (this.roundToggle){
                    return value
                } else {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },
            setDate(){
                location.href=`/income-statement/?startDate=${this.startDate}&endDate=${this.endDate}`
            },

            addNumber(){
                var sum = Number(0)
                for (var i = 0; i < arguments.length; i++){
                    sum += Number(arguments[i])
                }
                return Number(sum)
            }
        },
        mounted(){
            this.onload()
        }
    })
</script>

{% endblock %}