{% extends "base-template.html" %}
{% block title %}Inward Inventory{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION -->
    <navbar-gas active="nav-purchase" photo="/media/{{request.user.image}}"></navbar-gas>
    <app-card></app-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/inward-inventory/" class="active-gas mx-2">List</a>
                <a href="/inward-adjustments/" class="mx-2">Adjustments</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Inward Inventory</span>
        </div>

        <!-- TABLE -->
        <table  id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>II Code</th>
                <th>Date of Transfer</th>
                <th>Total Amount Due</th>
                <th>Adjustment Status</th>
                <th>Date Adjusted</th>
                <th>Approval Status</th>
                <th>Date Approved</th>
            </thead>
            <tbody>
                {% for item in request.user.branch.inwardInventory.all %}
                <tr>
                    <td @click="viewModal({{item.pk}})" class="link" data-toggle="modal" data-target="#orderModal">{{item.code}}</td>
                    <td>{{item.dateInward}}</td>
                    <td>₱[[formatPrice({{item.amountTotal}})]]</td>
                    {% if item.adjusted %}
                    <td class="active-gas">Adjusted</td>
                    {% else %}
                    <td class="pending">Pending</td>
                    {% endif %}
                    <td>{{item.datetimeAdjusted}}</td>
                    {% if item.approved %}
                    <td class="approved">Approved</td>
                    {% else %}
                    <td class="pending">Pending</td>
                    {% endif %}
                    <td>{{item.datetimeApproved}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- IMPORT MODAL -->
        <div class="modal fade" id="import">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15 px-3 pt-2">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Import Inward Inventory</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/import-inwardinventory/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <label for="">Select Excel file</label>
                                    <br>
                                    <input type="file" name="excel" accept=".xls,.xlsx,.csv" required>
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="">Date Inward</label>
                                    <input type="date" name="dateInward" class="form-control">
                                </div>
                                <div class="col-12 mt-4">
                                    <button type="submit" class="btn btn-primary col">Import</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- VIEW MODAL -->
        <div class="modal fade" id="orderModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL 1 -->
                            <div class="col-3 mt-3">
                                <label for="" class="gray">II Code</label>
                                <br>
                                <span class="font-size-14 font-bold">[[order.code]]</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Adjustment Status</label>
                                <br>
                                <span class="font-size-14 font-bold active-gas" v-if="order.adjusted">Adjusted</span>
                                <span class="font-size-14 font-bold pending" v-else>Pending</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Date of Adjustment</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDateTime(order.datetimeApproved)]]</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Adjusted By</label>
                                <br>
                                <span class="font-size-14 font-bold"></span>
                            </div>

                            <!-- LVL 2 -->
                            <div class="col-3 my-3">
                                <label for="" class="gray">Date of Transfer</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDate(order.dateInward)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Approval Status</label>
                                <br>
                                <span class="font-size-14 font-bold approved" v-if="order.approved">Approved</span>
                                <span class="font-size-14 font-bold pending" v-else>Pending</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Date of Approval</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDateTime(order.datetimeApproved)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Approved By</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="order.approveBy!=null">[[order.approvedBy.first_name]] [[order.approvedBy.last_name]]</span>
                            </div>

                            <!-- LVL 3 -->
                            <div class="col-3 mb-3">
                                <label for="" class="gray">Total Amount Due</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(order.amountTotal)]]</span>
                            </div>
                        </div>

                        <!-- II ITEMS -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">Inward Inventory Items</span>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-borderless table-sm table-striped">
                                <thead>
                                    <th><span class="font-bold gray">Bardcode</span></th>
                                    <th><span class="font-bold gray">Product Mark</span></th>
                                    <th><span class="font-bold gray">Length</span></th>
                                    <th><span class="font-bold gray">Width</span></th>
                                    <th><span class="font-bold gray">Thickness</span></th>
                                    <th><span class="font-bold gray">Vol</span></th>
                                    <th><span class="font-bold gray">Qty</span></th>
                                    <th><span class="font-bold gray">Amount</span></th>
                                    <th><span class="font-bold gray">Total Amount</span></th>
                                </thead>
                                <tbody>
                                    <tr v-for="item in order.iiitemsmerch">
                                        <td>[[item.code]]</td>
                                        <td>[[item.productMark]]</td>
                                        <td>[[item.length]]mm</td>
                                        <td>[[item.width]]mm</td>
                                        <td>[[item.thicc]]mm</td>
                                        <td>[[item.vol]]m³</td>
                                        <td>[[item.qty]]</td>
                                        <td>₱[[formatPrice(item.amount)]]</td>
                                        <td>₱[[formatPrice(item.totalCost)]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- ADJUSTED II ITEMS -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">Adjusted Inward Inventory Items</span>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-borderless table-sm table-striped">
                                <thead>
                                    <th><span class="font-bold gray">Bardcode</span></th>
                                    <th><span class="font-bold gray">Name-Class-Type</span></th>
                                    <th><span class="font-bold gray">Length</span></th>
                                    <th><span class="font-bold gray">Width</span></th>
                                    <th><span class="font-bold gray">Thickness</span></th>
                                    <th><span class="font-bold gray">Vol</span></th>
                                    <th><span class="font-bold gray">Qty</span></th>
                                    <th><span class="font-bold gray">Amount</span></th>
                                    <th><span class="font-bold gray">Total Amount</span></th>
                                </thead>
                                <tbody>
                                    <tr v-for="item in order.adjusted">
                                        <td>[[item.code]]</td>
                                        <td>[[item.name]]-[[item.classification]]-[[item.type]]</td>
                                        <td>[[item.length]]mm</td>
                                        <td>[[item.width]]mm</td>
                                        <td>[[item.thicc]]mm</td>
                                        <td>[[item.vol]]m³</td>
                                        <td>[[item.qty]]</td>
                                        <td>₱[[formatPrice(item.amount)]]</td>
                                        <td>₱[[formatPrice(item.totalCost)]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="/inward-adjustments/">Go to Adjustments</a>
                        <a href="/ii-nonapproved/" class="ml-3">Go to Approvals</a>
                    </div>
                </div>
            </div>
        </div>
        <pre>[[$data]] </pre>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            order: {
                code: null,
                dateInward: null,
                datetimeApproved: null,
                datetimeAdjusted: null,
                adjusted: null,
                approved: null,
                createdBy: {
                    first_name: null,
                    last_name: null,
                },
                approvedBy: {
                    first_name: null,
                    last_name: null,
                },
                iitemsmerch: [{
                    code: null,
                    name: null,
                    classification: null,
                    type: null,
                    length: null,
                    width: null,
                    thickness: null,
                    vol: null,
                    qty: null,
                    amount: null,
                    amountTotal: null,
                }],
                iiadjusteditems: [{
                    code: null,
                    name: null,
                    classification: null,
                    type: null,
                    length: null,
                    width: null,
                    thickness: null,
                    vol: null,
                    qty: null,
                    amount: null,
                    totalCost: null,
                }]
            }
        },

        methods: {
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },
            viewModal(id){
                axios.get(`/api/inward-inventory/${id}`)
                .then(res=>this.order=res.data)
            },
            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                formatted = `${month}. ${date}, ${year}`

                return formatted
            },
            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: "RAW",
                    className: 'btn btn-table font-size-10',
                    titleAttr: 'View Raw Numbers',
                    action: function(){
                        app.roundToggler()
                    }
                },
                {
                    text: `<i class="fas fa-file-import"></i>`,
                    className: 'btn btn-table',
                    titleAttr: 'Import',
                    action: function(){
                        $("#import").modal('show')
                    }
                },
                {
                    text: `<i class="fas fa-file-download"></i>`,
                    className: 'btn btn-table text-success',
                    titleAttr: 'Download Excel Template',
                    action: function(){
                        location.href="/static/files/inward-template.xlsx"
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}