{% extends "base-template.html" %}
{% block title %}Payment Vouchers{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-purchase" photo="/media/{{request.user.image}}"></navbar-gas>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Payment Voucher</span>
        </div>

        <!-- TABLE -->
        <table  id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>PV Code</th>
                <th>Vendor</th>
                <th>Amount</th>
                <th>Created By</th>
                <th>Approval Status</th>
                <th>Datetime Approved</th>
            </thead>
            <tbody>
                {% for item in request.user.branch.paymentVoucher.all %}
                <tr>
                    <td @click="getPO2({{item.pk}})" class="link" data-toggle="modal" data-target="#pvModal">{{item.code}}</td>
                    {% if item.purchaseOrder %}
                    <td>{{item.purchaseOrder.party.name}}</td>
                    {% else %}
                    <td>{{item.inwardInventory.party.name}}</td>
                    {% endif %}
                    <td>₱[[formatPrice({{item.amountPaid}})]]</td>
                    <td>{{item.createdBy.first_name}} {{item.createdBy.last_name}}</td>
                    {% if item.approved %}
                    <td><span class="approved">Approved</span></td>
                    {% else %}
                    <td><span class="pending">Pending</span></td>
                    {% endif %}
                    <td>{{item.datetimeApproved}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="pvModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL 1 -->
                            <div class="col-4 mt-3">
                                <label for="" class="gray">PV Code</label><br>
                                <span class="font-size-14 font-bold">[[pvModal.code]]</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Status</label><br>
                                <span class="font-size-14 font-bold approved" v-if="pvModal.approved">Approved</span>
                                <span class="font-size-14 font-bold pending" v-else>Pending</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Created By</label><br>
                                <span class="font-size-14 font-bold">[[pvModal.createdBy.first_name]] [[pvModal.createdBy.last_name]]</span>
                            </div>
                            <!-- LVL 2 -->
                            <div class="col-4 my-3">
                                <label for="" class="gray">Date Created</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDateTime(pvModal.datetimeCreated)]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Approved By</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="pvModal.approvedBy != null">[[pvModal.approvedBy.first_name]] [[pvModal.approvedBy.last_name]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Date Approved</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="pvModal.datetimeApproved != null">[[formatDateTime(pvModal.datetimeApproved)]]</span>
                            </div>
                        </div>

                        <!-- MIDDLE CARD -->
                        <div class="order-card row my-2">
                            <div class="col-4 mt-3">
                                <label for="" class="gray">PO Code</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="pvModal.purchaseOrder != null">[[pvModal.purchaseOrder.code]]</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Vendor</label>
                                <br>
                                <span class="font-size-14 font-bold" v-if="pvModal.purchaseOrder != null">[[pvModal.purchaseOrder.party.name]]</span>
                            </div>
                            <div class="col-4 mt-3">
                                <label for="" class="gray">Amount Paid</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(pvModal.amountPaid)]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Amount Withheld</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(pvModal.wep)]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Payment Method</label>
                                <br>
                                <span class="font-size-14 font-bold">[[pvModal.paymentMethod]]</span>
                            </div>
                            <div class="col-4 my-3">
                                <label for="" class="gray">Payment Period</label>
                                <br>
                                <span class="font-size-14 font-bold">[[pvModal.paymentPeriod]]</span>
                            </div>
                        </div>

                        <!-- PO ITEMS -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">PO Items</span>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <th><span class="font-bold gray">Type</span></th>
                                    <th><span class="font-bold gray">Item Code - Item Classifcation</span></th>
                                    <th><span class="font-bold gray">Qty</span></th>
                                    <th><span class="font-bold gray">Amount</span></th>
                                    <th><span class="font-bold gray">Total Amount</span></th>
                                </thead>
                                <tbody v-if="pvModal.purchaseOrder != null">
                                    <tr v-for="item in pvModal.purchaseOrder.poitemsmerch">
                                        <td>Merchandise</td>
                                        <td>[[item.merchInventory.code]] - [[item.merchInventory.classification]] [[item.merchInventory.type]]</td>
                                        <td>[[item.qty]]</td>
                                        <td>₱[[formatPrice(item.purchasingPrice)]]</td>
                                        <td>₱[[formatPrice(item.totalPrice)]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" v-if="!pvModal.approved">
                            <div class="col">
                                <button class="col btn btn-primary" @click="approvePV([[pvModal.id]])">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addPV">
            <div class="modal-dialog modal-lg">
                <div class="modal-content b-radius-15 px-3 py-2">
                    <div class="modal-body">
                        <div class="mb-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="modal-title">Create Payment Voucher</span>
                                <div class="form-group d-flex align-items-center">
                                    <input v-model="create.selectType" value="PO" type="radio" name='rad'>
                                    <label for="">Purchase Order</label>
                                    &nbsp;
                                    <input v-model="create.selectType" value="II" type="radio" name="rad">
                                    <label for="">Inward Inventory</label>
                                </div>
                            </div>
                        </div>

                        <!-- DEFAULT INVOICE -->
                        <div id="default">
                            <!-- START -->
                            <div class="row">
                                <div class="col col-3 pr-2">
                                    <div class="form-group">
                                        <label for="">Reference No.</label>
                                        <input v-model="create.code" type="text" class="form-control" placeholder="Enter Reference No.">
                                    </div>
                                </div>
                                <div class="col col-3 px-2">
                                    <div class="form-group">
                                        <label for="">Date</label>
                                        <input v-model="create.date" type="date" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col col-3 px-2">
                                    <div class="form-group">
                                        <label for="">Retroactive <span class="font-size-10 gray">optional</span></label>
                                        <input v-model="create.retroactive" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-3 pl-2">
                                    <div class="form-group" v-if="create.selectType == 'PO'">
                                        <label for="">Select PO</label>
                                        <select @change="getPO(create.poCode)" v-model="create.poCode" class="form-control">
                                            <option value="" disabled selected>Select PO</option>
                                            {% for item in po reversed %}
                                            <option value="{{item.pk}}">{{item.code}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group" v-else-if="create.selectType == 'II'">
                                        <label for="">Select II</label>
                                        <select @change="getII(create.iiCode)" v-model="create.iiCode" class="form-control">
                                            <option value="" disabled selected>Select II</option>
                                            {% for item in request.user.branch.inwardInventory.all reversed %}
                                            <option value="{{item.pk}}">{{item.code}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- ORDER CARD -->
                            <div class="order-card py-3" style="margin-left: -32px; margin-right: -32px; padding-left: 32px; padding-right: 32px">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="gray">Cash Payment Due</label><br>
                                        <span class="font-size-14 font-bold">₱[[roundNumber2(create.po.runningBalance)]]</span>
                                    </div>
                                    <div class="col-4">
                                        <label class="gray">To be Withheld</label><br>
                                        <span class="font-size-14 font-bold">₱[[roundNumber2(create.po.wep)]]</span>
                                    </div>
                                    <div class="col-4">
                                        <label class='gray'>Vendor</label><br>
                                        <span class="font-size-14 font-bold">[[create.po.party.name]]</span>
                                    </div>
                                    <div class="col-4">
                                        <label class="gray">ATC Code</label><br>
                                        <span class="font-size-14 font-bold">[[create.po.atc.code]]</span>
                                    </div>
                                    <div class="col-4">
                                        <label for="" class="gray">ATC Rate</label><br>
                                        <span class="font-size-14 font-bold">[[create.po.atc.rate*100]]%</span>
                                    </div>
                                    <div class="col-4">
                                        <label for="" class="gray">VAT Rate</label><br>
                                        <span class="font-size-14 font-bold">[[create.po.taxRate]]%</span>
                                    </div>
                                    <div class="col-4">
                                        <label for="" class="gray">Due Date</label><br>
                                        <span class="font-size-14 font-bold">[[create.po.dueDate]]</span>
                                    </div>
                                </div>
                                <a href="#" @click="roundToggler()">Show Raw Numbers</a>
                            </div>

                            <!-- PAYMENT METHOD -->
                            <div class="row my-2">
                                <div class="col-6 pr-2">
                                    <div class="form-group">
                                        <label for="">Payment Method</label>
                                        <select v-model="create.paymentMethod" name="" id="" class="form-control">
                                            <option value="" selected disabled>Choose Payment Method</option>
                                            <option value="{{request.user.branch.branchProfile.branchDefaultChildAccount.cashOnHand.name}}">{{request.user.branch.branchProfile.branchDefaultChildAccount.cashOnHand.name}}</option>
                                            {% for item in request.user.branch.branchProfile.branchDefaultChildAccount.cashInBank.all%}
                                            <option value="{{item.name}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col ml-2 my-2 form-check form-check-inline">
                                    <input v-model="create.paymentPeriod" value="Full Payment" name="radios" type="radio" class="form-check-input">
                                    <label class="form-check-label">Full Payment</label>
                                </div>
                                <div class="col my-2 form-check form-check-inline">
                                    <input v-model=create.paymentPeriod value="Partial Payment" name="radios" type="radio" class="form-check-input">
                                    <label class="form-check-label">Partial Payment</label>
                                </div>
                                <div class="col-6 pr-2">
                                    <div class="form-group">
                                        <label for="">Amount Withheld</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₱</span>
                                            </div>
                                            <input :value="formatPrice(create.wep)" type="text" class="form-control box-shadow-off" style="margin-top: 0px" onkeypress="validate()" placeholder="Enter Amount Withheld" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pl-2">
                                    <div class="form-group">
                                        <label for="">Cheque No.</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <input v-model="create.chequeNo" type="text" class="form-control box-shadow-off" style="margin-top: 0px" placeholder="Leave blank if applicable">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">Amount Paid</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">₱</span>
                                            </div>
                                            <input v-model="create.amountPaid" type="text" class="form-control box-shadow-off" style="margin-top: 0px" onkeypress="validate()" placeholder="Enter Amount Paid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">Description</label>
                                        <textarea v-model="create.description" cols="30" rows="2" class="form-control" placeholder="Enter Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button @click="checkForm()" class="col btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre>[[$data]]</pre>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",

        data: {
            config: {
				headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
			},
            pvModal:{
                code: null,
                approved: null,
                approved: null,
                createdBy: {
                    first_name: null,
                    last_name: null,
                },
                datetimeCreated: null,
                approvedBy: {
                    first_name:null,
                    last_name: null,
                },
                datetimeApproved: null,
                purchaseOrder: {
                    code: null,
                    party: {
                        name: null,
                    },
                    poitemsmerch: []
                },
                amountPaid: null,
                paymentMethod: null,
                paymentPeriod: null,
                wep:null
            },
            create: {
                selectType: 'PO',
                code: '{{new_code}}',
                date: new Date().toISOString().split('T')[0],
                retroactive: null,
                iiCode: '',
                poCode: '',
                po: {
                    code: null,
                    runningBalance: null,
                    wep: null,

                    party: {
                        name: null,
                    },
                    atc: {
                        code: null,
                        rate: null,
                    },
                    taxRate: null,
                    dueDate: null,
                },
                paymentMethod: '',
                paymentPeriod: null,
                chequeNo: null,
                wep: null,
                amountPaid: null,
                description: null
            },
            voucherToggle: false,
            roundToggle: false,
            errors: []
        },

        computed:{
            amountPaid(){
                return this.create.amountPaid
            },
            paymentPeriod(){
                return this.create.paymentPeriod
            }
        },

        watch: {
            amountPaid(){
                this.create.wep = Number(this.create.amountPaid/((1+(this.create.po.taxRate/100)-(this.create.po.atc.rate)))) * (this.create.po.atc.rate)
                if (Number(this.create.amountPaid).toFixed(2) == Number(this.create.po.runningBalance).toFixed(2)){
                    this.create.paymentPeriod = 'Full Payment'
                } else {
                    this.create.paymentPeriod = 'Partial Payment'
                }
            },
            paymentPeriod(){
                this.paymentPeriod == 'Full Payment'?this.create.amountPaid=this.create.po.runningBalance:''
            }
        },
        
        methods: {
            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },
            changeModalBody(){
                var body = {
                    custom: document.getElementById('custom'),
                    default: document.getElementById('default'),
                }

                if(this.voucherToggle){
                    body.custom.style.display = 'block'
                    body.default.style.display = 'none'
                } else {
                    body.custom.style.display = 'none'
                    body.default.style.display = 'block'
                }
            },
            getPO(id){
                axios.get(`/api/purchase-order/${id}/`)
                .then(res=>{
                    console.log(res.data)
                    var item = res.data
                    console.log(item.party.name)
                    this.create.po.code = item.id
                    this.create.po.runningBalance = item.runningBalance
                    this.create.po.wep = item.poatc[0].amountWithheld
                    this.create.po.party = item.party
                    this.create.po.atc.code = item.poatc[0].code.code
                    this.create.po.atc.rate = Number(item.poatc[0].code.rate).toFixed(2)
                    this.create.po.taxRate = Number(item.taxRate).toFixed(0)
                    this.create.po.dueDate = item.dueDate

                })
            },
            getII(id){
                axios.get(`/api/inward-inventory-basic/${id}/`)
                .then(res=>{
                    var item = res.data
                    this.create.po.code = item.id
                    this.create.po.runningBalance = item.runningBalance
                    this.create.po.party = item.party
                })
            },
            checkForm(){
                if (
                    this.create.paymentMethod &&
                    this.create.paymentPeriod &&
                    this.create.amountPaid
                ) {
                    this.submit()
                    return
                }

                this.errors = []
                if(!this.create.paymentMethod){
                    this.errors.push("Payment Method Required")
                }
                if(!this.create.paymentPeriod){
                    this.errors.push("Payment Method Required")
                }
                if(!this.create.amountPaid){
                    this.errors.push("Amount Paid Required")
                }

                Swal.fire({
                    title: "Unfilled Inputs",
                    html: this.errors.join('<br>'),
                    icon: 'warning'
                })
            },
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },
            roundNumber2(value) {
                if (this.roundToggle){
                    return value
                } else {
                    let val = (value/1).toFixed(3).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },
            roundToggler(){
                this.roundToggle = !this.roundToggle
            },
            submit(){
                axios.post('/save-payment-voucher/', this.create, this.config)
                .then(res=>res.data==0?location.reload():'')
            },
            getPO2(id){
                axios.get(`/api/payment-voucher/${id}/`)
                .then(res=>this.pvModal=res.data)
            },
            approvePV(id){
                axios.put(`/pv-approval/${id}/`, this.create, this.config)
                .then(res=>res.data==0?location.reload():'')
            }
        }
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-plus"></i>',
                    className: 'btn btn-warning btn-table',
                    titleAttr: 'Add Inventory',
                    action: function(){
                        $("#addPV").modal('show')
                    }
                },
                
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: "RAW",
                    className: 'btn btn-table font-size-10',
                    titleAttr: 'View Raw Numbers',
                    action: function(){
                        app.roundToggler()
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}