{% extends "base-template.html" %}
{% block title %}PPE{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAV BAR -->
    <navbar-gas active="nav-ppe" photo="/media/{{request.user.image}}"></navbar-gas>
    <app-card></app-card>
    <notification-card></notification-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- NAV 2 -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/ppe/" class="active-gas mx-2">PPE List</a>
                <a href="/ppe-lapsing-schedule/" class="mx-2">Lapsing Schedule</a>
            </div>
        </div>
        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Plant Property and Equipment</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>PPE Code</th>
                <th>Name</th>
                <th>Type</th>
                <th>Purchase Date</th>
                <th>Purchase Price</th>
                <th>Accum. Depr.</th>
                <th>Book Value</th>
                <th>Useful Life</th>
            </thead>
            <tbody>
                {% for ppe in request.user.branch.ppe.all %}
                <tr>
                    <td @click="fetchPPE({{ppe.pk}})" class="link" data-toggle="modal" data-target="#ppeModal">{{ppe.code}}</td>
                    <td>{{ppe.name}}</td>
                    <td>{{ppe.type}}</td>
                    <td>{{ppe.purchaseDate}}</td>
                    <td>₱[[formatPrice('{{ppe.purchasePrice}}')]]</td>
                    <td>₱[[formatPrice('{{ppe.accumDepr}}')]]</td>
                    <td>₱[[formatPrice('{{ppe.bookValue}}')]]</td>
                    <td>{{ppe.usefulLife}} Years</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="addPPE">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Add PPE</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col pr-1">
                                <div class="form-group">
                                    <label for="">PPE Code</label>
                                    <input type="text" v-model="create.code" class="form-control" placeholder="Enter Code">
                                </div>
                            </div>
                            <div class="col px-1">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" v-model="create.name" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="form-group">
                                    <label for="">Type</label>
                                    <input type="text" v-model="create.type" class="form-control" placeholder="Enter Type">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col pr-1">
                                <div class="form-group">
                                    <label for="">Purchase Date</label>
                                    <input type="date" v-model="create.purchaseDate" class="form-control">
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="form-group">
                                    <label for="">Purchasing Price</label>
                                    <input type="text" v-model="create.purchasePrice" class="form-control" placeholder="Enter Purchasing Price" onkeypress="validate()">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col pr-1">
                                <div class="form-group">
                                    <label for="">Accum. Depreciation</label>
                                    <input type="text" v-model="create.accumDepr" class="form-control" placeholder="Enter Accum. Depr" onkeypress="validate()">
                                </div>
                            </div>
                            <div class="col pl-1">
                                <div class="form-group">
                                    <label for="">Book Value</label>
                                    <input type="text" v-model="create.bookValue" class="form-control" placeholder="Enter Book Value" onkeypress="validate()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Useful Life</label>
                                    <input type="text" v-model="create.usefulLife" class="form-control" placeholder="Enter Years">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary col" @click="addPPE()">Add PPE</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- IMPORT MODAL -->
        <div class="modal fade" id="import">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15 px-3 pt-2 position-relative">
                    <div class="modal-body">
                        <div class="mb-4">
                            <span class="modal-title">Import PPE Items</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/import-ppe/" enctype="multipart/form-data" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <label for="">Select Excel File</label><br>
                                    <input name="excel" type="file" accept=".xls,.xlsx,.csv"><br>
                                </div>
                                <div class="col-12 mt-4">
                                    <button type="submit" class="btn btn-primary col">Import</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ppeModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL 1 -->
                            <div class="col-3 mt-3">
                                <label for="" class="gray">PPE Code</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.code]]</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Name</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.name]]</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Type</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.type]]</span>
                            </div>
                            <div class="col-3 mt-3">
                                <label for="" class="gray">Purchase Date</label>
                                <br>
                                <span class="font-size-14 font-bold">[[formatDate(modal.purchaseDate)]]</span>
                            </div>

                            <!-- LVL 2 -->
                            <div class="col-3 my-3">
                                <label for="" class="gray">Useful Life</label>
                                <br>
                                <span class="font-size-14 font-bold">[[modal.usefulLife]] Years</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Purchase Price</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(modal.purchasePrice)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Accum. Depr.</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(modal.accumDepr)]]</span>
                            </div>
                            <div class="col-3 my-3">
                                <label for="" class="gray">Book Value</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(modal.bookValue)]]</span>
                            </div>

                            <!-- LVL 3 -->
                            <div class="col-12 my-3">
                                <label for="" class="gray">Depreciation Rate</label>
                                <br>
                                <span class="font-size-14 font-bold">₱[[formatPrice(modal.deprRate)]]</span>
                            </div>
                        </div>

                        <!-- HISTORY OF DEPRECIATION -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-extrabold font-size-20 ppe-orange-text">History of Depreciation</span>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th>
                                        <span class="font-bold gray">Date</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Depreciation</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Accumulated</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Book Value</span>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr v-for="item in modal.ppehistoryofdepr">
                                        <td>[[item.date]]</td>
                                        <td>₱[[formatPrice(item.deprAmount)]]</td>
                                        <td>₱[[formatPrice(item.accumDeprAmount)]]</td>
                                        <td>₱[[formatPrice(item.bookValue)]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- HISTORY OF REPAIR AND MAINTENANCE -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-extrabold font-size-20 ppe-orange-text">
                                    History of Repair and Maintenance
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th>
                                        <span class="font-bold gray">Reference No.</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Date</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Damage Description</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Amount</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Capitalized</span>
                                    </th>
                                    <th>
                                        <span class="font-bold gray">Actions</span>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr v-for="item in modal.completionreport">
                                        <td class="link">[[item.code]]</td>
                                        <td>[[item.reportDate]]</td>
                                        <td>[[item.damageDescription]]</td>
                                        <td>₱[[formatPrice(item.totalCost)]]</td>
                                        <td>[[item.capitalized]]</td>
                                        <td><button class="btn btn-sm btn-warning" @click="checkCapitalize(item.id)" v-if="!item.capitalized && item.approved">Capitalize</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
				headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
			},

            modal: {
                code: null,
                name: null,
                type: null,
                purchaseDate: null,
                purchasePrice: null,
                accumDepr: null,
                bookValue: null,
                usefulLife: null,
                deprRate: null,
                
                ppehistoryofdepr: [{
                    date: null,
                    deprAmount: null,
                    accumDeprAmount: null,
                    bookValue: null,
                }],

                repairandmaintenance: [{
                    date: null,
                    description: null,
                    amount: null,
                }]
            },

            create: {
                code: null,
                name: null,
                type: null,
                purchaseDate: null,
                purchasePrice: 0,
                accumDepr: 0,
                bookValue: 0,
                usefulLife: 0,
            }
        },

        methods: {
            fetchPPE(id){
                axios.get(`/api/ppe/${id}/`)
                .then(res=>{
                    this.modal = res.data
                })
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: err.message,
                        icon: 'error',
                        showCancelButton: true,
                        confirmButtonText: "Reload Page",
                        cancelButtonText: "Dismiss"
                    })
                    .then((result) => {
                        if(result.isConfirmed){
                            location.reload()
                        }
                    })
                })
            },

            capitalize(id){
                axios.put(`/cr-capitalize/${id}/`, '', this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{

                    indexOfExceptionLocation = err.response.data.search("Exception Location:")
                    sli = err.response.data.slice(indexOfExceptionLocation, indexOfExceptionLocation+200)
                    exceptionLocation = `${sli.slice(0, sli.search('</td>'))}`

                    indexOfException = err.response.data.search("\"exception_value\"")
                    sl = err.response.data.slice(indexOfException, indexOfException+200)
                    exception = `SERVER ERROR: ${sl.slice(18, sl.search('</pre>'))?sl.slice(18, sl.search('</pre>')):err.response.data} <br><br> ${exceptionLocation}`
                    
                    axios.post('/error-logger/', {
                        message: exception,
                        line: exceptionLocation,
                        url: window.location.href,
                    }, this.config)

                    Swal.fire({
                        title: "Something went wrong",
                        icon: "error",
                        html: exception
                    })
                })
            },

            checkCapitalize(crID){
                Swal.fire({
                    title: "Are you sure?",
                    icon: 'warning',
                    html: 'Capitalizing this Completion Report adds its amount to its PPE book value.',
                    showCancelButton: true,
                    confirmButtonText: "I am sure."
                }).then(result=>{
                    if(result.isConfirmed){
                        this.capitalize(crID)
                    }
                })
            },

            addPPE(){
                message = "Adding PPE"
                Swal.fire({
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    html: `<div class="spinner-grow text-warning" role="status"></div> <div class="spinner-grow text-warning delay-1" role="status"></div> <div class="spinner-grow text-warning delay-2" role="status"></div> <br><br> <span class="font-bold font-size-18">${message} . . .</span> <br> <span class="font-size-12 gray font-medium">Press F12 to check if something went wrong.</span>`
                })
                axios.post('/addppe/', this.create, this.config)
                .then(res=>res.data==0?location.reload():'')
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: err.message,
                        icon: 'error',
                        showCancelButton: true,
                        confirmButtonText: "Reload Page",
                        cancelButtonText: "Dismiss"
                    })
                    .then((result) => {
                        if(result.isConfirmed){
                            location.reload()
                        }
                    })
                })
            },

            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                day = days[value.getDay()]
                formatted = `${day} - ${month}. ${date}, ${year}`

                return formatted
            },

            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },
        },
    })
</script>

<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            buttons: {
                buttons: [
                {
                    text: 'Add PPE',
                    className: 'btn btn-warning',
                    titleAttr: 'Add PPE',
                    action: function(){
                        $("#addPPE").modal('show')
                    }
                },
                
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: `<i class="fas fa-file-import"></i>`,
                    className: 'btn btn-table',
                    titleAttr: 'Import',
                    action: function(){
                        $("#import").modal('show')
                    }
                },
                {
                    text: `<i class="fas fa-file-download"></i>`,
                    className: 'btn btn-table text-success',
                    titleAttr: 'Download Excel Template',
                    action: function(){
                        location.href="/static/files/PPE-Import-Template.xlsx"
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

{% endblock %}