{% extends 'base-template.html' %}
{% block title %}Purchase Request | Approved{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-approvals" photo="/media/{{request.user.image}}"></navbar-gas>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <app-card></app-card>
    <notification-card></notification-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/pr-nonapproved/" class="mx-2">Pending</a>
                <a href="/pr-approved/" class="active-gas mx-2">Approved</a>
            </div>
        </div>

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Purchase Request</span>
        </div>

        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>PR Code</th>
                <th>Date Created</th>
                <th>Date Needed</th>
                <th>Created By</th>
            </thead>
            <tbody>
                {% for item in purchase %}
                {% if item.voided %}
                <tr class="voided">
                {% else %}
                <tr>
                {% endif %}
                    <td @click="viewPR('{{item.pk}}')" class="link" data-toggle="modal" data-target="#prModal">{{item.code}}</td>
                    <td>{{item.dateRequested}}</td>
                    <td>{{item.dateNeeded}}</td>
                    <td>{{item.createdBy.first_name}} {{item.createdBy.last_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- VIEW MODAL -->
        <div class="modal fade" id="prModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL 1 -->
                            <div class="col-6 mt-3">
                                <label class="gray">PR Code</label><br>
                                <span class="font-size-14 font-bold">[[prModal.code]]</span>
                            </div>
                            <div class="col-6 mt-3">
                                <label class='gray'>Status</label><br>
                                <span v-if="prModal.approved" class="font-size-14 font-bold approved">Approved</span>
                                <span v-else class="font-size-14 font-bold pending">Pending</span>
                            </div>
                            <!-- LVL 2 -->
                            <div class="col-6 my-3">
                                <label for="" class="gray">Date Requested</label><br>
                                <span class="font-size-14 font-bold">[[formatDate(this.prModal.dateRequested)]]</span>
                            </div>
                            <div class="col-6 my-3">
                                <label for="" class="gray">Date Needed</label><br>
                                <span class="font-size-14 font-bold">[[formatDate(prModal.dateNeeded)]]</span>
                            </div>
                            <!-- LVL 3 -->
                            <div class="col-6 mb-3">
                                <label class="gray">Created By</label><br>
                                <span class="font-size-14 font-bold">[[prModal.createdBy.first_name]] [[prModal.createdBy.last_name]]</span>
                            </div>
                        </div>

                        <!-- PR ITEMS -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">PR Items</span>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-sm table-striped table-borderless">
                                <thead>
                                    <th><span class="font-bold gray">Item Code - Item Class Type</span></th>
                                    <th><span class="font-bold gray">Remaining</span></th>
                                    <th><span class="font-bold gray">Qty</span></th>
                                </thead>
                                <tbody>
                                    <tr v-for="item in prModal.pritemsmerch">
                                        <td>[[item.merchInventory.code]] - [[item.merchInventory.classification]] [[item.merchInventory.type]]</td>
                                        <td>[[item.remaining]]</td>
                                        <td>[[item.qty]] [[units[item.unit] ]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- VENDOR QUOTES -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">Vendor Quotes</span>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-sm table-striped table-borderless">
                                <tbody>
                                    <tr v-for="item in prModal.vendorquotesmerch">
                                        <td class="px-3">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="font-bold">[[item.merchInventory.code]] - [[item.merchInventory.classification]] [[item.merchInventory.type]]</span>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-6" v-for="qItem in item.vendorquotesitemsmerch">
                                                    <span>₱[[formatPrice(qItem.price)]]</span><br>
                                                    <span class="gray">[[qItem.party.name]]</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- VOID BUTTON -->
                        <div class="row" v-if="prModal.voided != true">
                            <div class="col">
                                <button class="col btn btn-danger" @click="voidCheck([[prModal.id]])">Void</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            "pageLength": 25,
            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: "RAW",
                    className: 'btn btn-table font-size-10',
                    titleAttr: 'View Raw Numbers',
                    action: function(){
                        app.roundToggler()
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            units: [
                'PC',
                'KG',
                'L'
            ],
            prModal: {
                voided: null,
                id: null,
                code: null,
                datetimeCreated: null,
                dateRequested: null,
                dateNeeded: null,
                department: null,
                intendedFor: null,
                datetimeApproved: null,
                approved: null,
                createdBy: {
                    first_name: null,
                    last_name: null,
                },
                approvedBy: {
                    first_name: null,
                    last_name: null,
                },
                pritemsmerch: [{
                    id: null,
                    merchInventory: {
                        id: null,
                        code: null,
                        classification: null,
                        type: null,
                    },
                    remaining: null,
                    qty: null,
                }],

                vendorquotesmerch: [{
                    id: null,
                    merchInventory: {
                        id: null,
                        code: null,
                        classification: null,
                        type: null,
                    },
                    vendorquotesitemsmerch: [{
                        id: null,
                        party: {
                            id: null,
                            name: null,
                        },
                        price: null,
                    }]
                }],

                roundToggle: false,
            }
        },
        methods: {
            voidCheck(id){
                Swal.fire({
                    title: 'Warning',
                    html: 'Are you sure you want to void this item?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes'
                }).then((result)=>{
                    if(result.isConfirmed) {
                        this.voidPR(id)
                    }
                })
            },
            voidPR(id){
                axios.put(`/pr-void/${id}/`, '', this.config)
                .then(res=>res.data==0?location.reload():'')
            },
            viewPR(code){
                console.log(code)
                axios.get(`/api/purchase-request/${code}/`)
                .then(res=>this.prModal=res.data)
            },
            roundNumber2(value) {
                if (this.roundToggle){
                    return value
                } else {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },
            roundToggler(){
                this.roundToggle = !this.roundToggle
            },
            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                formatted = `${month}. ${date}, ${year}`

                return formatted
            },
            formatDateTime(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                const days = [
                    'Sun',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                hour = (value.getHours() + 24) % 12 || 12; 
                minute = (value.getMinutes()<10?'0':'') + value.getMinutes()
                day = days[value.getDay()]
                meridian = value.getHours() >= 12 ? 'pm' : 'am'
                formatted = `${month}. ${date}, ${year} - ${hour}:${minute} ${meridian}`

                return formatted
            },
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            formatDate(value){
                const months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]

                value = new Date(value)
                year = value.getFullYear()
                month = months[value.getMonth()]
                date = value.getDate()
                formatted = `${month}. ${date}, ${year}`

                return formatted
            },
        },
    })
</script>
{% endblock %}