{% extends "base-template.html" %}
{% block title %}Purchase Order{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-gas active="nav-purchase" photo="/media/{{request.user.image}}"></navbar-gas>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links gas-nav">
                <a href="/purchase-order/" class="active-gas mx-2">Create</a>
                <a href="/purchase-order-list/" class="mx-2">PO List</a>
            </div>
        </div> 
        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">Purchase Order</span>
        </div>
        <!-- PURCHASE -->
        <div>
            <!-- REFERENCE NO AND DATES -->
            <div class="row">
                <div class="col col-3 pr-2">
                    <label>Reference No.</label>
                    <input v-model="purchaseOrder.code" type="text" class="form-control" name="code" placeholder="Enter Reference No."a>
                </div>
                <div class="col col-2 px-2">
                    <label>Date</label>
                    <input v-model="purchaseOrder.date" type="date" class="form-control" name="date">
                </div>
                <div class="col col-2 px-2">
                    <label><span>Retroactive</span>&nbsp;<span class="font-size-10 gray">(optional)</span></label>
                    <input v-model="purchaseOrder.retroactive" type="date" class="form-control" name="retroactiveDate">
                </div>
                <div class="col col-2 pl-2">
                    <label>Purchase Request</label>
                    <select name="pr" class="form-control">
                        <option value="-1" selected disabled>Choose Request</option>
                        <option value="">None</option>
                    </select>
                </div>
            </div>
            <!-- VENDOR -->
            <div class="row mt-2 mb-4">
                <div class="col col-5 pr-2">
                    <label>Vendor</label>
                    <select v-model="purchaseOrder.vendor" name="vendor" class="form-control">
                        <option value="" selected disabled>Choose Vendor</option>
                        <option v-for="v in vendor" :value="v.id">[[v.name]]</option>
                    </select>
                </div>
                <div class="col col-2 px-2">
                    <label>Tax Type</label>
                    <select v-model="purchaseOrder.taxType" class="form-control">
                        <option value="" selected disabled>Choose Tax Type</option>
                        <option value="VAT">VAT</option>
                        <option value="Percentage">Percentage</option>
                    </select>
                </div>
                <div class="col col-2 pl-2">
                    <label for="">Tax Rate</label>
                    <select v-model="purchaseOrder.taxRate" class="form-control">
                        <option value="" selected disabled>Choose Tax Rate</option>
                        <option value="0">0%</option>
                        <option value="1">1%</option>
                        <option value="3">3%</option>
                        <option value="12">12%</option>
                        <option value="30">30%</option>
                    </select>
                </div>
            </div>

            <!-- PURCHASE ITEMS AND DETAILS -->
            <div class="container-extend px-5 py-4 b-tr-radius-15 b-tl-radius-15 order-card mt-3">
                <div class="row">
                    <div class="col px-1">
                        <label for="code" class="m-0">Inventory</label>
                    </div>
                    <div class="col-3 px-1">
                        <label for="warehouse" class="m-0">Item-Code - Item name</label>
                    </div>
                    <div class="col-1 px-1">
                        <label for="remaining" class="m-0">Remaining</label>
                    </div>
                    <div class="col-1 px-1">
                        <label for="order-quantity" class="m-0">Order Qty</label>
                    </div>
                    <div class="col-2 px-1">
                        <label for="order-quantity" class="m-0">Purchasing Price <span class="font-size-10 gray">per qty</span></label>
                    </div>
                    <div class="col-2 px-1">
                        <label for="Total Cost" class="m-0">Total Cost</label>
                    </div>
                    <i class="fas fa-minus-circle stop" style="color:rgba(0,0,0,0)"></i>
                </div>
                <!-- V-FOR ITEMS -->
                <div class="row" v-for="(item, index) in purchaseOrder.items">
                    <div class="col px-1">
                        <select v-model="item.type" class="form-control">
                            <option value="" selected disabled>Choose Type</option>
                            <option v-for="type in inventoryTypes" :value="type">[[type]]</option>
                        </select>
                    </div>
                    <div class="col-3 px-1">
                        <!-- V-IF ELSE FOR DIFFERENT INVENTORY LIST -->
                        <select @change="getMerchRemaining(item.code, index)" v-model="item.code" class="form-control" v-if="item.type == 'Merchandise'">
                            <option value="" selected disabled>Choose Merchandise Inventory</option>
                            <option v-for="item in merchandiseInventory" :value="item.id">[[item.code]] - [[item.classification]] [[item.type]]</option>
                        </select>
                        <select v-model="item.code" class="form-control" v-else></select>
                        <!-- END -->
                    </div>
                    <div class="col-1 px-1">
                        <input v-model="item.remaining" type="number" class="form-control" readonly>
                    </div>
                    <div class="col-1 px-1">
                        <input v-model="item.quantity" @change="onForTotalCost(index)" type="number" class="form-control" min="0">
                    </div>
                    <div class="col-2 px-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">₱</span>
                            </div>
                            <input v-model="item.vatable" @change="onForTotalCost(index)" type="number" step="0.01" class="form-control box-shadow-off" min="0">
                        </div>
                    </div>
                    <div class="col-2 pl-1">
                        <input type="text" :value="formatPrice(item.totalCost)" class="form-control" readonly>
                    </div>
                    <i @click="remove(index)" class="fas fa-minus-circle stop text-shadow-small" style="line-height: 30px;"></i>
                </div>
                <!-- ADD NEW LINE -->
                <div class="row">
                    <div class="col px-1">
                        <button @click="addLine()" class="btn btn-warning my-1" type="button">+ Add New Line</button>
                    </div>
                </div>

                <!-- ATC AND AMOUNT -->
                <div class="row mt-2">
                    <!-- ATC AND MORE -->
                    <div class="col-6 pl-0">
                        <div class="p-4 order-card-darker b-radius-15">
                            <div class="row">
                                <div class="col-3 px-1">
                                    <label>ATC Code</label>
                                </div>
                                <div class="col-3 px-1">
                                    <label>Tax Base</label>
                                </div>
                                <div class="col-3 px-1">
                                    <label>Tax Rate</label>
                                </div>
                                <div class="col-3 px-1">
                                    <label>Amount Withheld</label>
                                </div>
                            </div>
                            <div class="row" v-for="(line, index) in purchaseOrder.atc">
                                <div class="col-3 px-1">
                                    <select v-model="line.code" class="form-control" @change="setATCRate(line.code, index)">
                                        <option value="">None</option>
                                        <optgroup v-for="atcGroup in formattedATCList" :label="atcGroup.name">
                                            <option v-for="atc in atcGroup.list" :value="atc.id">[[atc.code]]</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-3 px-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input v-model="line.amount" type="number" step="0.02" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                                <div class="col-3 px-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input v-model="line.taxRate" type="number" step="0.02" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                                <div class="col-3 px-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input :value="formatPrice(line.amountWithheld)" type="number" step="0.02" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                            </div>
                            <!-- REMARKS -->
                            <div class="row mt-2">
                                <div class="col-12 px-1">
                                    <label>Remarks</label>
                                    <textarea v-model="purchaseOrder.remarks" cols="30" rows="2" class="form-control" placeholder="Enter Remarks (Optional)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- AMOUNT AND PAYMENT -->
                    <div class="col-6 pr-0">
                        <div class="p-4 order-card-darker b-radius-15">
                            <div class="row">
                                <div class="col px-1">
                                    <label>Sub-Total</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input type="text" :value="formatPrice(purchaseOrder.amountDue)" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 px-1">
                                    <label>Tax <span class="gray font-size-10">Inclusive</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input :value="formatPrice(purchaseOrder.taxPeso)" type="text" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                                <div class="col-6 px-1">
                                    <label>Withholding Tax</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input :value="formatPrice(purchaseOrder.withholdingTax)" type="text" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 px-1">
                                    <label>Total</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input type="text" :value="formatPrice(purchaseOrder.amountTotal)" class="form-control box-shadow-off" readonly>
                                    </div>
                                </div>
                                <div class="col-6 px-1">
                                    <label>Amount Paid</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₱</span>
                                        </div>
                                        <input v-model="purchaseOrder.amountPaid" type="number" step="0.01" class="form-control box-shadow-off" min="0" :max="purchaseOrder.amountDue">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 px-1">
                                    <label>Payment Method</label>
                                </div>
                                <div class="col-12 px-1">
                                    <div class="d-flex align-items-center">
                                        <select v-model="purchaseOrder.paymentMethod" class="col col-5 form-control">
                                            <option value="" selected disabled>Choose Payment Method</option>
                                            <option value="Cash on Hand">Cash on Hand</option>
                                            <option value="Cash in Bank">Cash in Bank</option>
                                            <option value="Cheque">Cheque</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div class="col ml-2 form-check form-check-inline">
                                            <input v-model="purchaseOrder.paymentPeriod" value="Full Payment" name="radios" type="radio" class="form-check-input">
                                            <label class="form-check-label">Full Payment</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input v-model="purchaseOrder.paymentPeriod" value="Partial Payment" name="radios" type="radio" class="form-check-input">
                                            <label class="form-check-label">Partial Payment</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 px-1">
                                    <label>Cheque No.</label>
                                    <input v-model="purchaseOrder.chequeNo" type="text" class="form-control" placeholder="Leave blank if applicable">
                                </div>
                                <div class="col-6 px-1">
                                    <label>Due Date</label>
                                    <input v-model="purchaseOrder.dueDate" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1">
                                    <label>Bank</label>
                                    <input v-model="purchaseOrder.bank" type="text" class="form-control" placeholder="Leave blank if applicable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="checkForm()" class="container-extend border container-extend btn-bottom">
                Save
            </div>
        </div>
        <form hidden action="/import-atc/" enctype="multipart/form-data" method="POST">{%csrf_token%}
            <label>import atc list</label><br>
            <input type="file" name="excel"><br>
            <button>Import</button>
        </form>
    </div>
    <pre>[[ $data ]]</pre>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data:{
            config:{
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            inventoryTypes: [
                'Merchandise',
                'Manufacturing'
            ],
            purchaseOrder:{
                code: '{{new_code}}',
                date: new Date().toISOString().split('T')[0],
                dateTimeCreated: new Date().toISOString(),
                retroactive: null,
                vendor: '',
                taxType: '',
                taxRate: '',
                items: [{
                    type: '',
                    code: '',
                    remaining: null,
                    quantity: null,
                    vatable: 0.00,
                    inputVAT: 0,
                    totalCost: null
                }],
                atc: [{
                    code: '',
                    amount: 0,
                    taxRate: 0,
                    amountWithheld: 0,
                }],
                taxPeso: 0,
                withholdingTax: 0,
                remarks: null,
                amountDue: '0',
                amountTotal: 0,
                amountPaid: null,
                paymentMethod: '',
                paymentPeriod: null,
                chequeNo: null,
                dueDate: null,
                bank: null,
            },
            vendor: [],
            merchandiseInventory: [],
            atcList: [],
            formattedATCList: [],
            errors: []

        },
        computed: {
            amountDue(){
                return this.purchaseOrder.items.map(item=>item.totalCost)
            },

            amountPaid(){
                return Number(this.purchaseOrder.amountPaid)
            },
            amountDue2(){
                return Number(this.purchaseOrder.amountDue)
            },
            amountTotal(){
                return Number(this.purchaseOrder.amountTotal)
            },
            amountWithheld(){
                return this.purchaseOrder.atc.map(item=>item.amountWithheld)
            },
            taxRate(){
                return Number(this.purchaseOrder.taxRate)
            }
        },

        watch: {
            amountDue(){
                this.purchaseOrder.amountDue = (this.amountDue.reduce((a, b)=>Number(a)+Number(b), 0)).toFixed(5)
                this.purchaseOrder.atc.forEach(item=>{
                    item.amount = Number(this.purchaseOrder.amountDue).toFixed(2)
                })

                this.purchaseOrder.amountTotal = this.purchaseOrder.amountDue - (this.amountWithheld.reduce((a,b)=>Number(a)+Number(b),0)).toFixed(5)
                this.purchaseOrder.taxPeso = (Number(this.amountTotal) * Number(this.taxRate/100))
                this.purchaseOrder.withholdingTax = (this.amountWithheld.reduce((a,b)=>Number(a)+Number(b),0)).toFixed(5)
                this.purchaseOrder.atc[0].amountWithheld = ((this.purchaseOrder.atc[0].taxRate) / 100) * this.purchaseOrder.amountDue
            },

            amountTotal(){
                if (this.amountPaid == this.amountTotal){
                    this.purchaseOrder.paymentPeriod = 'Full Payment'
                } else {
                    this.purchaseOrder.paymentPeriod = 'Partial Payment'
                }
            },

            amountPaid(){
                if (this.amountPaid == this.amountTotal){
                    this.purchaseOrder.paymentPeriod = 'Full Payment'
                } else {
                    this.purchaseOrder.paymentPeriod = 'Partial Payment'
                }
            },
            amountWithheld(){
                this.purchaseOrder.amountTotal = this.purchaseOrder.amountDue - (this.amountWithheld.reduce((a,b)=>Number(a)+Number(b),0)).toFixed(5)
                this.purchaseOrder.taxPeso = (Number(this.amountTotal) * Number(this.taxRate/100))
                this.purchaseOrder.withholdingTax = (this.amountWithheld.reduce((a,b)=>Number(a)+Number(b),0)).toFixed(5)
            },
            taxRate(){
                this.purchaseOrder.taxPeso = (Number(this.amountTotal) * Number(this.taxRate/100))
                this.purchaseOrder.withholdingTax = (this.amountWithheld.reduce((a,b)=>Number(a)+Number(b),0)).toFixed(5)
            }
        },

        methods:{

            loadData(){
                axios.get('/api/vendor/')
                .then(res=>this.vendor=res.data)
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: 'vendor failed to fetch',
                        icon: 'error'
                    })
                })

                axios.get('/api/merchinventory/')
                .then(res=>this.merchandiseInventory=res.data)
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: 'inventory failed to fetch',
                        icon: 'error'
                    })
                })

                axios.get('/api/atc/')
                .then(res=>this.atcList=res.data)
                .then(res=>{
                    var wiTempList = []
                    var wcTempList = []

                    this.atcList.forEach((item, index)=>{
                        if(item.code.includes('WI')){
                            wiTempList.push(item)
                        } else {
                            wcTempList.push(item)
                        }
                        this.formattedATCList = [
                            {
                                name: 'Individual',
                                list: wiTempList
                            },
                            {
                                name: 'Corporation',
                                list: wcTempList
                            }
                        ]
                    })
                })
                .catch(err=>{
                    Swal.fire({
                        title: "Something went wrong.",
                        html: 'atc failed to fetch',
                        icon: 'error'
                    })
                })
            },

            checkForm(e){
                var success1 = false
                var success2 = false
                if (
                    this.purchaseOrder.code &&
                    this.purchaseOrder.date &&
                    this.purchaseOrder.vendor &&
                    this.purchaseOrder.amountPaid &&
                    this.purchaseOrder.paymentMethod &&
                    this.purchaseOrder.paymentPeriod &&
                    this.purchaseOrder.taxType &&
                    this.purchaseOrder.taxRate
                    )
                {
                    for(var item of this.purchaseOrder.items){
                        console.log(item.type, item.code, item.quantity, item.vatable, item.totalCost)
                        if(
                            item.type &&
                            item.code &&
                            item.quantity &&
                            item.vatable &&
                            item.totalCost
                        )
                        {
                            success1=true
                            console.log('i was here', success1)
                        } else {
                            success1 = false
                            break
                        }
                    }
                    for(var item of this.purchaseOrder.atc){
                        if(
                            item.code &&
                            item.amount &&
                            item.taxRate &&
                            item.amountWithheld
                        )
                        {
                            success2=true
                            console.log('i was here 2', success2)
                        } else {
                            success2=false
                            break
                        }
                    }
                    if(success1 && success2){
                        this.submit()
                        return
                    }
                }
                this.errors = []
                success = true
                if (!this.purchaseOrder.code){
                    this.errors.push('Code Required')
                }
                if (!this.purchaseOrder.date){
                    this.errors.push('Date Required')
                }
                if (!this.purchaseOrder.vendor){
                    this.errors.push('Vendor Required')
                }
                if (!this.purchaseOrder.amountPaid){
                    this.errors.push('Amount Paid Required')
                }
                if (!this.purchaseOrder.paymentMethod){
                    this.errors.push("Payment Method Required")
                }
                if (!this.purchaseOrder.paymentPeriod){
                    this.errors.push('Payment Period Required')
                }
                if (!this.purchaseOrder.taxType){
                    this.errors.push('Tax Type Required')
                }
                if (!this.purchaseOrder.taxRate){
                    this.errors.push('Tax Rate Required')
                }

                this.purchaseOrder.items.forEach((item, index)=>{
                    if(!item.type){
                        this.errors.push('Item Type Required at index: ' + String(index+1))
                    }
                    if(!item.code){
                        this.errors.push('Item Code Required at index: ' + String(index+1))
                    }
                    if(!item.quantity){
                        this.errors.push('Item Quantity Required at index: ' + String(index+1))
                    }
                    if(!item.vatable){
                        this.errors.push('Purchasing Price Required at index: ' + String(index+1))
                    }
                    if(!item.totalCost){
                        this.errors.push('Total Cost Required at index: ' + String(index+1))
                    }
                })

                this.purchaseOrder.atc.forEach((item, index)=>{
                    if(!item.code){
                        this.errors.push('ATC Code Required at index: ' + String(index+1))
                    }
                    if(!item.amount){
                        this.errors.push('ATC Amount Required at index: ' + String(index+1))
                    }
                    if(!item.taxRate){
                        this.errors.push('ATC Tax Rate Required at index: ' + String(index+1))
                    }
                    if(!item.amountWithheld){
                        this.errors.push('ATC Amount Withheld Required at index: ' + String(index+1))
                    }
                })

                Swal.fire({
                    title: "Unfilled Inputs",
                    html: this.errors.join('<br>'),
                    icon: 'warning'
                })
            },
            
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            addLine(){
                this.purchaseOrder.items.push({
                    type: '',
                    code: '',
                    remaining: null,
                    quantity: null,
                    vatable: 0.00,
                    inputVAT: 0,
                    totalCost: null
                })
            },

            addATC(){
                this.purchaseOrder.atc.push({
                    code: '',
                    amount: Number(this.amountDue).toFixed(2),
                    taxRate: 0,
                    amountWithheld: 0,
                })
            },

            getMerchRemaining(id, index){
                item = this.merchandiseInventory.find(x=>x.id==id)
                this.purchaseOrder.items[index].remaining = item.qtyA
            },

            onForTotalCost(index){
                row = this.purchaseOrder.items[index]
                row.totalCost = Number(row.vatable * row.quantity).toFixed(4)
            },

            remove (index) {
                this.$delete(this.purchaseOrder.items, index)
            },
            submit(){
                if(Number(this.purchaseOrder.amountTotal) >= Number(this.purchaseOrder.amountPaid)){
                    axios.post('/save-purchase-order/', this.purchaseOrder, this.config)
                    .then(res=>res.data==0?location.reload():'')
                } else {
                    Swal.fire({
                        title: 'Something went wrong',
                        html: "Total should be less than or equal to Amount Due.",
                        icon: 'warning'
                    })
                }
                
            },
            setATCRate(code, index){
                object = this.atcList.find(x=>x.id==code)
                this.purchaseOrder.atc[index].taxRate = ((object.rate)*100).toFixed(2)

                this.purchaseOrder.atc[index].amountWithheld = (((this.purchaseOrder.atc[index].taxRate)/100) * this.purchaseOrder.atc[index].amount).toFixed(2)
            }
        },
        mounted(){
            this.loadData()
        }
    })
</script>

{% endblock %}