{% extends "base-template.html" %}
{% block title %}Inventory Transfer | Pending{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-imps active="nav-approvals" photo="/media/{{request.user.image}}"></navbar-imps>
    <app-card></app-card>
    <profile-card branch="{{request.user.branch.name}}" first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>
    <!-- END NAVIGATION -->

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links imps-nav">
                <a href="/tr-nonapproved/" class="active-imps mx-2">Pending</a>
                <a href="/tr-approved/" class="mx-2">Approved</a>
            </div>
        </div> 

        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1 mt-3">Inventory Transfer</span>
        </div>
        <!-- END TITLE AND BUTTONS -->

        <div class="modal fade" id="trModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <button class="col btn btn-primary" @click="approveTR(modal.id)">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>Transfer Code</th>
                <th>Datetime Created</th>
                <th>New Warehouse</th>
                <th>Total Cost</th>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                <tr>
                    <td class="link" data-toggle="modal" data-target="#trModal" @click="viewTransfer({{transfer.pk}})">{{transfer.code}}</td>
                    <td>{{transfer.datetimeCreated}}</td>
                    <td>{{transfer.newWarehouse}}</td>
                    <td>₱[[formatPrice('{{transfer.totalCost}}')]]</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <pre>[[$data]]</pre>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $.fn.dataTable.moment( 'MMMM D, YYYY' );
        $.fn.dataTable.moment( 'dddd, MMMM Do, YYYY' );
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            
            "order": [[ 0, "desc" ]],
            "pageLength": 25,

            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                {
                    text: "RAW",
                    className: 'btn btn-table font-size-10',
                    titleAttr: 'View Raw Numbers',
                    action: function(){
                        app.roundToggler()
                    }
                }
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
    $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data:{
            config: {
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            modal: {
                id: null,
            }
        },
        methods: {
            formatPrice(val){
                val = Number(val).toFixed(2)
                var num = val.replace(/,/gi, "");
                var num1 = num.split('.')
                var num2 = num1[0].split(/(?=(?:\d{3})+$)/).join(",");
                val = (num1[1] === undefined ? num2 : num2 + "." + num1[1])
                return val
            },

            viewTransfer(id){
                axios.get(`/api/transfer/${id}/`)
                .then(res=>{
                    console.log(res.data)
                    this.modal=res.data
                })
            },

            approveTR(id){
                $("#poModal").modal('hide')
                axios.put(`/tr-approval/${id}/`, '', this.config)
                .then(res=>res.data==0?location.reload():'')
            }
        }
    })
</script>

{% endblock %}