{% extends "base-template.html" %}
{% block title %}In-Transit{% endblock %}

{% block body %}

<div id="app" v-cloak>
    <!-- NAVIGATION BAR -->
    <navbar-imps active="nav-deliveries" photo="/media/{{request.user.image}}"></navbar-imps>
    <app-card></app-card>
    <profile-card first_name="{{request.user.first_name}}" last_name="{{request.user.last_name}}" position="{{request.user.position}}" auth_level="{{request.user.authLevel}}" photo="/media/{{request.user.image}}/"></profile-card>

    <!-- MAIN BODY -->
    <div class="container">
        <!-- MORE NAVIGATION -->
        <div class="d-flex font-semibold mb-2 justify-content-center">
            <div class="justify-content-center c-nav-links imps-nav">
                <a href="/deliveries/" class="mx-2">Send Deliveries</a>
                <a href="/trucks/" class="mx-2">Trucks</a>
                <a href="/drivers/" class="mx-2">Drivers</a>
                <a href="/in-transit/" class="active-imps mx-2">In-transit</a>
            </div>
        </div>
        <!-- TITLE AND BUTTONS -->
        <div class="d-flex align-items-center mb-3">
            <span class="font-size-18 font-bold mr-1">In-Transit</span>
        </div>
        <!-- TABLE -->
        <table id="table" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-3">
            <thead class="thead-dark">
                <th>Plate Number</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Driver</th>
            </thead>
            <tbody>
                {% for truck in trucks %}
                <tr>
                    <td>{{truck.plate}}</td>
                    <td>{{truck.brand}}</td>
                    <td>{{truck.model}}</td>
                    <td>{{truck.driver.firstName}} {{truck.driver.lastName}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- MODAL -->
        <div class="modal fade" id="truckModal">
            <div class="modal-dialog">
                <div class="modal-content b-radius-15">
                    <div class="modal-body">
                        <!-- TOP CARD -->
                        <div class="order-card row my-2">
                            <!-- LVL 1 -->
                            <div class="col-6 mt-3">
                                <label class="gray">Truck</label><br>
                                <span class="font-size-14 font-bold">[[truckModal.truck.brand]] [[truckModal.truck.model]]</span>
                            </div>
                            <div class="col-6 my-3">
                                <label class="gray">Plate</label><br>
                                <span class="font-size-14 font-bold">[[truckModal.truck.plate]]</span>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="gray">Driver</label><br>
                                <span class="font-size-14 font-bold">[[truckModal.driver.firstName]] [[truckModal.driver.lastName]]</span>
                            </div>
                        </div>

                        <!-- DESTINATIONS -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">Destinations</span>
                            </div>
                        </div>

                        <!-- DESTINATION ITEMS -->
                        <div class="row">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <th><span class="font-bold gray">Destinations</span></th>
                                </thead>
                                <tbody>
                                    <tr v-for="dest in truckModal.deliverydestinations">
                                        <td>[[dest.destination]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- LOAD -->
                        <div class="row mt-4">
                            <div class="col">
                                <span class="font-bold">Load</span>
                            </div>
                        </div>

                        <!-- LOAD ITEMS -->
                        <div class="row">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <th><span class="font-bold gray">Item Code - Item name</span></th>
                                    <th><span class="font-bold gray">Qty</span></th>
                                </thead>
                                <tbody v-for="itemgroup in truckModal.deliveryitemsgroup">
                                    <tr v-for="item in itemgroup.deliveryitemsmerch">
                                        <td>[[item.merchInventory.code]] [[item.merchInventory.name]]</td>
                                        <td>[[item.qty]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="#" @click="returnTruck(truckModal.truck.id)"  title="Click if truck has returned">Return Truck</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre>[[$data]]</pre>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#table').DataTable({
            language: { search: '', searchPlaceholder: 'Search'},
            dom: "<'d-flex p-0 m-0 '<'p-0 m-0 justify-content-start d-flex flex-fill align-items-center flex-grow-0 mr-3 'l><'justify-content-center flex-fill 'B><'justify-content-end flex-fill  align-items-center'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

            buttons: {
                buttons: [
                {
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn text-success btn-table',
                    titleAttr: 'Export Excel',
                    extend: 'excel'
                },
                {
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn text-warning btn-table',
                    titleAttr: 'Export CSV',
                    extend: 'csv'
                },
                {
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-table',
                    titleAttr: 'Print',
                    extend: 'print'
                },
                ],
                dom: {
                    button: {
                        className: 'btn'
                    }
                }
            },
            "initComplete": function(){
                $("#loader-container").hide()
                $("#loader").hide()
                $('#table').show()
            },
        
        });
    });
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data:{
            config: {
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            },
            truckModal: {
                truck: {
                    brand: null,
                    model: null,
                    plate: null,
                },
                driver: {
                    firstName: null,
                    lastName: null,
                },
                deliverydestination: [{
                    destination: null,
                }],
                deliveryitemsgroup: [{
                    deliveryitemmerch: [{
                        qty: null,
                        merchInventory: {
                            code: null,
                            name: null
                        }

                    }]
                }]
            }
        },
        methods: {
            viewTruck(plate){
                truckObject = this.$root.$refs.table.items.find(x=>x.plate == plate)

                axios.get(`/api/special-truck/${truckObject.currentDelivery}`)
                .then(res=>this.truckModal = res.data)

                console.log(this.truckModal)
            },
            returnTruck(id){
                $("#truckModal").modal('hide')
                axios.put(`/return-truck/${id}/`, null, this.config)
                .then(res=>this.$root.$refs.table.loadData())
            }
        },

        created() {
            this.$root.$refs.app = this;
        },
    })
</script>

{% endblock %}